@import '../../../fonts';

$icon_radius: 60px;	// halved
$icon_height: 120px;
$icon_height_no_border: 108px;	// -12
$icon_height_rotated: 76px; 		// with trigonometry

.SquadMech {
	// margin-top: -62px;
	margin-top: -50px;

	&:first-child { margin-top: 0; }

	// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
	// ~ overall layout ~ //
	.arrow-and-statuses {
		display: flex;

		&.points-left {
			flex-direction: row;
			// margin-left: auto;
		}

		&.points-right {
			flex-direction: row-reverse;
			// margin-right: auto;
		}

		.status-container {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			// width: 10%;
		}

		.arrow-container {
			display: grid;
			grid-template-columns: repeat(4, $icon_radius);
			grid-template-rows: repeat(2, $icon_radius);
		}
	}

	// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
	// ~ placement of things within the arrow/status containers ~ //
	.status-container {
		&.points-left { text-align: left; }

		&.points-right { text-align: right; }
	}

	.arrow-container {
		&.points-left {
			.backdrop {
				grid-column: 2 / span 3;
				grid-row: 1 / span 2;
			}

			.pilot-container, .pilot-frame {
				grid-column: 1 / span 2;
				grid-row: 1 / span 2;
			}

			.mech-container, .mech-frame {
				grid-column: 3 / span 2;
				grid-row: 1 / span 2;
			}

			.IconTriangle.structure {
				grid-column: 4 / span 1;
				grid-row: 1 / span 1;
			}

			.IconTriangle.stress {
				grid-column: 4 / span 1;
				grid-row: 2 / span 1;
			}
		}

		&.points-right {
			.backdrop {
				grid-column: 1 / span 3;
				grid-row: 1 / span 2;
			}

			.pilot-container, .pilot-frame {
				grid-column: 3 / span 2;
				grid-row: 1 / span 2;
			}

			.mech-container, .mech-frame {
				grid-column: 1 / span 2;
				grid-row: 1 / span 2;
			}

			.IconTriangle.structure {
				grid-column: 1 / span 1;
				grid-row: 1 / span 1;
			}

			.IconTriangle.stress {
				grid-column: 1 / span 1;
				grid-row: 2 / span 1;
			}
		}

		.StatTriangle.hp {
			grid-column: 2 / span 2;
			grid-row: 1 / span 1;
		}

		.StatTriangle.heat {
			grid-column: 2 / span 2;
			grid-row: 2 / span 1;
		}
	}

	// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
	// ~ base styling of the components ~ //

	.status-container {
		@include text_monospace;
		font-size: 12px;
		padding: 6px 6px;
	}

	.arrow-container {

		.backdrop {
			background-color: $rust;
			border: 4px solid $rust_dark;
		}

		.pilot-frame, .mech-frame {
			width: $icon_height_rotated;
			height: $icon_height_rotated;

			background-color: $parchment_dark;
			border: 4px solid $rust_dark;

			align-self: center;
			justify-self: center;

			transform: rotate(45deg);

		}

		.pilot-container, .mech-container {
			width: $icon_height_no_border;
			height: $icon_height_no_border;
			//
			// display: flex;
			// justify-content: center;
			// align-items: center;

			align-self: center;
			justify-self: center;

			clip-path: polygon(50% 0,100% 50%,50% 100%,0 50%);

			div { width: 100%; }

			img, div {
				height: 100%;
				margin: auto;
				display: block;
			}
		}

		.StatTriangle {
			@include text_monospace;
			display: flex;
			align-items: center;
			color: $pink;
			justify-content: flex-start;

			&.hp {
				flex-direction: column;
				margin-top: 6px;
			}

			&.heat {
				flex-direction: column-reverse;
				margin-bottom: 6px;
			}

			.label {
				font-size: 14px;
			}

			.numerical-count {
				font-size: 22px;
			}
		}
	}

}
