@import '../../../fonts';

$portrait_height: 120px; // SQUARE height of the portraites
$diamond_edge_length: 80px; // the length of each edge of the diamond to make that height

$border_width: 2px;

$pip_size: 13px; //structure/stress


.SquadMech {
	margin-top: -50px;
	&:first-of-type { margin-top: 0; }

	// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
	// ~ overall layout ~ //
	.arrow-and-statuses {
		display: flex;

		&.points-left {
			flex-direction: row;
		}

		&.points-right {
			flex-direction: row-reverse;
		}

		.status-container {
			display: flex;
			flex-direction: column;
		}

		.arrow-container {
			display: grid;
			grid-template-columns: repeat(4, calc(#{$portrait_height} * .5));
			grid-template-rows: repeat(2, calc(#{$portrait_height} * .5));
		}
	}

	// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
	// ~ placement of things within the arrow/status containers ~ //
	.status-container {
		&.points-left { text-align: left; }

		&.points-right { text-align: right; }
	}

	.arrow-container {
		&.points-left {
			.backdrop {
				grid-column: 2 / span 3;
				grid-row: 1 / span 2;
			}

			.pilot-container, .pilot-frame {
				grid-column: 1 / span 2;
				grid-row: 1 / span 2;
			}

			.mech-container, .mech-frame {
				grid-column: 3 / span 2;
				grid-row: 1 / span 2;
			}

			.IconTriangle.structure {
				grid-column: 4 / span 1;
				grid-row: 1 / span 1;
				transform: rotate(180deg);
			}

			.IconTriangle.stress {
				grid-column: 4 / span 1;
				grid-row: 2 / span 1;
				transform: rotate(-90deg);
			}
		}

		&.points-right {
			.backdrop {
				grid-column: 1 / span 3;
				grid-row: 1 / span 2;
			}

			.pilot-container, .pilot-frame {
				grid-column: 3 / span 2;
				grid-row: 1 / span 2;
			}

			.mech-container, .mech-frame {
				grid-column: 1 / span 2;
				grid-row: 1 / span 2;
			}

			.IconTriangle.structure {
				grid-column: 1 / span 1;
				grid-row: 1 / span 1;
				transform: rotate(90deg);
			}

			.IconTriangle.stress {
				grid-column: 1 / span 1;
				grid-row: 2 / span 1;
				// transform: rotate(0deg);
			}
		}

		.StatTriangle.hp {
			grid-column: 2 / span 2;
			grid-row: 1 / span 1;
		}

		.StatTriangle.heat {
			grid-column: 2 / span 2;
			grid-row: 2 / span 1;
		}
	}

	// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
	// ~ base styling of the components ~ //

	.status-container {
		@include text_monospace;
		font-size: 12px;
		width: 100%;

		background-color: $parchment_dark;
		color: $soft_black;

		border: $border_width solid $rust_dark;
		border-right: none;
		border-left: none;

		.external { padding: 6px; }

		.internal {
			padding: 6px;
			margin-top: auto;
		}

		.callsign {
			padding: 2px 6px;
			font-size: 16px;
			color: $pink;
			background-color: $rust_dark;
		}
	}

	.arrow-container {

		.backdrop {
			background-color: $rust;
			border: $border_width solid $rust_dark;
		}

		.pilot-frame, .mech-frame {
			width: $diamond_edge_length;
			height: $diamond_edge_length;

			background-color: $parchment_dark;
			border: $border_width solid $rust_dark;

			align-self: center;
			justify-self: center;

			transform: rotate(45deg);
		}

		.pilot-frame {
			&.points-right { border-top-color: $rust_dark; border-right-color: $rust_dark; }
			&.points-left { border-bottom-color: $rust_dark; border-left-color: $rust_dark; }
		}

		.pilot-container, .mech-container {
			width: calc(#{$portrait_height} - #{$border_width*3});
			height: calc(#{$portrait_height} - #{$border_width*3});
			align-self: center;
			justify-self: center;
			clip-path: polygon(50% 0,100% 50%,50% 100%,0 50%);

			div { width: 100%; }

			img, div {
				height: 100%;
				margin: auto;
				display: block;
			}
		}

		.StatTriangle {
			@include text_monospace;
			display: flex;
			align-items: center;
			color: $pink;
			justify-content: flex-start;

			&.hp {
				flex-direction: column;
				margin-top: $border_width;
				padding-top: 2px;
			}

			&.heat {
				flex-direction: column-reverse;
				margin-bottom: $border_width;
				padding-bottom: 2px;
			}

			.label { font-size: 14px; }
			.numerical-count { font-size: 24px; }
		}

		.IconTriangle {
			display: flex;
			justify-content: flex-start;
			align-items: flex-end;

			margin: $border_width;

			.icon-container {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: flex-end;
				width: calc(#{$pip_size} * 3);
				padding-top: $pip_size;
				transform: rotate(45deg);

				.asset {
					width: $pip_size;
					height: $pip_size;
					transform: rotate(45deg);

					// black to $pink
				  filter: invert(80%) sepia(22%) saturate(398%) hue-rotate(324deg) brightness(90%) contrast(88%);

					&.spent { opacity: .2; }
				}
			}
		}
	}
}
