@import '../../../fonts';

$portrait_height: 120px; // SQUARE height of the portraites
$diamond_edge_length: 80px; // the length of each edge of the diamond to make that height
$border_width: 2px;
$pip_size: 13px; //structure/stress

$boot_time: 1.5s;





@keyframes anim_structure {
	0% { transform: translate(50%, 50%); }
	20% { transform: translate(0, 0); }
}

@keyframes anim_stress {
	0% { transform: translate(50%, -50%); }
  20% { transform: translate(50%, -50%); }
	40% { transform: translate(0, 0); }
}

@keyframes anim_hp {
	0% { transform: translate(-50%, 50%); }
	40% { transform: translate(-50%, 50%); }
	60% { transform: translate(0, 0); }
}

@keyframes anim_heat {
	0% { transform: translate(-50%, -50%); }
  60% { transform: translate(-50%, -50%); }
	80% { transform: translate(0, 0); }
}

@keyframes anim_backdrop_rtl {
	0% { clip-path: polygon(100% 0,100% 0,100% 100%,100% 100%); }
	20% { clip-path: polygon(0 0,100% 0,100% 100%,0 100%); }
}

@keyframes anim_mech_rtl {
	0% { transform: translate(100%, 0); }
  20% { transform: translate(0, 0); }
}

@keyframes anim_status_container_rtl {
	0% { clip-path: polygon(100% 0,100% 0,100% 20%,100% 20%); }
	60% { clip-path: polygon(100% 0,100% 0,100% 20%,100% 20%); }
	80% { clip-path: polygon(0 0,100% 0,100% 20%,0 20%); }
	100% { clip-path: polygon(0 0,100% 0,100% 100%,0 100%); }
}




// @keyframes mech {
// 	0% { transform: translate(100%, 0); }
// 	20% { transform: translate(100%, 0); }
// 	40% { transform: translate(0, 0); }
// }



.SquadMech {
	margin-top: -50px;
	&:first-of-type { margin-top: 0; }
	@include below_max_width { margin-top: 20px; }

	// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
	// ~ animation ~ //
	.status-container {
		animation: anim_status_container_rtl $boot_time ease-out;
	}

	.arrow-container {
		.backdrop { animation: anim_backdrop_rtl $boot_time ease-out; }
		.mech-frame, .mech-container { animation: anim_mech_rtl $boot_time ease-out; }
		.StatTriangle.hp { animation: anim_hp $boot_time ease-in; }
		.StatTriangle.heat { animation: anim_heat $boot_time ease-in; }
		.IconTriangle.structure { animation: anim_structure $boot_time ease-in; }
		.IconTriangle.stress { animation: anim_stress $boot_time ease-in; }
	}

	// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
	// ~ overall layout ~ //
	.arrow-and-statuses {
		display: flex;

		&.points-left {
			flex-direction: row;

			@include constricted {
				flex-direction: column;
				.arrow-container { margin-left: auto; }
			}
		}

		&.points-right {
			flex-direction: row-reverse;
			@include constricted { flex-direction: column; }
		}

		.status-container {
			display: flex;
			flex-direction: column;

			@include constricted { margin-top: -24px; }
		}

		.arrow-container {
			display: grid;
			grid-template-columns: repeat(4, calc(#{$portrait_height} * .5));
			grid-template-rows: repeat(2, calc(#{$portrait_height} * .5));
			z-index: 1;
		}
	}

	// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
	// ~ placement of things within the arrow/status containers ~ //
	.status-container {
		.callsign {
			display: flex;
			justify-content: space-between;
		}

		&.points-left {
			text-align: left;

			.callsign { flex-direction: row; }
		}

		&.points-right {
			text-align: right;

			.callsign { flex-direction: row-reverse; }
		}
	}

	.arrow-container {
		&.points-left {
			.backdrop {
				grid-column: 2 / span 3;
				grid-row: 1 / span 2;
			}

			.pilot-container, .pilot-frame {
				grid-column: 1 / span 2;
				grid-row: 1 / span 2;
			}

			.mech-container, .mech-frame {
				grid-column: 3 / span 2;
				grid-row: 1 / span 2;
			}

			.IconTriangle.structure {
				grid-column: 4 / span 1;
				grid-row: 1 / span 1;
				transform: rotate(180deg);
			}

			.IconTriangle.stress {
				grid-column: 4 / span 1;
				grid-row: 2 / span 1;
				transform: rotate(-90deg);
			}
		}

		&.points-right {
			.backdrop {
				grid-column: 1 / span 3;
				grid-row: 1 / span 2;
			}

			.pilot-container, .pilot-frame {
				grid-column: 3 / span 2;
				grid-row: 1 / span 2;
			}

			.mech-container, .mech-frame {
				grid-column: 1 / span 2;
				grid-row: 1 / span 2;
			}

			.IconTriangle.structure {
				grid-column: 1 / span 1;
				grid-row: 1 / span 1;
				transform: rotate(90deg);
			}

			.IconTriangle.stress {
				grid-column: 1 / span 1;
				grid-row: 2 / span 1;
				// transform: rotate(0deg);
			}
		}

		.StatTriangle.hp {
			grid-column: 2 / span 2;
			grid-row: 1 / span 1;
		}

		.StatTriangle.heat {
			grid-column: 2 / span 2;
			grid-row: 2 / span 1;
		}
	}

	// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
	// ~ base styling of the components ~ //
	.status-container {
		@include text_monospace;
		font-size: 12px;
		width: 100%;
		box-sizing: border-box;

		background-color: $parchment_dark;
		color: $soft_black;

		border: $border_width solid $rust_dark;
		border-right: none;
		border-left: none;

		.external { padding: 6px; }

		.internal {
			padding: 6px;
			margin-top: auto;
		}

		.callsign {
			padding: 2px 6px;
			font-size: 16px;
			color: $pink;
			background-color: $rust_dark;

			button.remove-mech {
				width: 16px;
				height: 16px;

				// black to $pink
				filter: invert(80%) sepia(22%) saturate(398%) hue-rotate(324deg) brightness(90%) contrast(88%);

				opacity: .7;
				&:hover { opacity: 1.0; }
			}
		}
	}

	.arrow-container {
		.backdrop {
			background-color: $rust;
			border: $border_width solid $rust_dark;
		}

		.pilot-frame, .mech-frame {
			width: $diamond_edge_length;
			height: $diamond_edge_length;

			background-color: $parchment_dark;
			border: $border_width solid $rust_dark;

			align-self: center;
			justify-self: center;

			transform: rotate(45deg);
		}

		.pilot-frame {
			&.points-right { border-top-color: $rust_dark; border-right-color: $rust_dark; }
			&.points-left { border-bottom-color: $rust_dark; border-left-color: $rust_dark; }
		}

		.pilot-container, .mech-container {
			width: calc(#{$portrait_height} - #{$border_width*3});
			height: calc(#{$portrait_height} - #{$border_width*3});
			align-self: center;
			justify-self: center;
			clip-path: polygon(50% 0,100% 50%,50% 100%,0 50%);

			div { width: 100%; }

			img, div {
				height: 100%;
				margin: auto;
				display: block;
			}
		}

		.StatTriangle {
			@include text_monospace;
			display: flex;
			align-items: center;
			color: $pink;
			justify-content: flex-start;

			&.hp {
				flex-direction: column;
				margin-top: $border_width;
				padding-top: 2px;
			}

			&.heat {
				flex-direction: column-reverse;
				margin-bottom: $border_width;
				padding-bottom: 2px;
			}

			.label { font-size: 14px; }
			.numerical-count { font-size: 24px; }
		}

		.IconTriangle {
			display: flex;
			justify-content: flex-start;
			align-items: flex-end;

			margin: $border_width;

			.icon-container {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: flex-end;
				width: calc(#{$pip_size} * 3);
				padding-top: $pip_size;
				transform: rotate(45deg);

				.asset {
					width: $pip_size;
					height: $pip_size;
					transform: rotate(45deg);

					// black to $pink
				  filter: invert(80%) sepia(22%) saturate(398%) hue-rotate(324deg) brightness(90%) contrast(88%);

					&.spent { opacity: .2; }
				}
			}
		}
	}
}

.AddSquadMechButton {
	margin-top: -50px;
	opacity: .5;
	display: flex;
	align-items: center;
	width: fit-content;

	&.points-left {
		flex-direction: row;
		margin-right: auto;
	}

	&.points-right {
		flex-direction: row-reverse;
		margin-left: auto;
	}

	&:hover {
		opacity: 1.0;
	}

	.portrait-container {
		width: calc(#{$portrait_height} - #{$border_width*3});
		height: calc(#{$portrait_height} - #{$border_width*3});
		align-self: center;
		justify-self: center;
		clip-path: polygon(50% 0,100% 50%,50% 100%,0 50%);

		margin: calc(#{$border_width} + 1px);
		background-color: $parchment_dark;

		div { width: 100%; }

		img, div {
			height: 100%;
			margin: auto;
			display: block;
		}
	}

	.icon-container {
		margin: 0 12px;

		.asset {
			width: 42px;
			height: 42px;

			// black to $crushed_velvet_dark
      filter: invert(9%) sepia(58%) saturate(2075%) hue-rotate(288deg) brightness(95%) contrast(104%);
		}
	}

	.name-container {
		@include text_monospace;
		color: $crushed_velvet_dark;
		font-size: 22px;
	}
}
