@import '../../../fonts';

.CopyRoomLink {
  @include text_label;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0 0;

  label {
    width: 66px;
    flex-shrink: 0;
  }

  .copy-on-click {
    @include text_label;
    display: flex;
    align-items: center;
    border-radius: 4px;
    margin-top: 1px;
    padding: 0;
    text-align: left;
    overflow: hidden;
    cursor: pointer;

    &:hover { background-color: $pink; }

    .name {
      max-width: 88%;
      box-sizing: border-box;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .copy-symbol { margin-left: 4px; }
  }

  .copied-message {
    color: $olive_dark;
    font-size: 18px;
    line-height: 26px;
    padding-top: 2px;
  }
}
