@import '../../../fonts';

@keyframes abilityRollIn {
  from { transform: rotate(-360deg); }

  to { transform: rotate(0deg); }
}


button.AbilityRollButton {
  @include text_monospace;
  color: $grey_mid;
  border: 1px solid $grey_mid_lighter;
  padding: 8px 4px;

  align-self: flex-start;
  text-align: center;

  height: 36px;
  width: 82px;

  @include below_max_width { margin-top: 8px; }

  &:hover {
    background-color: $rust;
    color: white;

    border-color: $rust_dark;

    &.rolled { background-color: $mud; }

    &:active { background-color: $rust_light; }
  }

}
