@import '../../../fonts';

.ConditionsAndCounters {
	margin-top: 20px;

	.controls-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
		grid-auto-flow: dense;
		// align-items: center;
		column-gap: 20px;
		row-gap: 16px;

		margin-top: 8px;
		margin-bottom: 12px;

		.conditions-dropdown {
			@include text_monospace;

			// dropdown
			> div {
				background-color: $parchment_dark;
				cursor: pointer;

				&:hover { background-color: $mud_light; } // light mud

				.css-1wa3eu0-placeholder {
					color: $soft_black;
					text-align: center;
					width: 100%;
				}

				.css-1hb7zxy-IndicatorsContainer {
					div {
						color: $rust;

						&:hover { color: $rust_dark; }
					}
				}
			}

			// dropdown
			&:focus-within {
				> div { background-color: white; }
			}
		}

		button.add-custom-counter {
			@include text_monospace;
			display: block;
			height: fit-content;
			padding: 4px 6px;
			border-radius: 4px;
			background-color: $parchment_dark;
			// background-color: white;
			color: $periwinkle_dark;

			display: flex;
			align-items: center;
			justify-content: center;


			&:hover { background-color: $mud_light; }

			.asset {
				width: 28px; height: 28px;
				margin-left: 8px;
				// turns black to $periwinkle
				filter: invert(40%) sepia(11%) saturate(2194%) hue-rotate(179deg) brightness(101%) contrast(89%);

				// turns black to $rust
				// filter: invert(19%) sepia(35%) saturate(2526%) hue-rotate(342deg) brightness(89%) contrast(96%);
			}
		}

		label.open-generic-actions {
			@include text_monospace;
			display: block;
			padding: 4px 6px;
			border-radius: 4px;
			background-color: $parchment_dark;
			display: flex;
			align-items: center;
			justify-content: center;
      cursor: pointer;

			&:hover { background-color: $mud_light; }

			&.open {
				background-color: $rust;
				color: white;
				&:hover { background-color: $rust_dark; }
			}

			input {
				position: absolute;
				left: -5000px;
			}

      .loading-text {
        @include text_monospace;
        padding: 4px 18px;
        white-space: nowrap;
      }
    }
	}

	.active-blocks {
		display: flex;
		flex-wrap: wrap;

		.Condition {
			padding: 0 12px 12px 0;
			// &:last-child:nth-child(odd) {
			// 	grid-column: span 2;
			// 	@include constricted { grid-column: span 1; }
			// }

			@include max_width { max-width: 48%; }

			.label {
				@include text_monospace;
				color: white;
				background-color: $rust;
				padding: 6px 12px;
				border-radius: 0 14px 0 0;
				display: flex;
				justify-content: space-between;

				span.type {
					color: $pink;
					font-style: italic;
				}
			}

			.text {
				padding: 8px 12px 10px;
				border-radius: 0 0 0 14px;
				background-color: $parchment;
				line-height: 1.4;
			}
		}

		.CustomCounter {
			padding: 0 12px 12px 0;
			width: 100%;

			@include max_width { max-width: 48%; }


			.blue-pill {
				@include text_monospace;
				color: $soft_black;
				background-color: $periwinkle;
				display: flex;
				align-items: center;
				justify-content: space-between;
				height: min-content;
				border-radius: 0 14px 0 14px;
				padding: 0 12px;

				.TextInput {
					padding: 0;
					color: white;
					&:hover { background-color: $periwinkle_dark; }

					.display { padding: 8px 10px; }
					input { margin: 0 10px; }
				}

				input[type='number'] {
					font-size: 20px;
					margin-right: 6px;
					width: 50px;
				}

				button.delete {
					padding: 8px 6px;

					.asset {
						width: 20px; height: 20px;
						filter: invert(100%);
					}

					&:hover { background-color: $periwinkle_dark; }
				}
			}
		}
	}
}
