@import '../../../fonts';

@mixin mobile_double_button_divider {
  margin: 0 auto 0 0;
  justify-content: space-between;
  background-color: $rust;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../../../assets/nouveau_divider.svg');

  @include constricted { background-image: none; }
}

.MechState { // .asset.butterfly-watermark
  display: grid;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;

  grid-template-columns: .4fr .6fr .2fr .25fr .6fr .25fr .2fr .6fr .4fr;
  grid-template-rows: auto 120px auto auto auto;
  margin-top: 20px;
  margin-bottom: 20px;

  @include below_max_width {
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: 140px 140px; // then a buncha autos
    margin-bottom: 40px;
  }

  .MechCentralDiamond {
    grid-column: 3 / span 5;
    grid-row: 1 / span 3;
    // margin-top: 20px;
    margin-bottom: -10px;

    @include below_max_width {
      grid-column: 1 / span 3;
      grid-row: 1 / span 2;
      // margin-top: auto;
      margin-bottom: auto;
    }
  }

  .hp-label {
    grid-column: 1 / span 4;
    grid-row: 1 / span 1;

    display: flex;
    justify-content: flex-end;

    @include below_max_width {
      grid-column: 1 / span 3;
      grid-row: 5 / span 1;

      justify-content: flex-start;
      margin: 16px auto 0 0;
    }
  }

  .hull-container {
    grid-column: 1 / span 4;
    grid-row: 2 / span 1;

    @include below_max_width {
      grid-column: 1 / span 3;
      grid-row: 6 / span 1;
    }

    @include max_width {
      .MechNumberBar .zero { padding-right: 50px; }
    }

    .overshield-and-burn {
      display: flex;
      justify-content: flex-end;

      @include below_max_width {
        @include mobile_double_button_divider;
        flex-direction: row-reverse;
      }

      @include max_width {
        border-left: 4px solid $rust_dark;
        margin-left: 8px;

        .MechNumberIcon:last-child { width: 100%; }
      }
    }
  }

  .heat-label {
    grid-column: 6 / span 3;
    grid-row: 1 / span 1;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @include below_max_width {
      grid-column: 1 / span 3;
      grid-row: 7 / span 1;

      margin: 12px auto 0 0;
      justify-content: space-between;
      align-items: center;
    }

    .danger-zone-container {
      @include text_monospace;
      text-align: center;
      color: $rust;
      display: flex;
      justify-content: center;
      align-items: center;

      .words { font-size: 14px; }
      .decor { font-size: 32px; }
    }

    &.danger-zone .MechNumberLabel {
      .label, .numerical-count { color: $rust; }
      input { background-color: $pink; border-color: $rust; }
    }
  }

  .engineering-container {
    grid-column: 6 / span 4;
    grid-row: 2 / span 1;

    @include below_max_width {
      grid-column: 1 / span 3;
      grid-row: 8 / span 1;
    }

    @include max_width {
      .MechNumberBar .zero { padding-left: 50px; }
    }

    .overcharge-and-core {
      display: flex;

      @include below_max_width {
        @include mobile_double_button_divider;
      }

      @include max_width {
        border-right: 4px solid $rust_dark;
        margin-right: 8px;

        .MechNumberIcon:first-child {
          width: 100%;
          justify-content: flex-end;
        }
      }
    }
  }

  .AbilityRollButton.hull {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;

    @include below_max_width {
      grid-column: 1 / span 1;
      grid-row: 3 / span 1;
    }
  }

  .AbilityRollButton.engineering {
    grid-column: 9 / span 1;
    grid-row: 1 / span 1;

    @include below_max_width {
      grid-column: 3 / span 1;
      grid-row: 3 / span 1;
      margin-left: auto;
    }
  }

  .AbilityRollButton.agility {
    grid-column: 3 / span 2;
    grid-row: 5 / span 1;

    @include max_width { justify-self: flex-end; }

    @include below_max_width {
      grid-column: 1 / span 1;
      grid-row: 4 / span 1;
    }
  }

  .AbilityRollButton.systems {
    grid-column: 6 / span 2;
    grid-row: 5 / span 1;

    @include below_max_width {
      grid-column: 3 / span 1;
      grid-row: 4 / span 1;
      margin-left: auto;
    }
  }

  .MechSingleStat.evasion {
    grid-column: 1 / span 3;
    grid-row: 3 / span 1;

    @include below_max_width {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
    }
  }

  .MechSingleStat.speed {
    grid-column: 2 / span 3;
    grid-row: 4 / span 1;

    @include below_max_width {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;
    }
  }

  .MechSingleStat.e-def {
    grid-column: 7 / span 4;
    grid-row: 3 / span 1;

    @include below_max_width {
      grid-column: 3 / span 1;
      grid-row: 1 / span 1;
    }
  }

  .MechSingleStat.sensors {
    grid-column: 6 / span 3;
    grid-row: 4 / span 1;

    @include below_max_width {
      grid-column: 3 / span 1;
      grid-row: 2 / span 1;
    }
  }

  .save-target {
    grid-column: 4 / span 3;
    grid-row: 5 / span 1;

    @include text_monospace;
    text-align: center;
    margin-top: 16px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;

    .label {
      font-size: 20px;
      margin: 0 12px;
    }

    .number {
      font-size: 40px;
      margin-top: 6px;
    }

    @include below_max_width {
      grid-column: 1 / span 3;
      grid-row: 3 / span 2;

      @include constricted {
        flex-direction: column;
        justify-content: center;
        margin-top: 26px;

        .label { margin: auto; }
      }

      margin: auto;
      text-align: center;
      flex-direction: row;
      align-items: center;
      width: fit-content;

      .label {
        font-size: 18px;
        white-space: nowrap;
      }

      .number {
        font-size: 30px;
        margin-top: 0;
      }
    }
  }
}
