@import '../../../fonts';

.MechState {
  position: relative;

  margin-top: 40px;
  margin-bottom: 200px;

  padding: 20px 0 0;

  // .asset.butterfly-watermark {
  //   position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    // bac
    // z-index: -1;
  // }

  // .buttefly-container {
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //
  //   .asset {
  //     width: unset;
  //     height: 100%;
  //   }
  // }

  .central-diamond-portrait {
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);

    width: 300px;
    height: 300px;

    shape-outside: polygon(50% 0,100% 50%,50% 100%,0 50%);
    clip-path: polygon(50% 0,100% 50%,50% 100%,0 50%);

    background-color: $parchment_dark;
    background-size: 152px;

    color: transparent; // hide alt text

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 5;

    // opacity: .5;

    img {
      height: 100%;
    }
  }

  .hull-and-engineering {
    display: flex;
    justify-content: center;
    width: 100%;

    padding-top: 12px;

    .hull-container {
      width: 50%;

      .MechNumberBar.structure {
        margin-right: 90px;
      }
    }

    .engineering-container {
      width: 50%;

      .MechNumberBar.stress {
        margin-left: 90px;
      }
    }
  }

  .agility-and-systems {
    display: flex;
    justify-content: center;
    width: 100%;

    padding-top: 60px;

    .agility-container {
      width: 50%;
      margin-right: 40px;

      .MechSingleStat.evasion { padding-right: 60px; }

    }

    .systems-container {
      width: 50%;
      margin-left: 40px;

      .MechSingleStat.e-def { padding-left: 60px; }

      .sensors-and-save {
        display: flex;
        // width: 60%;

        // .MechSingleStat.sensors { width: 50%; }
        .MechSingleStat.save-target { margin-left: 10px;}
      }
    }
  }


}
