@import '../../../fonts';

.MechNumberBar {
  display: flex;
  flex-direction: column;

  border-bottom: 4px solid $rust_dark;
  width: 100%;
  box-sizing: border-box;

  &.left-to-right {
    margin-right: auto;

    .ticks-container { flex-direction: row; }
  }

  @include max_width {

    &.left-to-right { border-right: 4px solid $rust_dark; }

    &.right-to-left {
      margin-left: auto;
      border-left: 4px solid $rust_dark;

      .ticks-container { flex-direction: row-reverse; }
    }
  }

  &.condensed {
    .ticks-container {
      align-items: flex-start;
      height: 100%;
      width: 100%;

      button.tick {
        min-width: unset;
        min-height: 26px;
        height: 100%;
        width: 100%;

        &.zero { width: 40px; }

        .number { font-size: 16px; }
      }
    }
  }

  &.small-ticks {
    .ticks-container {
      flex-wrap: wrap;

      @include max_width {
        button.tick {
          min-width: 8px;

          &.zero { width: 90px; }
          &:nth-child(28) { padding-right: 90px; }
        }
      }
    }
  }

  .ticks-container {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;

    button.tick {
      padding: 0;
      flex-grow: 1;
      min-height: 40px;
      // min-width: 8px;

      transition: none;

      .asset {
        width: 4px; height: 4px;
        box-sizing: border-box;
        margin: auto;

        &.burn {
          width: 12px;
          height: 20px;
          display: none;
        }
      }

      .number {
        @include text_monospace;
        font-weight: bold;
        font-size: 20px;
        display: none;
      }

      &:hover {
        // width: 24px;

        .asset { display: none; }
        .number { display: block; }
      }

      &.filled {
        background-color: $rust;
        &:hover { background-color: $rust_light; }
        .number { color: $rust_dark; }

        // black to $parchment_dark
        .asset { filter: invert(88%) sepia(34%) saturate(340%) hue-rotate(335deg) brightness(92%) contrast(89%); }

        &.overshield {
          background-color: $periwinkle;
          &:hover { background-color: $periwinkle_dark; }
          .number { color: white; }

          // black to $periwinkle
          // .asset { filter: invert(40%) sepia(11%) saturate(2194%) hue-rotate(179deg) brightness(101%) contrast(89%); }
          .asset { filter: invert(100%); }
        }
      }

      &.empty {
        background-color: $grey_very_dark;
        &:hover { background-color: $grey_dark; }
        .number { color: $grey_light; }
        .asset { filter: invert(45%); }
      }

      &.burn-target {
        background-color: $electric_orange;

        .asset.dot { display: none; }
        .asset.burn {
          display: block;
        }

        &:hover {
          background-color: $electric_orange;
          .number { color: white; }

          .asset.burn { display: none; }
        }
      }

      &.zero {
        flex-shrink: 0;
        flex-grow: 0;
        width: 120px;

        @include below_max_width {
          width: 30px;
        }

        &.empty:hover {
          background-color: $grey_very_dark;
          cursor: auto;
        }
        &.filled:hover {
          background-color: $crushed_velvet;
        }

        .number { color: white; }
      }
    }

    .armor-container {
      height: 40px;
      padding: 0 2px;
      background-color: $grey_very_dark;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: default;

      &.filled {
        background-color: $rust;
        // black to $parchment_dark
        .armor.asset { filter: invert(88%) sepia(34%) saturate(340%) hue-rotate(335deg) brightness(92%) contrast(89%); }

        &.overshield {
          background-color: white;

          // black to $periwinkle
          .armor.asset { filter: invert(40%) sepia(11%) saturate(2194%) hue-rotate(179deg) brightness(101%) contrast(89%); }
        }
      }

      .armor.asset {
        @include text_monospace;
        font-size: 16px;
        font-weight: bold;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 28px;
        height: 28px;
        filter: invert(70%);
      }
    }
  }
}
