@import '../../../fonts';

.MechNumberLabel {
  @include text_monospace;
  font-size: 32px;
  padding: 0 0 6px;
  color: $rust_dark;

  display: flex;
  align-items: flex-end;

  &.left-to-right { flex-direction: row; }

  @include max_width {
    &.right-to-left { flex-direction: row-reverse; }
  }

  @include below_max_width {
    &.left-to-right, &.right-to-left { flex-direction: row-reverse; }
  }

  .numerical-count {
    display: flex;
    align-items: flex-end;
    margin: 0 14px;

    input[type='number'] {
      @include text_monospace;
      font-size: 30px;
      background-color: $parchment_dark;
      border: 2px solid $grey_very_dark;
      padding: 0 8px;
      width: 56px;
    }
  }
}
