@import '../../../fonts';

.MechSingleStat {
  @include text_monospace;
  display: flex;

  width: 100%;
  box-sizing: border-box;

  &.left-to-right {
    flex-direction: row;
  }

  &.right-to-left {
    flex-direction: row-reverse;
  }

  &.condensed {
    margin-top: 8px;

    .label {
      font-size: 20px;
      padding-top: 2px;
    }
    .number { font-size: 40px; }
  }
  //
  // &.super-condensed {
  //   margin-top: 8px;
  //   align-items: center;
  //   width: unset;
  //
  //   .label {
  //     font-size: 16px;
  //     text-align: right;
  //     padding: 0;
  //     max-width: 60px;
  //   }
  //
  //   .number {
  //     font-size: 32px;
  //     margin: 0 8px;
  //   }
  // }

  .label {
    display: flex;
    font-size: 26px;
    padding-top: 6px;
    margin: 0 12px;
  }

  .number {
    display: flex;
    font-size: 62px;
    // background-color: #eddfb2;
    // padding: 4px 6px;
    // margin: 0 6px;
    // border-radius: 4px;
  }
}
