@import '../../../fonts';

.MechNumberLabel {
  @include text_monospace;
  padding: 4px 0;
  color: $rust_dark;

  display: flex;
  align-items: flex-end;

  &.left-to-right {
    flex-direction: row;

    .label { margin-left: 10px; }
  }

  &.right-to-left {
    flex-direction: row-reverse;

    .label { margin-right: 10px; }
  }

  &.condensed {
    // flex-direction: row-reverse;
    // align-items: flex-start;
    opacity: 0.5;

    &:hover { opacity: 1.0; }

    .label {
      font-size: 20px;
      margin: 0;
    }

    .numerical-count {
      font-size: 20px;
      input[type='number'] { font-size: 20px; }
    }
  }

  &.overshield {
    opacity: 1.0;

    .numerical-count input[type='number'] {
      background-color: white;
      font-weight: bold;
      color: $periwinkle;
      border-color: $periwinkle;
    }
  }

  &.burning {
    opacity: 1.0;

    .numerical-count input[type='number'] {
      background-color: $electric_orange;
      color: black;
      font-weight: bold;
      border-color: $electric_orange;
    }

    .label .asset {
      // black to $electric_orange
      filter: invert(37%) sepia(70%) saturate(6462%) hue-rotate(2deg) brightness(102%) contrast(102%);
    }
  }

  .numerical-count {
    font-size: 30px;
    display: flex;
    align-items: flex-end;

    input[type='number'] {
      @include text_monospace;
      font-size: 26px;
      background-color: $parchment_dark;
      border: 1px solid $soft_black;
      padding: 2px 8px;
    }
  }

  .label {
    font-size: 30px;

    button {
      position: relative;
      display: block;
      width: 30px;
      height: 30px;
      padding: 0;

      &:hover {
        background-color: $parchment_dark;

        .Tooltip {
          display: block;
        }
      }

      .asset {
        width: 100%;
        height: 100%;
      }

      .Tooltip {
        @include text_monospace;
        font-size: 16px;
        text-align: left;
        display: none;

        .content-container { cursor: pointer; }
      }
    }
  }
}
