@import '../../../fonts';

.MechNumberLabel {
  @include text_monospace;
  font-size: 30px;
  padding: 4px 0;
  color: $rust_dark;

  display: flex;
  align-items: flex-end;

  &.left-to-right {
    flex-direction: row;

    .label { margin-left: 10px; }
  }

  &.right-to-left {
    flex-direction: row-reverse;

    .label { margin-right: 10px; }
  }

  .numerical-count {
    display: flex;
    align-items: flex-end;

    input[type='number'] {
      @include text_monospace;
      font-size: 26px;
      background-color: $parchment_dark;
      border: 1px solid $soft_black;
      padding: 2px 8px;
      width: 56px;
    }
  }
}
