@import '../../../fonts';

.MechNumberBar {
  display: flex;
  flex-direction: column;

  width: 100%;
  box-sizing: border-box;

  &.left-to-right {
    margin-right: auto;

    .ticks-container { flex-direction: row; }
  }

  &.right-to-left {
    margin-left: auto;

    .ticks-container { flex-direction: row-reverse; }
  }

  &.condensed {
    flex-direction: column-reverse;
    border-top: none;
    margin-top: 8px;

    .ticks-container .tick {
      min-height: 26px;

      .number { font-size: 16px; }

      &.zero { min-width: 40px; }
    }
  }

  .ticks-container {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;

    button.tick {
      padding: 0;
      flex-grow: 1;
      min-height: 40px;

      &.zero { min-width: 100px; }

      .asset {
        width: 4px; height: 4px;
        box-sizing: border-box;
        margin: auto;
      }

      .number {
        @include text_monospace;
        font-weight: bold;
        font-size: 20px;
        display: none;
      }

      &:hover {
        width: 24px;

        .asset { display: none; }
        .number { display: block; }
      }

      &.filled {
        background-color: $rust;
        &:hover { background-color: $rust_light; }
        .number { color: $rust_dark; }

        // black to $parchment_dark
        .asset { filter: invert(88%) sepia(34%) saturate(340%) hue-rotate(335deg) brightness(92%) contrast(89%); }

        &.overshield {
          background-color: white;
          &:hover { background-color: $periwinkle; }
          .number { color: white; }

          // black to $periwinkle
          .asset { filter: invert(40%) sepia(11%) saturate(2194%) hue-rotate(179deg) brightness(101%) contrast(89%); }
        }

      }

      &.empty {
        background-color: $grey_very_dark;
        &:hover { background-color: $grey_dark; }
        .number { color: $grey_light; }
        .asset { filter: invert(45%); }
      }
    }

    .armor-container {
      height: 40px;
      background-color: $grey_very_dark;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: default;

      &.filled {
        background-color: $rust;

        &.overshield {
          background-color: white;
          .armor.asset { filter: invert(40%) sepia(11%) saturate(2194%) hue-rotate(179deg) brightness(101%) contrast(89%); }
        }
      }

      .armor.asset {
        @include text_monospace;
        font-size: 16px;
        font-weight: bold;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 28px;
        height: 28px;
        filter: invert(70%);
      }
    }
  }
}
