@import '../../../fonts';

.MechSingleStat {
  @include text_monospace;
  display: flex;

  width: 100%;
  box-sizing: border-box;

  &.left-to-right {
    flex-direction: row;
  }

  @include max_width {
    &.right-to-left {
      flex-direction: row-reverse;
    }
  }

  &.condensed {
    margin-top: 8px;

    .label {
      font-size: 20px;
      padding-top: 2px;
    }
    .number { font-size: 40px; }

    @include below_max_width {
      .label { font-size: 20px; padding: 0; }
      .number { font-size: 26px; }
    }
  }

  .label {
    display: flex;
    font-size: 26px;
    padding-top: 6px;
    margin: 0 12px;
  }

  .number {
    display: flex;
    font-size: 62px;
  }

  @include below_max_width {
    align-items: center;
    justify-content: center;
    margin-top: 18px;

    .label { font-size: 30px; padding: 0; }
    .number { font-size: 36px; }
  }
}
