@import '../../../fonts';

@mixin mobile_double_button_divider {
  margin: 0 auto 0 0;
  justify-content: space-between;
  background-color: $rust;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../../../assets/nouveau_divider.svg');

  @include constricted { background-image: none; }
}

.MechState {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;

  margin-bottom: 20px;

  @include below_max_width { margin-top: 60px; }

  .hull-and-engineering {
    display: flex;
    justify-content: center;
    padding-top: 46px;
    width: 100%;

    @include below_max_width {
      // height: unset;
      padding-top: 12px;
      flex-direction: column;
    }

    .hull-container {
      width: 50%;
      @include below_max_width {
        width: 100%;
        margin-bottom: 20px;
      }

      .hp-label {
        display: flex;
        justify-content: flex-end;
        margin-right: 40px;

        @include below_max_width {
          justify-content: flex-start;
          margin: 0 auto 0 0;
        }
      }

      .overshield-and-burn {
        display: flex;
        justify-content: flex-end;
        margin-right: 98px;

        @include below_max_width {
          @include mobile_double_button_divider;
          flex-direction: row-reverse;
        }

        @include max_width {
          width: fit-content;
          margin-left: auto;
          border-left: 4px solid $rust_dark;

          .MechNumberIcon:last-child { padding-right: 22px; }
        }
      }
    }

    .engineering-container {
      width: 50%;
      @include below_max_width {
        width: 100%;
      }

      .heat-label {
        margin-left: 40px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .danger-zone-container {
          @include text_monospace;
          font-size: 20px;
          font-style: italic;
          color: $rust_dark;
        }

        @include below_max_width {
          margin: 0 auto 0 0;
          justify-content: space-between;
          flex-direction: row-reverse;
          align-items: center;
        }
      }

      .overcharge-and-core {
        display: flex;
        margin-left: 98px;

        @include below_max_width {
          @include mobile_double_button_divider;
        }

        @include max_width {
          width: fit-content;
          border-right: 4px solid $rust_dark;

          .MechNumberIcon:first-child { padding-left: 28px; }
        }
      }
    }
  }

  .agility-and-systems {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 60px;

    @include below_max_width {
      flex-wrap: wrap;
      justify-content: space-around;
      padding-top: 10px;
    }

    @include max_width {
      .agility-container {
        width: 50%;
        margin-right: 40px;

        .MechSingleStat.evasion { padding-right: 70px; }
      }

      .systems-container {
        width: 50%;
        margin-left: 40px;

        .MechSingleStat.e-def { padding-left: 70px; }
      }
    }
  }

  .save-target {
    @include text_monospace;
    text-align: center;
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .label {
      font-size: 20px;
      margin: 0 12px;
    }

    .number {
      font-size: 40px;
      margin-top: 6px;
    }

    @include below_max_width {
      margin-top: 12px;
      flex-direction: row;
      align-items: center;

      .label { font-size: 20px; }
      .number { font-size: 26px; margin: 0; }
    }
  }

}
