@import '../../../fonts';


.BonusDamageBar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  box-sizing: border-box;

  @include below_max_width { grid-template-columns: 1fr 1fr; }

  @include constricted { grid-template-columns: 1fr; }

  button {
    padding: 0;
    @include constricted { padding: 0 10%; }

    &:hover { background-color: $parchment_dark; }

    &.active {
      background-color: $rust;

      .amount-container {
        // turn black to white
        .asset { filter: invert(100%); }
        .amount { color: white; }
      }

      .label { color: white; }

      &:hover { background-color: $rust_light; }
    }
  }

  button.bonus-source, .generic-source-container, .multipliers-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 36px;
    width: 100%;
    white-space: nowrap;

    .amount-container {
      display: flex;
      align-items: center;
      justify-content: center;

      .amount {
        min-width: 30px;
      }

      .asset { width: 24px; height: 24px; }
      .asset { width: 24px; height: 24px; }
    }

    .label {
      margin-left: 8px;
      padding-right: 8px;
      text-transform: capitalize;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  // to anchor the tooltips
  .bonus-source-button-container {
    position: relative;

    // Bad UX to tap a button on mobile and have this tooltip pop up every time.
    // Just disabling it on mobile for now until I come up with something better.
    @include constricted {
      .Tooltip { display: none; }
    }
  }

  .generic-source-container {
    .generic-source {
      min-width: 54px;
      height: 100%;

      .amount-container .amount { text-align: center; }
    }

    .generic-reset {
      width: 100%;
      height: 100%;

      text-align: left;
    }
  }

  .multipliers-container {
    display: flex;
    justify-content: space-between;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;

      &:hover { background-color: $parchment_dark; }
      .asset {
        width: 14px;
        height: 14px;
        margin-right: 4px;
      }

      &.active {
        background-color: $rust;
        color: white;

        &:hover { background-color: $rust_light; }
        .asset { filter: invert(100%); }
      }
    }
  }
}
