@import '../../../fonts';

// Inherits a lot from WeaponRoller; we're just overriding
.TechRoller {
  @include nouveau_border("nouveau_lancer_tech.svg");

  h3 {
    @include text_monospace;
    font-size: 32px;
    color: $periwinkle_dark;
  }

  .top-bar {
    @include text_monospace;
    color: $periwinkle_dark;

    > * { border-color: $periwinkle_light; }

    .base-tech-stats {
      display: flex;
      justify-content: space-between;
      font-size: 22px;
    }
  }

  .WeaponRollerSetup .DiamondRollButton .BigRollButton .new-roll {
    background-color: $periwinkle_dark;
    // background-color: $periwinkle_light;

    // black to $periwinkle (but lightened)
    .asset { filter: invert(60%) sepia(11%) saturate(2194%) hue-rotate(179deg) brightness(101%) contrast(89%); }
  }


  .status-bar .action-buttons-container {
    justify-content: center;
  }
}
