@import '../../../fonts';

$number_speed: 0.25s;

@mixin condensed_setup {
  @media (max-width: 620px) {
    @content;
  }
}

.WeaponRollerSetup {
  display: grid;
  grid-template-columns: 1fr 90px 90px 1fr;
  grid-template-rows: 114px 36px 1fr;
  margin: 0 10px 50px;
  padding-top: 20px;

  @include condensed_setup {
    display: flex;
    flex-direction: column;
  }

  // If we've added a few targets, add a divider between them
  &:not(:first-child) { border-top: 4px solid $parchment_dark; }

  .DiamondRollButton {
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
    margin: unset;

    @include condensed_setup {
      margin: auto;
    }
  }

  .DetailedRollResults {
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
    justify-content: flex-start;
    margin-top: 36px;
    opacity: .5;

    &:hover { opacity: 1; }

    @include condensed_setup {
      justify-content: center;
      margin: 16px 0;
    }
  }

  .column-container {
    grid-column: 1 / span 4;
    grid-row: 2 / span 2;

    display: flex;
    justify-content: center;

    @include condensed_setup {
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    .column {
      display: flex;
      flex-direction: column;
      flex-grow: 0;
      flex-shrink: 0;
      min-height: 200px;

      width: 44%;
      box-sizing: border-box;

      @include condensed_setup {
        width: 100%;
        min-height: unset;
      }


      &.difficulty {
        align-items: flex-end;
        margin-right: 14px;
        @include condensed_setup { align-items: flex-start; }

        button { color: $rust; }
      }

      &.accuracy {
        align-items: flex-start;
        margin-left: 14px;
        @include condensed_setup { margin-left: 0; }

        button { color: $soft_black; }
      }

      button.column-label {
        @include text_monospace;
        font-size: 24px;
        display: flex;
        align-items: center;
        margin: 0 40px 6px;
        border-radius: 4px;

        @include condensed_setup { margin: 12px auto 6px;}

        &.accuracy { padding: 4px 0 4px 8px; }
        &.difficulty { padding: 4px 8px 4px 0; }

        &:hover { background-color: $parchment_dark; }
        &:active { background-color: $pink; }

        .asset {
          display: inline-block;
          width: 28px;
          height: 28px;
          margin: 0 6px;

          &.difficulty {
            // turns black to $rust
            filter: invert(19%) sepia(35%) saturate(2526%) hue-rotate(342deg) brightness(89%) contrast(96%);

            @include condensed_setup { order: 2; }

          }
        }
      }

      .NumberLine {
        position: relative;
        display: flex;

        @include condensed_setup {
          width: 100%;
          justify-content: center;
        }

        .number {
          display: flex;
          align-items: center;
          position: relative;
          font-size: 60px;
          text-align: center;

          padding: 0;
          margin: 0 6px;
          width: 48px;
          transition: margin $number_speed, width $number_speed;
          overflow: hidden;

          opacity: 0.20;

          &:hover {
            background-color: $parchment_dark;
          }

          &.hidden {
            margin: 0;
            width: 0;
            padding: 0;
          }

          &.current {
            width: 70px;
            // margin: 0 6px 0 0;
            opacity: 1.0;

            .sign {
              visibility: visible;
              width: 32px;
            }
          }

          .sign {
            display: inline-block;
            visibility: hidden;
            width: 0px;
            transition: width $number_speed;
            text-align: center;
          }

          .count {
            min-width: 35px;
            margin: auto;
          }
        }
      }

      .SourcesContainer {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        // @include condensed_setup {
        //   grid-row: 1 / span 2;
        //   grid-column: 2;
        // }

        .Source {
          width: 50%;
          position: relative;

          button {
            display: block;
            // white-space: nowrap;
            font-weight: bold;
            letter-spacing: 1px;
            text-transform: capitalize;
            text-overflow: ellipsis;
            overflow: hidden;
            height: fit-content;
            text-align: left;
            width: 100%;
            padding: 4px 8px;
            margin: 4px 0;

            &:hover {
              background-color: $parchment_dark;
            }

            &.current {
              background-color: $rust;
              color: white;

              &:hover {
                background-color: $rust_light;
              }
            }

            @include condensed_setup {
              text-align: center;
            }

          }

          // Bad UX to tap a button on mobile and have this tooltip pop up every time.
          // Just disabling it on mobile for now until I come up with something better.
          @include constricted {
            .Tooltip { display: none; }
          }
        }
      }
    }
  }
}
