@import '../../../fonts';
@import '../../../assets_lancer';

.WeaponRoller {
  @include shadow;
  @include parchment_background;
  @include nouveau_border("nouveau_lancer_weapon.svg");

  display: flex;
  flex-direction: column;

  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  min-height: 360px;
  padding: 8px 4% 8px;
  margin-top: -14px;

  h3 {
    @include text_title_action;
    flex-shrink: 0;
    font-style: normal;
    text-align: center;
    margin: 26px 0 16px;
  }

  .top-bar {
    > * {
      border: 2px solid $parchment_dark;
      border-bottom-width: 0;
    }

    > *:first-child { border-radius: 12px 12px 0 0; }

    > *:last-child {
      border-radius: 0 0 12px 12px;
      border-bottom-width: 2px;
    }

    .effect-row {
      padding: 10px 18px;
    }
  }

  .attacks-bar {
    button.add-target {
      display: flex;
      align-items: center;
      color: $rust;
      margin: 16px 0 36px;

      opacity: 0.5;
      transition: opacity .075s ease-out;

      &:hover { opacity: 1.0; }

      .asset.plus {
        width: 36px;
        height: 36px;
        margin-right: 8px;

        // turns black to $rust
        filter: invert(19%) sepia(35%) saturate(2526%) hue-rotate(342deg) brightness(89%) contrast(96%);
      }
    }
  }

  .status-bar {
    margin-top: auto;
    margin-bottom: 20px;
    padding: 0 40px;

    .tip {
      text-align: center;
      font-style: italic;
      margin-top: 12px;
    }

    .action-buttons-container {
      display: flex;
      margin-top: 4px;

      button {
        display: flex;
        align-items: center;
        justify-content: center;

        min-width: 150px;
        width: 20%;
        padding: 8px;
        font-weight: bold;
        border-radius: 6px;

        &:hover { background-color: $parchment_dark; }


        &.add-target {
          color: $crushed_velvet;
        }

        &.clear-attacks {
          color: $rust;
          margin-left: auto;
        }

        .asset {
          width: 24px;
          height: 24px;
          margin-right: 6px;

          // turns black to $crushed_velvet
          &.plus { filter: invert(20%) sepia(24%) saturate(879%) hue-rotate(287deg) brightness(97%) contrast(92%); }

          // turns black to $rust
          &.x { filter: invert(19%) sepia(35%) saturate(2526%) hue-rotate(342deg) brightness(89%) contrast(96%); }
        }

        &:disabled {
          background-color: transparent;
          font-weight: normal;
          opacity: 0.5;
        }
      }
    }
  }
}
