@import '../../../fonts';

// Serves as a basis for TechRoller, which overwrites some values
.WeaponRoller, .TechRoller {
  @include shadow;
  @include parchment_background;
  @include nouveau_border("nouveau_lancer_weapon.svg");

  display: flex;
  flex-direction: column;

  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  min-height: 360px;
  padding: 8px 4% 8px;
  margin-top: -14px;

  h3 {
    @include text_title_action;
    flex-shrink: 0;
    font-style: normal;
    text-align: center;
    margin: 26px 0 16px;
  }

  .top-bar {
    > * {
      border: 2px solid $parchment_dark;
      border-bottom-width: 0;
    }

    > *:first-child { border-radius: 12px 12px 0 0; }

    > *:last-child {
      border-radius: 0 0 12px 12px;
      border-bottom-width: 2px;
    }

    .effect-row {
      padding: 10px 18px;

      p, .paragraph {
        margin: 0 0 8px;
        &:last-child { margin: 0; }
      }

      ul { margin: 8px 0 0; }
    }

    label.loading-container {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover { background-color: $parchment_dark; }

      input {
        width: 24px;
        height: 24px;
        margin: 4px 0 4px 12px;
      }

      .loading-text {
        @include text_monospace;
        padding: 4px 18px;
        white-space: nowrap;
      }
    }

    .limited-container {
      display: flex;
      align-items: center;

      @include constricted { flex-direction: column-reverse; }

      .limited-label {
        @include text_monospace;
        padding: 4px 18px;
        white-space: nowrap;
      }

      .MechNumberBar button.tick {
        .asset:not(.dot) {
          width: 20px; height: 20px;
        }
      }
    }

    .TraitBlock {
      button.name {
        padding: 6px 18px;

        &.collapsed {
          background-color: transparent;

          &:hover {
            background-color: $parchment_dark;
            filter: brightness(100%);
          }
        }
      }

      .description { padding: 6px 18px; }
    }
  }

  .attacks-bar {
    @include below_max_width { padding: 0 10px; }


    button.add-target {
      display: flex;
      align-items: center;
      color: $rust;
      margin: 16px 0 36px;

      opacity: 0.5;
      transition: opacity .075s ease-out;

      &:hover { opacity: 1.0; }

      .asset.plus {
        width: 36px;
        height: 36px;
        margin-right: 8px;

        // turns black to $rust
        filter: invert(19%) sepia(35%) saturate(2526%) hue-rotate(342deg) brightness(89%) contrast(96%);
      }
    }
  }

  .status-bar {
    margin-top: auto;
    margin-bottom: 20px;
    padding: 0 40px;

    @include constricted { padding: 0 10%; }


    .tip {
      text-align: center;
      font-style: italic;
      margin-top: 12px;

      .asset {
        display: inline-block; width: 20px; height: 20px;
        margin-bottom: -5px;
        margin-left: -2px;
      }
    }

    .action-buttons-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 16px;

      @include constricted { flex-direction: column; }

      button {
        display: flex;
        align-items: center;
        justify-content: center;

        min-width: 200px;
        padding: 8px;

        font-size: 28px;
        font-weight: bold;
        border-radius: 6px;

        &:hover { background-color: $parchment_dark; }
        &.add-target { color: $crushed_velvet; }
        &.clear-attacks { color: $rust; }

        .asset {
          width: 38px;
          height: 38px;
          margin-right: 6px;

          // turns black to $crushed_velvet
          &.plus { filter: invert(20%) sepia(24%) saturate(879%) hue-rotate(287deg) brightness(97%) contrast(92%); }

          // turns black to $rust
          &.x { filter: invert(19%) sepia(35%) saturate(2526%) hue-rotate(342deg) brightness(89%) contrast(96%); }
        }

        &:disabled {
          background-color: transparent;
          font-weight: normal;
          opacity: 0.5;
        }
      }
    }
  }
}
