@import '../../../fonts';

$number_speed: 0.25s;


.WeaponRollerSetup {
  display: flex;
  flex-direction: column;

  margin: 20px 10px;




  .column-container {
    display: flex;
    justify-content: center;

    .column {
      display: flex;
      flex-direction: column;
      width: 40%;
      box-sizing: border-box;
      flex-grow: 0;
      flex-shrink: 0;
      min-height: 200px;

      // border-top: 2px solid $parchment_dark;


      &.difficulty {
        align-items: flex-end;
        margin-right: 14px;
        // border-left: 2px solid $rust;

        * { color: $rust; }

        .Sources button {
          text-align: right;
        }
      }

      &.accuracy {
        align-items: flex-start;
        margin-left: 14px;
        // border-right: 2px solid $rust;

        * { color: $soft_black; }

        .Sources button {
          text-align: left;
        }
      }

      .column-label {
        @include text_monospace;
        font-size: 24px;
        display: flex;
        align-items: center;
        margin: 0 40px 6px;

        .asset-lancer {
          display: inline-block;
          width: 28px;
          height: 28px;
          margin: 0 6px;

          &.difficulty {
            // turns black to $rust
            filter: invert(19%) sepia(35%) saturate(2526%) hue-rotate(342deg) brightness(89%) contrast(96%);
          }
        }
      }

      .NumberLine {
        position: relative;
        display: flex;

        .number {
          display: flex;
          align-items: center;
          position: relative;
          font-size: 60px;
          text-align: center;

          padding: 0;
          margin: 0 6px;
          width: 48px;
          transition: margin $number_speed, width $number_speed;
          overflow: hidden;

          opacity: 0.20;

          &:hover {
            background-color: $parchment_dark;
          }

          &.hidden {
            margin: 0;
            width: 0;
            padding: 0;
          }

          &.current {
            width: 70px;
            // margin: 0 6px 0 0;
            opacity: 1.0;

            .sign {
              visibility: visible;
              width: 32px;
            }
          }

          .sign {
            display: inline-block;
            visibility: hidden;
            width: 0px;
            transition: width $number_speed;
            text-align: center;
          }

          .count {
            min-width: 35px;
            margin: auto;
          }


        }
      }

      .Sources {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        button {
          display: block;
          white-space: nowrap;
          font-weight: bold;
          letter-spacing: 1px;
          width: 50%;
          height: fit-content;
          padding: 4px 8px;
          margin: 4px 0;

          &:hover {
            background-color: $parchment_dark;
          }

          &.current {
            background-color: $rust;
            color: white;

            &:hover {
              background-color: $rust_light;
            }
          }
        }
      }
    }
  }
}
