@import '../../fonts';

.BigRollButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  margin: 10px 20px;

  button.new-roll {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    background-color: $rust;
    cursor: pointer;

    &:hover { background-color: $rust_light; }

    .asset {
      margin: auto;
      width: 80%;
      height: 80%;

      // black to pink
      filter: invert(82%) sepia(3%) saturate(3828%) hue-rotate(319deg) brightness(96%) contrast(78%);

      // black to white
      // filter: invert(100%) sepia(0%) saturate(3221%) hue-rotate(231deg) brightness(125%) contrast(110%);
    }

    &.disabled {
      cursor: auto;
      background-color: $grey_mid;
      .asset { filter: none; }
    }
  }
}
