@import '../../fonts';

.CharacterAndMonsterList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 800px;
  width: 100%;
  margin: auto;
}

.CharacterList, .MonsterList {
  @include shadow;
  @include parchment_background;
  @include nouveau_border('nouveau_list_characters.svg');

  width: 49%;
  min-width: 320px;
  min-height: 178px;
  margin: 20px 0;
  padding: 10px 11px;
  box-sizing: border-box;

  .title-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: $parchment_dark;
    border-radius: 6px 6px 0 0;

    .title-button {
      border-radius: 6px 0 0 0;

      &:not(:disabled) {
        h2 { color: $rust; }

        &:hover { background-color: $pink; }
      }

      h2 {
        @include text_card_label;
        margin: 0 14px 0 0;
        padding: 6px 0 6px 12px;
      }
    }


    // the monster filter
    input {
      width: 100%;
      padding: 6px 8px;
      border: 1px solid $parchment_dark;
      border-radius: 0 6px 0 0;
    }

    button.clear-filter {
      position: absolute;
      right: 0;
      top: 2px;
      height: 33px;
      width: 33px;

      display: block;
      border: none;
      background-color: transparent;
      cursor: pointer;

      &:hover {background-color: $parchment_dark;}

      .asset.x {
        height: 20px;
        width: 20px;
      }
    }

    button.new-character {
      @include text_default;
      height: 100%;
      color: $rust;

      .asset.plus {
        height: 22px;
        width: 22px;
        margin-left: 8px;

        // turns black to $rust
        filter: invert(19%) sepia(35%) saturate(2526%) hue-rotate(342deg) brightness(89%) contrast(96%);
      }
    }
  }

  button.new-character {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    border: none;
    border-radius: 0 6px 0 0;
    background: none;
    cursor: pointer;

    &:hover { background-color: $pink; }

    &.first {
      @include text_title_heavy;
      font-size: 32px;
      font-style: normal;
      margin: 10px auto 0;

      &:hover { background-color: $parchment_dark; }

      .asset.plus {
        height: 40px;
        width: 40px;
        margin-left: 8px;

        // turns black to $rust
        filter: invert(19%) sepia(35%) saturate(2526%) hue-rotate(342deg) brightness(89%) contrast(96%);
      }
    }
  }
}
