@import '../../fonts';

.CollapsibleSection {
  max-width: 800px;
  width: 100%;
  margin: auto;

  overflow-y: hidden;

  &.closed {
    animation: animate_max_height_closing .2s forwards;
    -webkit-animation: animate_max_height_closing .2s forwards;
  }

  &.open {
    animation: animate_max_height_opening .2s forwards;
    -webkit-animation: animate_max_height_opening .2s forwards;
  }

  button.section-title {
    @include text_title_heavy;
    color: $pink;
    background-color: $crushed_velvet;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
    box-sizing: border-box;
    width: 100%;

    &:hover {
      background-color: $pink_logo_dark;
    }

    .asset {
      display: inline-block;
      margin-left: 14px;
      width: 18px;
      height: 18px;

      // black to pink
      filter: invert(82%) sepia(3%) saturate(3828%) hue-rotate(319deg) brightness(96%) contrast(78%);

      &.reversed { transform: rotate(180deg); }
    }
  }
}

@keyframes animate_max_height_closing {
  0% { max-height: auto; }
  1% { max-height: 1200px; }
  100% { max-height: 53px; }
}

@keyframes animate_max_height_opening {
  0% { max-height: 53px; }
  99% { max-height: 1200px; }
  100% { max-height: auto; }
}
