@import '../../fonts';

.DeleteButton.asset.trash {
  display: block;
  width: 24px;
  height: 24px;
  cursor: pointer;

  // turns black to $rust
  filter: invert(19%) sepia(35%) saturate(2526%) hue-rotate(342deg) brightness(89%) contrast(96%);
  opacity: 0.5;
  transition: opacity .075s ease-out;

  &:hover { opacity: 1.80;}
}

.DeleteConfirmation {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: $parchment_dark;

  @media screen and (max-width: 800px) {
    flex-direction: column;

    .controls {
      width: 100%;
    }
  }

  .title-container {
    display: flex;
    align-items: center;
    background-color: $parchment_dark;
    padding: 15px 8px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    .delete-title {
      @include text_default;
      width: 100%;
      text-align: center;
    }
  }

  .controls {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    // width: 100%;

    button {
      @include text_default;
      font-weight: bold;
      font-size: 16px;
      // height: 100%;
      // width: 100%;
      width: 100px;
      padding: 15px 0;
      border: 0;
      opacity: .85;

      @media screen and (max-width: 800px) {
        width: 100%;
      }

      &.cancel { background-color: $olive_light; }
      &.delete { background-color: $rust_light; }
      &:hover { opacity: 1.0; }

      .asset {
        width: 40px;
        height: 40px;
        margin: 0 auto 6px;
      }
    }
  }
}
