@import '../../fonts';

.DeleteButton.asset.trash {
  display: block;
  width: 24px;
  height: 24px;

  margin: 6px auto;
  cursor: pointer;

  // turns black to $rust
  filter: invert(19%) sepia(35%) saturate(2526%) hue-rotate(342deg) brightness(89%) contrast(96%);
  opacity: 0.2;
  transition: opacity .075s ease-out;

  &:hover { opacity: 0.8;}
}

.DeleteConfirmation {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: $parchment_dark;

  .delete-title {
    @include text_default;
    padding: 0 30px;
    margin-right: auto;
  }

  button {
    @include text_default;
    font-weight: bold;
    font-size: 16px;
    height: 100%;
    width: 100px;
    padding: 15px 0;
    border: 0;
    cursor: pointer;

    &.cancel { background-color: $olive_light; }
    &.delete { background-color: $rust_light; }
    &:hover { background-color: grey; }

    .asset {
      width: 40px;
      height: 40px;
      margin: 0 auto 6px;
    }
  }
}
