@import '../../fonts';

.DeleteButton.asset.trash {
  display: block;
  width: 30px;
  height: 30px;

  margin: 6px auto;
  cursor: pointer;

  // turns black to $rust
  filter: invert(19%) sepia(35%) saturate(2526%) hue-rotate(342deg) brightness(89%) contrast(96%);
  opacity: 0.2;
  transition: opacity .075s ease-out;

  &:hover { opacity: 0.8;}
}
