@import '../../fonts';

$wait_time: .85s;
$tooltip_width: 340px;
$nub_width: 12px;

.Tooltip.anchor {
  position: absolute;
  left: 50%;
  bottom: calc(100%);
  transform: translateX(-50%);
  padding-bottom: $nub_width;
  white-space: normal;
  width: $tooltip_width;
  z-index: 10;

  animation: fade-in $wait_time, offscreen-until-we-need-it-desktop $wait_time;

  @include below_max_width {
    position: fixed;
    padding-bottom: 0;
    bottom: 0;
    left: 0;
    transform: none;
    width: calc(100vw - (100vw - 100%)); //negates the scrollbar
    box-sizing: border-box;

    animation: fade-in $wait_time, offscreen-until-we-need-it-mobile $wait_time;
  }

  .content-container {
    @include shadow;

    position: relative;
    height: fit-content;
    padding: 12px;
    border-radius: 8px;

    width: 100%;
    box-sizing: border-box;
    background-color: $rust;
    color: white;

    cursor: auto;

    @include below_max_width {
      border-radius: 0;
      border-top: 4px solid $crushed_velvet;
    }


    &:before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      border-left: $nub_width solid transparent;
      border-right: $nub_width solid transparent;
      border-top: $nub_width solid $rust;
      left: 50%;
      bottom: (($nub_width * -1) + 1px);

      @include below_max_width { display: none; }
    }

    .title-container {
      display: flex;
      justify-content: space-between;

      h4 {
        font-size: 24px;
        font-weight: bold;
        margin: 0;
      }

      button.asset.x {
        width: 24px;
        height: 24px;
        filter: invert(100%);

        display: none;
        @include below_max_width { display: block; }
      }
    }


    .paragraph-container {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 7; /* number of lines to show */
              line-clamp: 7;
      -webkit-box-orient: vertical;

      p {
        margin-bottom: 0;

        &.flavor { font-style: italic; }
      }
    }

    a {
      display: block;
      margin: 12px 0;
      color: white;
    }

  }
}

@keyframes fade-in {
  0% { opacity: 0.0; }
  70% { opacity: 0.0; }
  100% { opacity: 1.0; }
}


// Push it off the screen so it can't hover, then
// pop it on only **right** before it starts fading in
@keyframes offscreen-until-we-need-it-mobile {
  0% { left: -4000px; }
  69% { left: -4000px; }
  70% { left: 0; }
}

@keyframes offscreen-until-we-need-it-desktop {
  0% { left: -4000px; }
  69% { left: -4000px; }
  70% { left: 50%; }
}
