@import '../../../../../fonts';


.DetailedRollResults {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;

  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  // opacity: 0.0;

  span {
    display: inline-block;

    &.asset {
      width: 20px;
      height: 20px;
      margin-right: 1px;
    }

    &.plus {
      padding: 0 2px;
    }

    &.amount {
      max-width: 80px; // for really long accuracy rolls
    }

    &.grey { color: #999; } // between mid and mid_light

    &.black { color: $soft_black; }

    &.rust {
      color: $rust;

      // turns black to $rust
      &.asset { filter: invert(19%) sepia(35%) saturate(2526%) hue-rotate(342deg) brightness(89%) contrast(96%); }
    }
  }
}

.AccuracyDifficultyButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  button.asset {
    width: 28px;
    height: 28px;
    opacity: .5;

    &:hover { opacity: 1.0; }

    &:active {
      // turns black to $rust
      filter: invert(19%) sepia(35%) saturate(2526%) hue-rotate(342deg) brightness(89%) contrast(96%);
      transform: scale(115%);
    }
  }
}
