@import '../../../fonts';


.ActiveNpcBox {
  @include shadow;
  margin: 0 auto;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-width: 320px;
  min-height: 178px;

  &.condensed {
    border-radius: 4px;
    background-color: $mud;
    margin-bottom: 12px;

    border: 2px solid $rust;
  }

  &.full {
    @include parchment_background;
    @include nouveau_border('nouveau_lancer_mech.svg');
    padding: 18px 14px;
  }

  .title-bar {
    &.condensed h2 {
      // color: $grey_dark;
      color: $grey_very_very_dark;
      font-size: 18px;
      margin: 10px 0;
    }

    &.full h2 {
      color: $rust;
      font-size: 32px;
      margin: 12px 0 8px;
    }

    h2 {
      @include text_monospace;
      text-align: center;
    }
  }

  .npcs-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;

    padding: 0 6px;

    &.condensed {
      column-gap: 6px;
      row-gap: 6px;
      // padding: 3px;
    }

    &.full {
      // padding-bottom: 40px;
      // background-color: $parchment_mid;

      >*:nth-child(4n), >*:nth-child(4n-3) {
        background-color: $parchment_dark;
      }

    }

  }
}
