@import '../../../fonts';

.EncounterControls {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin: auto;
  box-sizing: border-box;
  max-width: 800px;
  width: 100%;

  .TextInput {
    margin: 0;
    padding: 0;
    border-radius: 0;
    width: 100%;

    .display, input {
      @include text_title_heavy;
      color: $pink;
      padding: 12px 20px;
      text-align: center;
    }

    input {
      background-color: $concrete_violet;
      color: $soft_black;
    }

    .display {
      background-color: $crushed_velvet;
      &:hover { background-color: $pink_logo_dark;}
    }
  }

  button.restart {
    background-color: $rust;
    padding: 12px 20px;

    &:hover { background-color: $rust_light;}

    .asset {
      width: 14px;
      height: 14px;

      // black to pink
      filter: invert(82%) sepia(3%) saturate(3828%) hue-rotate(319deg) brightness(96%) contrast(78%);

    }
  }
}
