@import '../../../fonts';

.LancerNpcMode {

  .encounter-management {
    @include standard_side_margin;

    .encounter-and-roster-container {
      display: flex;

      box-sizing: border-box;
      width: 100%;
      max-width: 800px;
      margin: 20px auto;

      @include below_max_width {
        flex-wrap: wrap-reverse;
      }

      // NPC roster
      .FileList.npcs {
        box-sizing: border-box;
        width: 100%;
        margin: 0 12px 0 0;

        @include below_max_width {
          margin: 12px auto 0;
        }
      }

      .encounter-list-and-info {
        margin: 0 auto;

        // Encounters
        .CharacterList {
          box-sizing: border-box;
          width: unset;
          margin: 0;

          border-radius: 14px 14px 0 0;

          .EntryList {
            display: block;

            li {
              width: 100%;
              font-size: 16px;
            }
          }
        }
      }

    }

    .active-npc-boxes-container {
      // @include shadow;
      // @include parchment_background;
      // @include nouveau_border('nouveau_lancer_mech.svg');

      // display: flex;
      // justify-content: space-between;
      // flex-wrap: wrap;

      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));

      grid-column-gap: 4px;
      grid-row-gap: 12px;

      box-sizing: border-box;
      width: 100%;
      max-width: 800px;
      margin: 0 auto 20px;

      .ActiveNpcBox {
        // &.condensed {
        //   width: 48%;
        // }

        &.full {
          grid-column: 1 / span 2;

          @include below_max_width { grid-column: 1; }
        }
      }
    }
  }
}
