@import '../../../fonts';

.LancerNpcMode {

  .missing-lcp-warning {
    @include standard_side_margin;
    @include shadow;
    @include parchment_background;
    @include nouveau_border('nouveau_lancer_mech.svg');
    box-sizing: border-box;
    max-width: 800px;
    padding: 8px 10% 40px;
    // border-radius: 14px;
    margin: 20px auto 0;
    line-height: 1.5;

    h2 {
      color: $rust;
      text-align: center;
    }

    ol {
      margin: 16px 0 10px;
      padding-inline-start: 40px;
      li { margin: 16px 0 0; }
    }

    .fake-button {
      padding: 2px 12px 2px 8px;
      margin: 0 6px;
      color: $pink_logo_light;
      background-color: $crushed_velvet;
      border-radius: 6px;
      max-width: 800px;
    }

    .fake-new {
      @include text_default;
      background-color: $parchment_dark;
      color: $rust;
      border-radius: 0 6px 0 0;
      padding: 4px 8px;
      margin: 0 6px;

      .asset {
        display: inline-block;
        width: 20px;
        height: 20px;
        position: relative;
        top: 5px;

        // black to $rust
        filter: invert(19%) sepia(35%) saturate(2526%) hue-rotate(342deg) brightness(89%) contrast(96%);
      }
    }
  }

  .encounter-management {
    @include standard_side_margin;
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    .encounter-and-roster-container {
      display: flex;

      box-sizing: border-box;
      width: 100%;
      max-width: 800px;
      margin: 12px auto 0;

      @include below_max_width {
        flex-wrap: wrap-reverse;
      }

      // NPC roster
      .FileList.npcs {
        box-sizing: border-box;
        width: 100%;
        margin: 0 12px 0 0;

        @include below_max_width {
          margin: 12px auto 0;
        }

        // upload-file
        .panel { margin: 0; }

        .instructions {

          ul {
            text-align: left;
            margin: 6px 0 0;

            li { padding-top: 6px; }
          }

          span.hover-help {
            position: relative;
            text-decoration: underline;
            text-decoration-style: dotted;
            white-space: nowrap;
            color: $periwinkle_dark;
            cursor: help;

            &:hover img {
              display: block;
            }

            img {
              display: none;
              position: absolute;
              top: -50%;
              left: -50%;
            }
          }

          button.reimport {
            font-size: 18px;
            border-radius: 4px;
            padding: 6px 8px;
            background-color: $parchment_dark;

            &:hover {
              background-color: $rust;
              span { filter: invert(100%); }
            }

            .asset.refresh {
              display: inline-block;
              width: 16px;
              height: 16px;
              margin-left: 4px;
              position: relative;
              top: 1px;

            }
          }
        }
      }

      .encounter-list-and-info {
        margin: 0 auto;

        // Encounters
        .CharacterList {
          box-sizing: border-box;
          width: unset;
          margin: 0;

          border-radius: 14px 14px 0 0;

          .EntryList {
            display: block;

            li {
              width: 100%;
              font-size: 16px;
            }
          }
        }
      }

    }

    .active-npc-boxes-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));

      grid-column-gap: 4px;
      grid-row-gap: 12px;

      box-sizing: border-box;
      width: 100%;
      max-width: 800px;
      margin: 0 auto;

      .ActiveNpcBox {
        &.full {
          grid-column: 1 / span 2;

          @include below_max_width { grid-column: 1; }
        }
      }
    }
  }
}
