@import '../../../fonts';


.LancerNpcMode {

  .encounter-and-roster-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    max-width: 800px;
    box-sizing: border-box;
    width: 100%;
    margin: 20px auto;

    .FileList.npcs {
      box-sizing: border-box;
      width: 100%;
      max-width: 390px;
      margin: auto;

      .panel {
        margin: 0;
      }
    }

    .CharacterList {
      box-sizing: border-box;
      width: 100%;
      max-width: 390px;
      margin: auto;

      .panel {
        margin: 0;
      }
    }
  }

  .active-npc-boxes-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 800px;
    box-sizing: border-box;
    width: 100%;
    margin: 20px auto;

    .ActiveNpcBox {
      &.condensed {
        width: 50%;
      }

      &.full {
        width: 100%;
      }
    }
  }
}
