@import '../../../fonts';

$side_button: 24px;

@keyframes flashIn {
  0% {
    clip-path: polygon(0 0,10% 0,10% 100%,0 100%);
  }
  100% {
    clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
  }
}


.DieOrReserveButton {
  opacity: 0.3;
  border-radius: 3px;

  &:hover {
    opacity: 1.0;
    background-color: $rust_light;

    .asset { filter: invert(100%); }
  }

  .asset {
    width: $side_button;
    height: $side_button;
  }
}

.ActivationsTracker {
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
  align-self: center;

  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;


  input {
    width: $side_button;
    height: $side_button;
    margin: 0;
  }
}

.NpcPortrait {
  align-self: center;
  justify-self: center;
  background-color: $mud;
  clip-path: polygon(50% 0,100% 50%,50% 100%,0 50%);

  img {
    height: 100%;
    margin: auto;
    display: block;
  }
}

button.ClickToSelect {
  background-color: transparent;
  z-index: 2;

  &:hover:not(:disabled) {
    background-color: rgba(1,1,1,.2);
  }
}

button.NpcCardInactive {
  display: grid;
  grid-template-columns: 28px 1fr 20px 20px;
  column-gap: 4px;
  row-gap: 4px;

  box-sizing: border-box;
  width: 100%;
  padding: 6px 6px 6px 2px;
  // border-radius: 4px;

  background-color: $mud;

  filter: brightness(110%);
  transition: filter .1s;
  animation: .45s steps(8, end) 0s 1 flashIn;

  &:hover {
    filter: brightness(140%);
  }

  .count {
    @include text_monospace;
    font-size: 22px;
    color: $rust_dark;
    grid-row: 1 / span 2;
    text-align: center;
    align-self: center;
  }

  .name {
    font-size: 14px;
    color: $grey_very_very_dark;
    grid-column: 2 / span 2;
    grid-row: 1;
    text-align: left;
    align-self: end;
  }

  .class {
    @include text_monospace;
    font-size: 12px;
    color: $grey_very_very_dark;
    grid-column: 2 / span 2;
    grid-row: 2;
    text-align: left;
  }

  .NpcPortrait {
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
    width: 42px;
    height: 42px;
    background-color: $grey_very_dark;
    opacity: .6;
  }

  .role.asset {
    grid-column: 4;
    grid-row: 1;
    align-self: start;
    justify-self: end;

    margin-top: -4px;
    margin-right: -4px;
    width: 16px;
    height: 16px;
    filter: invert(30%);
  }

  .tier.asset {
    grid-column: 4;
    grid-row: 2;
    align-self: end;
    justify-self: end;

    margin-bottom: -2px;
    margin-right: -4px;
    width: 16px;
    height: 16px;
    filter: invert(25%);
  }
}


.NpcCardGrunt, .NpcCardFull {
  padding: 6px 6px;
  height: fit-content;
  box-sizing: border-box;

  animation: .45s steps(8, end) 0s 1 flashIn;

  &#selected-npc-card {
    background-color: $rust;
    * { color: white; }
    .asset:not(.NpcPortrait) { filter: invert(100%); }
  }
}

.NpcCardGrunt {
  display: grid;
  grid-template-columns: $side_button 1.3fr 42px .7fr $side_button;
  grid-template-rows: 1fr 1fr;

  column-gap: 4px;
  row-gap: 4px;


  button.ClickToSelect {
    grid-column: 2 / span 3;
    grid-row: 1 / span 2;
  }

  .ActivationsTracker {
    grid-column: 1;
    grid-row: 1 / span 2;
  }

  .name {
    font-size: 16px;
    color: $rust;
    grid-column: 2;
    grid-row: 1;
    text-align: right;
    align-self: end;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .class {
    @include text_monospace;
    font-size: 13px;
    color: $grey_dark;
    grid-column: 2;
    grid-row: 2;
    text-align: right;
  }

  .conditions {
    @include text_monospace;
    font-size: 10px;
    color: $grey_dark;
    margin-top: 6px;
    grid-column: 4;
    grid-row: 1 / span 2;
  }

  .NpcPortrait {
    grid-column: 3;
    grid-row: 1 / span 2;
    width: 42px;
    height: 42px;
  }

  // .tier.asset {
  //   grid-column: 1;
  //   grid-row: 2;
  //   justify-self: center;
  //   align-self: center;
  //
  //   width: $side_button;
  //   height: $side_button;
  //
  //   // turns black to $rust
  //   filter: invert(19%) sepia(35%) saturate(2526%) hue-rotate(342deg) brightness(89%) contrast(96%);
  // }


  .DieOrReserveButton {
    &.die {
      grid-column: 5;
      grid-row: 1;
    }

    &.reserve {
      grid-column: 5;
      grid-row: 2;
    }
  }
}


.NpcCardFull {
  display: grid;
  grid-template-columns: $side_button 1.3fr 20px 20px 20px .7fr $side_button;
  grid-template-rows: 1fr 1fr .8fr 1.2fr;

  grid-row: span 2;

  column-gap: 4px;
  row-gap: 4px;

  button.ClickToSelect {
    grid-column: 2 / span 5;
    grid-row: 1 / span 4;
  }

  .ActivationsTracker {
    grid-column: 1;
    grid-row: 1 / span 4;
    align-items: flex-start;
  }

  .name {
    font-size: 16px;
    color: $rust;
    grid-column: 2 / span 2;
    grid-row: 1;
    text-align: right;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .class {
    @include text_monospace;
    font-size: 13px;
    color: $grey_dark;
    grid-column: 2;
    grid-row: 2;
    text-align: right;
  }

  .conditions {
    @include text_monospace;
    font-size: 10px;
    color: $grey_dark;
    margin-top: 2px;
    grid-column: 5 / span 2;
    grid-row: 1 / span 2;
  }

  .NpcPortrait {
    grid-column: 3 / span 3;
    grid-row: 1 / span 4;
    width: 70px;
    height: 70px;
  }

  .structure, .stress {
    display: flex;

    &.structure {
      grid-column: 2;
      grid-row: 3;
      justify-self: end;
    }

    &.stress {
      grid-column: 6;
      grid-row: 3;
    }

    .asset {
      width: 14px;
      height: 14px;

      // turns black to $rust
      &.filled { filter: invert(19%) sepia(35%) saturate(2526%) hue-rotate(342deg) brightness(89%) contrast(96%); }
      &.empty { filter: invert(20%); }
    }
  }

  .hp, .heat {
    @include text_monospace;
    color: $rust;

    &.hp {
      grid-column: 2 / span 2;
      grid-row: 4;
      justify-self: end;
    }

    &.heat {
      grid-column: 5 / span 2;
      grid-row: 4;
    }

    .label { font-size: 14px; }
    .numbers {
      font-size: 22px;
      margin: 0 4px;
    }
  }

  .DieOrReserveButton {
    &.die {
      grid-column: 7;
      grid-row: 1 / span 2;
    }

    &.reserve {
      grid-column: 7;
      grid-row: 3 / span 2;
    }
  }
}
