@import '../../../fonts';

.NpcRoster {
  .roster-container {
    @include shadow;
    @include parchment_background;
    // @include nouveau_border('nouveau_list_characters.svg');

    border-radius: 14px;
    box-sizing: border-box;
    width: 100%;
    min-width: 320px;
    min-height: 380px;
    padding: 12px;


    .title-bar {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      background-color: $parchment_dark;
      border-radius: 6px 6px 0 0;

      h2 {
        @include text_card_label;
        margin: 0 14px 0 0;
        padding: 6px 0 6px 12px;
      }

      button.new-character {
        display: flex;
        align-items: center;
        padding: 6px 12px;
        border: none;
        border-radius: 0 6px 0 0;
        background: none;
        cursor: pointer;

        &:hover { background-color: $pink; }

        &.first {
          @include text_title_heavy;
          font-size: 32px;
          font-style: normal;
          margin: 10px auto 0;

          &:hover { background-color: $parchment_dark; }

          .asset.plus {
            height: 40px;
            width: 40px;
            margin-left: 8px;

            // turns black to $rust
            filter: invert(19%) sepia(35%) saturate(2526%) hue-rotate(342deg) brightness(89%) contrast(96%);
          }
        }
      }

      button.new-character {
        @include text_default;
        display: flex;
        align-items: center;

        height: 100%;
        color: $rust;
        padding: 6px 12px;
        border-radius: 0 6px 0 0;
        background: none;
        cursor: pointer;

        .asset.plus {
          height: 22px;
          width: 22px;
          margin-left: 8px;

          // turns black to $rust
          filter: invert(19%) sepia(35%) saturate(2526%) hue-rotate(342deg) brightness(89%) contrast(96%);
        }
      }
    }

    .table-scrollable-area {
      max-height: 400px;
      overflow: auto;
      border: 4px solid $parchment_dark;
      border-radius: 0 0 14px 14px;

      table.roster-table {
        @include text_monospace;
        position: relative;
        box-sizing: border-box;
        width: 100%;
        border-spacing: 0;

        tr.headers {
          background-color: $parchment_dark;
          position: sticky;
          left: 0;
          top: 0;
          z-index: 5;

          th {
            &.name {
              padding: 4px;
              text-align: left;
            }

            &.class {
              text-align: left;
            }
          }
        }

        tr.group-label {
          cursor: pointer;

          &.closed {
            background-color: $parchment_dark;
            // color: white;
            &:hover { background-color: $rust_light; }

            // .asset { filter: invert(100%); }

          }

          &.open {
            background-color: $rust;
            color: white;
            &:hover { background-color: $rust_light; }

            .asset { filter: invert(100%); }
          }

          td {
            padding: 6px 0;
            font-size: 18px;

            .label-container {
              display: flex;
              align-items: center;

              .asset {
                display: inline-block;
                margin: 0 8px;
                width: 14px;
                height: 14px;


                &.reversed { transform: rotate(180deg); }
              }
            }
          }
        }

        tr.npc {
          cursor: pointer;

          &:hover { background-color: $pink; }
          &.disabled {
            cursor: auto;
            background-color: transparent;
          }
        }

        td.name {
          padding: 8px 0 8px 4px;
        }

        td.role .asset {
          margin: auto;
          width: 24px;
          height: 24px;
        }

        td.tier {
          text-align: center;
        }
      }
    }
  }
}
