@import '../../../fonts';


.NpcRoster {
  .roster-container {
    @include shadow;
    @include parchment_background;
    @include nouveau_border('nouveau_list_characters.svg');

    box-sizing: border-box;
    width: 100%;
    min-width: 320px;
    min-height: 178px;
    padding: 10px 16px 40px;

    .title-bar {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      background-color: $parchment_dark;
      border-radius: 6px 6px 0 0;

      h2 {
        @include text_card_label;
        margin: 0 14px 0 0;
        padding: 6px 0 6px 12px;
      }

      button.new-character {
        display: flex;
        align-items: center;
        padding: 6px 12px;
        border: none;
        border-radius: 0 6px 0 0;
        background: none;
        cursor: pointer;

        &:hover { background-color: $pink; }

        &.first {
          @include text_title_heavy;
          font-size: 32px;
          font-style: normal;
          margin: 10px auto 0;

          &:hover { background-color: $parchment_dark; }

          .asset.plus {
            height: 40px;
            width: 40px;
            margin-left: 8px;

            // turns black to $rust
            filter: invert(19%) sepia(35%) saturate(2526%) hue-rotate(342deg) brightness(89%) contrast(96%);
          }
        }
      }

      button.new-character {
        @include text_default;
        display: flex;
        align-items: center;

        height: 100%;
        color: $rust;
        padding: 6px 12px;
        border-radius: 0 6px 0 0;
        background: none;
        cursor: pointer;

        .asset.plus {
          height: 22px;
          width: 22px;
          margin-left: 8px;

          // turns black to $rust
          filter: invert(19%) sepia(35%) saturate(2526%) hue-rotate(342deg) brightness(89%) contrast(96%);
        }
      }
    }

    table.roster-table {
      box-sizing: border-box;
      width: 100%;
      padding: 8px 12px;
      border-spacing: 0;

      th {
        padding: 0 4px;

        &.name, &.class {
          text-align: left;
          padding-left: 0;
        }
      }

      tr.npc {
        cursor: pointer;

        &:hover {
          background-color: $pink;
        }

        &.disabled {
          cursor: auto;
          background-color: transparent;
        }
      }


      td.role .asset {
        margin: auto;
        width: 24px;
        height: 24px;
      }

      td.tier {
        text-align: center;
      }

      // td.add {
      //   text-align: center;
      //
      //   button {
      //     width: 24px;
      //     height: 24px;
      //     color: $rust;
      //     font-size: 20px;
      //     font-weight: bold;
      //
      //     &:hover {
      //       background-color: $rust;
      //       color: white;
      //     }
      //
      //     &:disabled {
      //       background-color: transparent;
      //       color: $grey_mid
      //     }
      //   }
      // }
    }
  }
}
