@import '../../../../fonts';

.AttackRollOutput {
  display: flex;
  align-items: center;

  .result-container {
    display: flex;
    align-items: center;

    .die-icon.asset {
      width: 36px;
      height: 36px;
      margin: 6px;

      // for crits
      .necrotic {
        width: 20px;
        height: 20px;
        margin: 9px auto;

        // turn black to white
        filter: invert(100%);
      }
    }

    .result {
      // width: 76px;
      min-width: 50px;
      padding: 0 4px;
      position: relative;
      display: inline-block;
      font-size: 40px;
      text-align: left;
    }

    input.manual-result {
      font-family: 'Bitter';
      padding: 2px 0;
      width: 76px;
      border: 4px solid $parchment_dark;
      background-color: $parchment_mid;
      text-align: center;
      font-size: 30px;
    }
  }
}

.DetailedRollResults {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;

  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  // opacity: 0.0;

  span {
    display: inline-block;

    &.asset {
      width: 20px;
      height: 20px;
      margin-right: 1px;
    }

    &.plus {
      padding: 0 2px;
    }

  }
}

.ExpandedMenu {
  display: flex;

  button {
    &.active {
      background-color: $rust;
      color: white;

      // turn black to white
      .asset { filter: invert(100%); }
    }

    &:hover {
      background-color: $rust_light;
    }
  }

  button.kebab {
    font-size: 36px;
    padding: 0 3px 0 2px;
  }

  .expanded-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: $parchment_dark;

    button {
      width: 100%;
      padding: 4px;

      .asset {
        width: 18px;
        height: 18px;
        margin: auto;
      }
    }
  }
}
