@import '../../../../fonts';


.DamageSubtotal {
  border: 2px solid $parchment_dark;
  border-radius: 8px;

  button {
    padding: 0;
    border-radius: 8px;

    &:hover {
      background-color: $pink;
    }

    &:disabled {
      background-color: transparent;
      cursor: auto;
    }
  }

  .actual-total-container {
    display: flex;
    align-items: center;
    padding-left: 8px;

    .amount {
      font-size: 60px;
    }

    .type-column {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      max-height: 70px;
      // min-width: 48px;

      .asset {
        width: 24px;
        height: 24px;

        &.single-type {
          width: 60px;
          height: 60px;
        }
      }
    }
  }

  .by-type-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;

    .subtotal {
      display: flex;
      align-items: center;

      .amount {
        font-size: 46px;
        margin-left: 10px;
      }

      .asset {
        width: 36px;
        height: 36px;
      }
    }
  }
}
