@import '../../../../fonts';

.WeaponAttack {
  margin: 8px 0;

  &:only-child {
    margin: 60px 0;
  }

  // &:first-child { border-top: 2px solid $parchment_dark; }
  // &:not(:last-child) { margin-bottom: 16px; }

  .damage-container {
    display: flex;
    align-items: center;
    min-height: 78px;

    > * { flex-shrink: 0; }

    .miss-message {
      margin-left: auto;
      margin-right: 6px;
      font-size: 18px;
      font-weight: bold;
      color: $rust;
    }

    .damage-line {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      flex-shrink: 1;
    }
  }

  .effects-container {
    display: flex;
    flex-direction: column;
    margin-right: 6px;
    margin-left: auto;
    font-size: 18px;
    color: $rust;

    > p {
      max-width: 400px;
      margin: 0 0 8px auto;
      // margin: 0 0 8px;
      text-align: justify;
    }
  }
}
