@import '../../../../fonts';

.WeaponAttack {
  margin: 8px 0;

  &:only-child {
    margin: 60px 0;
  }

  // &:first-child { border-top: 2px solid $parchment_dark; }
  // &:not(:last-child) { margin-bottom: 16px; }

  .details-and-total-container {
    min-height: 78px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .details-container {
      display: grid;
      align-items: center;
      grid-template-columns: 44px 1fr;

      .HitCheckbox {
        grid-row: 1 / span 1;
        width: fit-content;
        height: fit-content;
      }

      .AttackRollOutput {
        grid-row: span 1;
      }

      .damage-line {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;

        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-shrink: 1;

        // @include max_width { max-width: 200px; }
      }


    }

    .total-container {
      margin: 4px 0 4px auto;

      .miss-message {
        margin-right: 6px;
        font-size: 18px;
        font-weight: bold;
        color: $rust;
      }
    }
  }

  .effects-container {
    display: flex;
    flex-direction: column;
    margin-right: 6px;
    margin-left: auto;
    font-size: 18px;
    color: $rust;

    > .paragraph {
      max-width: 400px;
      margin: 0 0 8px auto;
      // margin: 0 0 8px;
      text-align: justify;
    }
  }
}
