@import './fontsWitchCraft';

.CraftCharacter {
  @include shadow;
  background-color: $parchment;
  position: relative;
  max-width: 700px;
  width: 100%;
  margin: 20px 10px 0;

  // put pumpkin-bar above the project list
  z-index: 10;

  .select-dropdown * {
    cursor: pointer;

    &.tier-group {
      text-align: center;
      color: salmon;
      margin-top: 20px;
      font-weight: bold;
    }
  }

  .intro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;

    .name-and-class {
      display: flex;
      flex-direction: column;
      padding: 0 30px;
      box-sizing: border-box;

      width: 55%;
      @media screen and (max-width: 600px) {
        width: 100%;
      }

      .name {
        @include text_character_name;
        color: $green_witch;
        text-align: center;
        margin: 6px 0;

        input {
          @include text_character_name;
          color: $green_witch;
          text-align: center;
        }
      }

      .tier {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 8px 0;

        .crafting-tier {
          @include text_title_light_black;
          text-align: center;
          width: 30%;
          flex-shrink: 0;
        }

        .crafting-class {
          @include text_title_light_black;
          font-style: italic;
          // text-align: right;
          // width: 70%;

          .TextInput {
            width: 100%;

            input { @include text_title_light_black; }
          }
        }
      }
    }

    .crafting-media {
      width: 40%;
      min-width: 256px;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;

      .primary {
        font-size: 38px;
        margin: 0 10px;
      }

      .secondary {
        font-size: 28px;
        width: 60%;
        margin: -1px auto 0;
      }
    }
  }

  .stats {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 0;

    > div {
      display: flex;
      flex-direction: column;
      text-align: center;
      flex-shrink: 0;
      margin: 0 20px;

      .label { margin-bottom: 6px; }
      .value { font-size: 30px; }
    }
  }

  table.techniques {
    margin: 0 2% 30px;
    border-spacing: 0;

    // since I for some reason am using a table, have to space it awkwardly
    tr {
      td { padding: 12px 0 12px 10px; }
      td.selected-technique:hover { background-color: $green_witch_grey; }
      // td { padding-top: 18px; }
      // &.basic td {padding-top: 8px; }

      &:nth-child(odd) { background-color: $green_witch_pale; }
    }

    tr {
      // LABEL
      td:first-child {
        width: 180px;

        .select-dropdown { margin: 0 10px 0 -10px; }
      }

      // VALUE
      td:nth-child(2) {
        width: 72%;

        .placeholder { color: $grey_mid; }

        .technique-select { margin-top: 8px; }
      }
    }
  }

  .DeleteButton {
    position: absolute;
    left: 6px;
    top: 8px;
  }

  .DeleteConfirmation {
    position: absolute;
    left: 0px;
    top: 9px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;

    .delete-title {
      font-size: 40px;
      color: $rust;
    }
  }

  &.hidden {
    .intro-container, .stats, .techniques { opacity: 0%; }
  }
}
