@import '../../fonts';

.CraftRoller {
  width: 100%;
  max-width: 600px;
  margin: 0 10px;

  h2.roll-craft {
    @include text_title_action;
    color: $green_witch;
    text-align: center;
    margin: 20px 0 38px;
  }

  .stamina-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px auto 20px;

    .label {
      font-style: italic;
      // @include text_label;
      // color: $grey_mid;
      // font-weight: bold;
      margin-right: 16px;
    }

    .checkbox-container {
      input {
        width: 20px;
        height: 20px;

        &.break { margin-left: 16px; }
      }
    }
  }

  .controls-and-results {
    @include shadow;
    background-color: $parchment;
    padding: 20px 10px;
    border: 1px solid $green_witch;
    border-radius: 20px;

    .action-container {
      display: flex;
      justify-content: space-between;
      align-items: center;


      > * {
        width: 38%;
        flex-shrink: 0;
      }

      .RollBigButton, .success-or-failure {
        width: 22%;

        .new-roll {
          background-color: $green_witch;

          .asset {
            // turns black to $green_witch_pale
            filter: invert(85%) sepia(11%) saturate(216%) hue-rotate(102deg) brightness(103%) contrast(96%);
          }

          &:hover { background-color: $green_witch_mid; }
        }
      }

      .dc, .total {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        .label { font-size: 32px; }
        .number { font-size: 52px; }
      }

      .success-or-failure {
        @include text_title_heavy;
        text-align: center;
      }

      .success { color: $green_witch; }
      .failure { color: $rust; }

      .additional-dice {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .plus {
          font-size: 32px;
          width: 40px;
          text-align: center;
          flex-shrink: 0;
        }

        .dice-container {
          display: flex;
          flex-wrap: wrap;

          .asset {
            width: 42px;
            height: 42px;
            margin-right: 4px;
            // turns black to a light grey
            filter: invert(47%) sepia(3%) saturate(7%) hue-rotate(327deg) brightness(98%) contrast(89%);
          }
        }

        .bonus {
          border: 2px solid $grey_light;
          color: $grey_mid;
          text-align: center;
          font-size: 24px;
          line-height: 40px;
          width: 40px;
          height: 40px;
        }
      }
    }

    .DisplayRolls {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 18px 0 0;

      > * { margin: 4px 16px; }

      .DisplayDie {
        @include text_dicebag_count;
        display: flex;
        align-items: center;
        border-radius: 8px;

        .asset {
          width: 42px;
          height: 42px;
          margin-right: 4px;

          // turns black to a light grey
          filter: invert(47%) sepia(3%) saturate(7%) hue-rotate(327deg) brightness(98%) contrast(89%);
        }
      }

      .bonus {
        border: 2px solid $grey_light;
        text-align: center;
        font-size: 24px;
        line-height: 40px;
        width: 40px;
        height: 40px;
      }
    }

    .insightful-talent {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin: 32px 18px 0;

      .label {
        @include text_title_heavy;
        color: $grey_mid;
        margin-bottom: 10px;
      }

      .extra-roll-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-direction: row;

        .results-container {
          width: 100%;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          padding: 8px 8px 0;
          background-color: $parchment_dark;
          border-radius: 20px 0 0 20px;

          .summary {
            font-size: 20px;
            span { margin: 0 12px; }
          }

          .DisplayRolls {
            margin: 8px 0 12px;

            > * { margin: 4px 8px; }

            .DisplayDie {
              font-size: 20px;
              .asset { width: 32px; height: 32px; }
            }

            .bonus {
              font-size: 20px;
              line-height: 32px;
              width: 32px; height: 32px;
            }
          }
        }
      }


      button {
        @include text_title_heavy;
        display: block;
        border: none;
        color: white;
        background-color: $green_witch;
        cursor: pointer;

        &:hover { background-color: $green_witch_mid; }

        &.confirm-insight {
          margin-top: 40px;
          padding: 8px 40px;
        }

        &.switch-rolls {
          border-radius: 0 20px 20px 0;
          padding: 0 14px;
        }
      }
    }
  }
}
