@import '../../fonts';

.CraftRoller {
  max-width: 600px;
  margin: auto;
  border-bottom: 2px solid $rust;

  .stamina-bar {
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .controls-and-results {
    display: flex;
    justify-content: center;

    > * { width: 30%; }

    .dc, .total {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }

    .new-roll-container {
      background-color: $rust_light;

      button {
        display: block;
        margin: auto;
      }
    }

    .bonus {
      display: flex;
      align-items: center;

      .dice-container {
        display: flex;
        flex-wrap: wrap;

        .asset {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
