@import './fontsWitchCraft';

.CraftCharacter {
  max-width: 600px;
  margin: 20px auto 0;
  background-color: $parchment;

  .select-dropdown * { cursor: pointer; }

  .intro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;

    .name-and-class {
      display: flex;
      flex-direction: column;
      padding: 0 30px;
      box-sizing: border-box;

      width: 55%;
      @media screen and (max-width: 600px) {
        width: 100%;
      }

      .name {
        @include text_character_name;
        margin: 6px 0;
        text-align: center;

        input { @include text_character_name; }
      }

      .tier {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 8px 0;

        .crafting-tier {
          @include text_title_light_black;
          text-align: center;
          width: 30%;
          flex-shrink: 0;
        }

        .crafting-class {
          @include text_title_light_black;
          font-style: italic;
          // text-align: right;
          // width: 70%;

          .TextInput {
            width: 100%;

            input { @include text_title_light_black; }
          }
        }
      }
    }

    .crafting-media {
      width: 40%;
      min-width: 256px;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;

      .primary {
        font-size: 38px;
        margin: 0 10px;
      }

      .secondary {
        font-size: 28px;
        width: 60%;
        margin: -1px auto 0;
      }
    }
  }

  .stats {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 0;

    > * {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin: 0 20px;

      .label { margin-bottom: 6px; }
      .value { font-size: 30px; }
    }
  }

  table.techniques {
    margin: 0 20px 30px;

    tr {
      td { padding-top: 8px; }

      // LABEL
      td:first-child {
        width: 170px;

        .select-dropdown {
          margin: 0 10px 0 -10px;
        }
      }

      // VALUE
      td:nth-child(2) {
        width: 68%;

        .placeholder { color: $grey_mid; }
      }
    }
  }

}
