@import './fontsWitchCraft';

.CraftCharacter {
  max-width: 600px;
  margin: auto;
  padding: 20px 0;
  border-bottom: 2px solid $rust;

  .intro-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

    .name-and-class {
      display: flex;
      flex-direction: column;
      width: 50%;
      padding: 0 20px;
      box-sizing: border-box;

      .name {
        @include text_character_name;
        margin: 6px 0;
        text-align: center;

        input { @include text_character_name; }
      }

      .tier {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 8px 0;

        .crafting-tier {
          @include text_title_light_black;
          text-align: center;
          width: 30%;
        }

        .crafting-class {
          @include text_title_light_black;
          font-style: italic;
          text-align: right;
          width: 70%;

          .TextInput {
            width: 100%;

            input { @include text_title_light_black; }
          }
        }
      }
    }

    .crafting-media {
      width: 50%;
      min-width: 256px;
      display: flex;
      flex-direction: column;

      .primary {
        font-size: 38px;
        margin: 0 10px;
      }

      .secondary {
        font-size: 28px;
        width: 60%;
        margin: -1px auto 0;
      }
    }
  }

  .stats {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 0;

    > * {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin: 0 20px;

      .label { margin-bottom: 6px; }
      .value { @include text_title_light_black; }
    }
  }

  table.techniques {
    tr {
      // LABEL
      td:first-child {
        width: 170px;

        // select-technique terrible css selector
        .select-technique {
          margin: 0 10px 0 -10px;
        }
      }

      // VALUE
      td:nth-child(2) {
        .placeholder { color: $grey_mid; }
      }
    }
  }

}
