@import '../../fonts';

.FineTuning {
  max-width: 600px;
  margin: 0 auto 40px;

  .dice-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 24px 0;

    > * { margin: 4px 16px; }

    .DisplayDie {
      @include text_dicebag_count;
      display: flex;
      align-items: center;
      border-radius: 8px;

      .asset {
        width: 42px;
        height: 42px;
        margin-right: 4px;

        // turns black to a light grey
        filter: invert(47%) sepia(3%) saturate(7%) hue-rotate(327deg) brightness(98%) contrast(89%);
      }
    }

    .bonus {
      border: 2px solid $grey_light;
      text-align: center;
      font-size: 24px;
      line-height: 40px;
      width: 40px;
      height: 40px;
    }
  }

  .flaws-and-boons {
    display: flex;
    justify-content: space-between;

    .flaws, .boons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;

      .icon-container {
        display: flex;
        justify-content: center;
        height: 100%;

        .BoonFlawIcon {
          .asset {
            width: 58px;
            height: 58px;
            cursor: pointer;

            &:hover { opacity: 0.7; }

            &.cancelled {
              opacity: 0.2;
              &:hover { opacity: 0.5; }
            }
          }
        }

        // for when there are no flaws/boons
        hr {
          height: 2px;
          width: 60px;
          border: none;
          margin-top: 32px;
          background-color: $soft_black;
        }
      }

      .label-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        .label {
          font-size: 26px;
          margin: 18px 0 0;
        }
      }
    }
  }

  .add-dice-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > * {
      @include text_title_light;
      margin: 40px 20px 0;
    }

    button {
      @include text_title_light;
      padding: 10px 20px;
      border: none;
      border-radius: 8px;
      background-color: $parchment_dark;
      cursor: pointer;

      &:hover { background-color: $pink; }

      &:disabled {
        background-color: $grey_light;
        color: $grey_dark;
        cursor: auto;
      }
    }

    .technique-container {
      display: flex;
      justify-content: center;
      align-items: center;

      > * { margin: 0 10px; }

      .NumberInput {
        background-color: none;
        border-radius: 8px;

        .number {
          padding: 10px;
          border-radius: 8px;
          background-color: $parchment_dark;

          &:hover { background-color: $pink; }
        }
      }
    }
  }

  .finish-project-container {
    border-top: 1px solid $parchment_dark;
    margin: 40px auto 0 0;

    button.finish-project {
      @include text_title_heavy;
      display: block;
      margin: auto;
      padding: 8px 40px;
      border: none;
      background-color: $parchment_dark;
      cursor: pointer;

      &:hover { background-color: $pink; }
    }
  }
}
