@import './fontsWitchCraft';

.Main .MainWitchCraft {
  .CharacterList {
    margin: 20px auto 0;

    .title-bar h2, .new-character.first {
      color: $green_witch;
      font-weight: bold;
    }
  }

  .crafter-and-projects {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
  }

  .setup-and-action {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    &.tuning {
      flex-wrap: wrap-reverse;
      align-items: flex-end;
    }
  }

  .pumpkin-bar {
    background-color: $green_witch_pale;
  }

  .gameplay-container {
    margin-top: 40px;

    .RollHistory, .DiceBag {
      h2 { color: $green_witch; }
    }
  }


  .finish-project-container {
    // border-top: 4px solid $green_witch;
    margin: 10px 4% 70px;

    button.finish-project {
      @include text_title_heavy;
      font-size: 30px;
      display: block;
      margin: auto;
      padding: 20px 120px;
      border: 6px solid $parchment;
      border-radius: 12px;
      color: white;
      background-color: $green_witch;
      cursor: pointer;

      &:hover { background-color: $green_witch_mid; }
    }
  }
}
