@import './fontsWitchCraft';

.Main {
  .MainWitchCraft {
    .CharacterList {
      margin: 20px auto 0;

      .title-bar h2, .new-character.first {
        color: $green_witch;
        font-weight: bold;
      }
    }

    .crafter-and-projects {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex-wrap: wrap;
    }

    .setup-and-action {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;

      .roll-and-tuning {
        max-width: 600px;
        width: 100%;
      }
    }

    .pumpkin-bar {
      background-color: $green_witch_pale;
    }

    .gameplay-container {
      margin-top: 40px;

      .PartyPanel, .DiceBag {
        h2 { color: $green_witch; }
      }
    }

  }
}
