@import './fontsWitchCraft';

.ProjectCard {
  position: relative;
  background-color: $parchment;
  width: 100%;
  max-width: 600px;
  border-radius: 6px;
  margin: 40px auto;
  padding-top: 60%; // 5:3 aspect ratio, an index card

  .project-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    display: flex;
    flex-direction: column;

    padding: 12px;

    .title {
      @include text_character_name;
      margin-left: 8px;

      input { @include text_character_name; }
    }

    .attributes {
      @include text_label;
      margin: 4px 0 0 8px;
    }

    .description {
      margin-top: 16px;
      border: 1px solid $rust;
      box-sizing: border-box;
      height: 100%;

      .TextInput, .display, textarea {
        height: 100%;
        padding: 4px;
      }

      textarea {
        @include text_default;
        resize: none;
      }

    }
  }
}
