@import './fontsWitchCraft';

.ProjectCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  min-height: 360px;
  box-sizing: border-box;
  margin: 40px auto;
  padding: 12px;
  border-radius: 6px;
  background-color: $parchment;

  .title {
    @include text_character_name;
    margin-left: 8px;

    input[type=text] { @include text_character_name; }
  }

  .attributes {
    @include text_label;
    margin: 4px 0 0 8px;
  }

  // in order for all of these to take up 100% height
  .description, .TextInput, .display, textarea {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: 100%;
  }

  .description {
    margin-top: 16px;
    box-sizing: border-box;
    border: 1px solid $rust;

    .TextInput, .display, textarea {
      padding: 4px;
    }

    textarea {
      @include text_default;
      resize: none;
    }
  }
}
