@import './fontsWitchCraft';

.ProjectList {
  max-width: 600px;
  width: 100%;
  margin: 0 10px;
  box-sizing: border-box;
  background-color: $parchment;
  border-top: 2px solid $parchment_dark;

  .title-container {
    display: flex;
    align-items: center;
    margin: 10px 20px 20px;
    padding-bottom: 6px;
    border-bottom: 1px solid $green_witch;

    .title {
      @include text_title_light;
      color: $green_witch;
    }

    .new-project {
      margin-left: 20px;

      .asset {
        @include text_default;
        width: 40px;
        height: 40px;
        border: none;
        padding: 0;
        background-color: transparent;
        opacity: 0.2;
        transition: opacity .075s ease-out;
        cursor: pointer;

        .text-container {
          position: relative;

          span {
            position: absolute;
            left: 100%;
            top: -10px;
            padding: 0 10px;
            opacity: 0.0;
            transition: opacity .075s ease-out;
            white-space: nowrap;
            pointer-events: none;
          }
        }

        &:hover {
          opacity: 0.7;
          span { opacity: 1.0; }
        }
      }
    }

    .stamina-label {
      @include text_handwriting_grey;
      margin-left: auto;
      margin-right: 22px;
    }
  }

  .projects-container {
    margin-bottom: 20px;
    // max-height: 300px;
    // overflow-y: scroll;

    ul {
      padding: 0;
      margin: 0 0 0 20px;
    }

    li {
      display: flex;
      align-items: center;
      list-style: none;
      cursor: pointer;

      &:nth-child(odd) { background-color: $green_witch_pale; }

      &.selected {
        // background-color: $parchment_dark;
        .project-item-container {
          .name, .stamina {
            font-weight: bold;
            // input { font-weight: bold; }
          }
        }

        .list-dot.asset {
          width: 32px;
          height: 32px;
        }
      }
      &:hover { background-color: $green_witch_grey; }

      .list-dot.asset {
        width: 26px;
        height: 26px;

        &.list_dot, &.list_check {
          // turns black to witch_green
          filter: invert(44%) sepia(18%) saturate(3090%) hue-rotate(118deg) brightness(101%) contrast(101%);
        }
      }

      .project-item-container {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 2px 20px 2px 0;
        padding-left: 10px;

        .name {
          @include text_handwriting;
          // color: $green_witch;
          min-width: 50%;

          .TextInput:hover {
            background-color: transparent;
          }

          input {
            @include text_handwriting;
            // color: $green_witch;
            // width: 100%;
          }

          &.failure { text-decoration: line-through; }
        }
        .stamina, .delete-project {
          @include text_handwriting_grey;
          margin-left: auto;
          margin-right: 20px;
        }
      }

      .DeleteConfirmation.delete-project-confirmation {
        height: 46px;
        background-color: transparent;

        .delete-title {
          @include text_handwriting;
          padding-left: 12px;
          margin-left: auto;
          margin-right: 0;
        }

        button {
          padding: 0;

          .label { display: none; }
          .asset {
            width: 30px;
            height: 30px;
            margin: auto;
          }
        }

      }
    }
  }
}
