@import '../fonts';

.ActiveAttackList {
  width: 810px;
  margin: 30px 0;


  .attacks-container {
    display: flex;
    flex-wrap: wrap;

    .attack {
      padding: 8px;
      margin: 6px 4px;
      // flex: 1 0 27%; //magically makes 3 per row
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      cursor: pointer;

      &:hover { background-color: #eee; }
      &.active { background-color: lightblue; }

      &:nth-child(3n) { justify-content: flex-end; }
      &:nth-child(3n-1) { justify-content: center; }

      input {
        margin: 0 10px 0 0;
      }

      .name {
        @include text_active_attack_name;
      }

      .count {
        margin-left: 8px;
      }
    }
  }
}
