@import '../fonts';

.ActiveAttackList {
  width: 810px;
  margin: 20px auto 0;

  h2.roll-attacks {
    @include text_roll_attacks;

    text-align: center;
    margin: 40px 0 0;
  }

  .attacks-container {
    display: flex;
    flex-wrap: wrap;

    .attack {
      padding: 8px;
      margin: 6px 4px;
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &.active { background-color: $parchment_dark; }
      &:hover { background-color: grey; }
      //
      // &:nth-child(3n) { justify-content: flex-end; }
      // &:nth-child(3n-1) { justify-content: center; }

      input {
        margin: 0 10px 0 0;
      }

      .name {
        @include text_active_attack_name;
      }

      .count {
        margin-left: 8px;
      }
    }
  }
}
