@import '../fonts';

.AddDamage {
  .icons-container {
    display: flex;
    margin: 10px 0;

    .dice .IconMenu {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;

      label { min-width: 80px; }
    }

    .types .IconMenu {
      display: flex;
      flex-wrap: wrap;
      margin-right: 60px;
    }

    .IconMenu {
      label {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px;

        cursor: pointer;

        .asset {
          width: 32px;
          height: 32px;
        }
      }

      input[type="radio"] {
        position: absolute;
        left: -99999999px;

        &:checked+label { background-color: #c1e0ff; }
        &:hover+label { background-color: lightgrey; }
        &:focus+label { background-color: lightblue; }
      }
    }

    .horiz-divider {
      width: 2px;
      flex-shrink: 0;
      background-color: darkgrey;
      margin: 10px 30px;
    }
  }

  .buttons-container {
    display: flex;

    button {
      @include text_default;
      padding: 8px 30px;
      cursor: pointer;
    }

    .delete { margin-left: auto; }
    .accept { margin-right: 20px; }

  }
}
