@import '../fonts';

.AttackSource {
  display: flex;
  margin-bottom: 32px;

  .die-count-container {
    margin-top: -7px;
    margin-right: 12px;

    .asset.d20_frame {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      cursor: pointer;

      &:hover {
        background-color: lightblue;
      }

      .die-count {
        @include text_attack_roll_count;
        text-align: center;
        padding-top: 11px;
      }
    }

    .asset.delete-attack {
      width: 30px;
      height: 30px;
      display: block;
      margin: 6px auto;
      cursor: pointer;

      // turns black to #eee
      filter: invert(99%) sepia(2%) saturate(111%) hue-rotate(329deg) brightness(109%) contrast(74%);

      &:hover { filter: none; }
    }
  }

  .statblock-container {
    // min-width: 666px;
    width: 704px;

    .titlebar {
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;

      .name {
        margin-right: 10px;
        margin-bottom: 8px;

        .display {
          @include text_attack_name;
          cursor: pointer;
          &:hover { background-color: lightblue; }
        }

        input { @include text_attack_name; }
      }

      .is-saving-throw {
        margin-right: 6px;
        padding-bottom: 2px;
        margin-bottom: 8px;
        font-style: italic;

        cursor: pointer;
        &:hover { background-color: lightblue; }
      }

      .modifier, .saving-throw-dc, .saving-throw-type {
        padding-bottom: 2px;
        margin-bottom: 8px;
        margin-right: 6px;
        cursor: pointer;

        &:hover {
          background-color: lightblue;
        }
      }
    }

    .desc {
      margin-left: auto;
      margin-bottom: 8px;

      .display {
        @include text_default;
        padding-bottom: 2px;
        cursor: pointer;
        &:hover { background-color: lightblue; }
      }

      input {
        @include text_default;
        font-style: italic;
        width: 400px;
      }

      &.long {
        font-style: normal;
        line-height: 1.3;

        textarea {
          @include text_default;
          line-height: 1.3;
          width: 660px;
          height: 200px;
          resize: vertical;
        }
      }

      &.short {
        font-style: italic;
      }
    }

    .statblock {
      // background-color: #eeeeee;
      position: relative;
      padding: 1px 0;
      min-height: 42px;

      .add-damage-button.asset {
        @include text_default;

        position: absolute;
        bottom: 1px;
        right: 0;

        width: 52px;
        height: 52px;

        border: none;
        padding: 0;
        background-color: transparent;
        cursor: pointer;


        .text-container {
          position: relative;

          span {
            visibility: hidden;
            position: absolute;
            right: 100%;
            top: -10px;
            white-space: nowrap;
            padding: 0 10px;
            pointer-events: none;
          }
        }


        &:hover {
          background-color: lightgrey;
          span { visibility: visible; }
        }
      }
    }

    .delete-confirm-container {
      display: flex;
      align-items: center;
      height: 100%;
      width: 100%;
      background-color: #dae1ea;

      .delete-title {
        @include text_attack_name;
        padding: 0 30px;
        margin-right: auto;
      }

      button {
        @include text_default;
        font-weight: bold;
        font-size: 16px;
        height: 100%;
        width: 100px;
        border: 0;
        cursor: pointer;

        &.cancel { background-color: lightblue; }
        &.delete { background-color: salmon; }
        &:hover { background-color: grey; }

        .asset {
          width: 40px;
          height: 40px;
          margin: 0 auto 6px;
        }
      }
    }
  }



}
