@import '../fonts';


.Attack {
  border: 1px solid black;
  padding: 8px 40px;

  .character-name {
    @include text_character_name;
  }

  .add-attack {
    display: flex;
    align-items: center;

    .asset {
      width: 40px;
      height: 40px;
    }
  }
}
