@import '../fonts';

.AttackSource {
  display: flex;

  .die-count-container {
    margin-right: 12px;

    .asset {
      width: 40px;
      height: 40px;
    }
    .die-count {
      @include text_default;
      text-align: center;
      padding-top: 12px;
    }
  }

  .statblock-container {
    .titlebar {
      display: flex;
      align-items: flex-end;
      margin-bottom: 8px;

      .name { @include text_attack_name; }
      .modifier {
        margin-left: 14px;
        padding-bottom: 2px;
      }
      .desc {
        margin-left: auto;
        padding-bottom: 2px;
        font-style: italic;
      }
    }

    .statblock {
      background-color: #eeeeee;

    }
  }
}
