@import '../fonts';

.AttackMod {
  display: flex;
  justify-content: space-between;

  .numbers-container {
    display: flex;
    align-items: center;

    > * {
      margin-right: 10px;
    }

    input[type=number] {
      @include text_default;
      width: 40px;
    }

    select {
      @include text_default;
    }

    .asset {
      height: 40px;
      width: 40px;
    }
  }


  .timing-container {
    display: flex;
    align-items: center;
    width: 140px;

    input {
      width: 100%;
      height: 20px;
      margin: 0;
    }
  }
}
