@import '../fonts';

.Character {
  margin: 20px auto 0;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  background-color: $parchment;

  .character-sheet {
    position: relative;
    padding: 0 48px 0 18px;
    width: 100%;
    box-sizing: border-box;

    .character-name {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;

      overflow: hidden;
      max-width: 764px;

      margin-right: auto;
      margin-top: 16px;
      padding-bottom: 16px;
      border-bottom: 4px solid $rust;
      margin-bottom: 34px;

      .display { @include text_character_name; }

      input { @include text_character_name; }
    }

    .asset.delete-character {
      position: absolute;
      right: 10px;
      top: 80px;

      width: 30px;
      height: 30px;
      display: block;
      margin-left: auto;
      transition: opacity .075s ease-out;
      cursor: pointer;

      // turns black to $rust
      filter: invert(19%) sepia(35%) saturate(2526%) hue-rotate(342deg) brightness(89%) contrast(96%);
      opacity: 0.2;

      &:hover { opacity: 1.0;}
    }

    .attack-container {
      &.hidden { visibility: hidden; }

      .add-attack {
        display: flex;
        align-items: center;
        padding: 4px 16px 4px 8px;
        width: max-content;
        margin-right: auto;
        opacity: 0.4;
        transition: opacity .075s ease-out;
        cursor: pointer;

        &:hover { opacity: 0.9; }

        .asset {
          width: 40px;
          height: 40px;
          margin-right: 16px;
        }
      }
    }
  }

  .delete-character-confirm-container {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    margin: 21px 0;
    background-color: $parchment_dark;

    .delete-title {
      @include text_h1;
      color: $rust;

      padding: 0 30px;
      margin-right: auto;
    }

    button {
      @include text_default;
      font-weight: bold;
      font-size: 16px;
      height: 100%;
      width: 100px;
      border: 0;
      cursor: pointer;

      &.cancel { background-color: $olive_light; }
      &.delete { background-color: $rust_light; }
      &:hover { background-color: grey; }

      .asset {
        width: 40px;
        height: 40px;
        margin: 0 auto 6px;
      }
    }

  }

}
