@import '../fonts';

.Character {
  margin-top: 20px;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: $parchment;

  .character-sheet {
    padding: 0 10px;

    .character-name {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;

      overflow: hidden;
      max-width: 764px;

      margin-right: auto;
      margin-top: 16px;
      padding-bottom: 16px;
      border-bottom: 4px solid $rust;
      margin-bottom: 34px;

      .display {
        @include text_character_name;
        cursor: pointer;
        &:hover { background-color: $parchment_dark; }
      }

      input { @include text_character_name; }

      .asset.delete-character {
        width: 50px;
        height: 50px;
        display: block;
        margin-left: auto;
        cursor: pointer;

        // turns black to $rust
        filter: invert(19%) sepia(35%) saturate(2526%) hue-rotate(342deg) brightness(89%) contrast(96%);
        opacity: 40%;

        &:hover { opacity: 100%;}
      }
    }


    .add-attack {
      display: flex;
      align-items: center;
      padding: 4px 8px;
      margin-right: auto;
      cursor: pointer;

      &:hover {
        background-color: $parchment_dark;
      }

      .asset {
        width: 40px;
        height: 40px;
        margin-right: 16px;
      }
    }
  }

  .delete-character-confirm-container {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: $parchment;

    .delete-title {
      @include text_h1;
      color: $rust;

      padding: 0 30px;
      margin-left: auto;
    }

    button {
      @include text_default;
      font-weight: bold;
      font-size: 16px;
      height: 100%;
      width: 100px;
      border: 0;
      cursor: pointer;

      &.cancel { background-color: $olive_light; }
      &.delete { background-color: $rust_light; }
      &:hover { background-color: grey; }

      .asset {
        width: 40px;
        height: 40px;
        margin: 0 auto 6px;
      }
    }

  }

}
