@import '../fonts';

.DamageSource {
  // display: flex;
  padding: 8px 0;
  border-radius: 2px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;

  transition: margin .05s ease-out, background-color .075s ease-out;
  &:hover { background-color: $parchment_dark; }

  &.editing {
    padding-bottom: 0;
    margin: 10px 0;
    background-color: $parchment_dark;
    border-radius: 6px;
    cursor: auto;

    // .numbers-container .asset { background-color: $parchment_dark; }
  }

  input[type=checkbox] {
    width: 24px;
    height: 24px;
    margin: 5px 10px 0 0 ;
    flex-shrink: 0;
    z-index: 100;
  }

  // SUMMARY MODE
  .summary-mode {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 36px;

    .roll-numbers {
      font-size: 20px;
      margin: 0 8px;
      white-space: nowrap;
    }

    .asset {
      height: 26px;
      width: 26px;
      margin-right: 10px;
    }

    .name {
      font-style: italic;
      margin-right: 12px;
    }

    .tags {
      max-width: 280px;
    }
  }

}
