@import '../fonts';

.DamageEdit {

  &.extra-css .icons-container {
    @media screen and (max-width: 600px) {
      flex-direction: column;

      .dice {
        border-right: none;
        .IconMenu { max-width: none; }
      }

      .types {
        .IconMenu { max-width: none; }
      }

      .IconMenu { justify-content: center; }

      .buttons-container {
        margin-left: 0;
        button { padding: 6px 40px; }
      }
    }
  }

  .icons-container {
    display: flex;
    align-items: center;

    > * {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .dice {
      flex-shrink: 0;
      border-right: 1px solid darkgrey;
      margin-right: 18px;

      .IconMenu {
        display: flex;
        flex-wrap: wrap;
        max-width: 220px;

        label { min-width: 60px; }
      }
    }

    .types {
      flex-shrink: 10;

      .IconMenu {
        display: flex;
        flex-wrap: wrap;
        max-width: 290px;

      }
    }

    .IconMenu {
      label {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px;

        cursor: pointer;

        .asset {
          width: 32px;
          height: 32px;
        }
      }

      input[type="radio"] {
        position: absolute;
        left: -99999999px;

        &:checked+label { background-color: #dbc0f9; }
        &:hover+label { background-color: lightgrey; }
        &:focus+label { background-color: #bab0e2; }
      }
    }

    .buttons-container {
      display: flex;
      margin-left: auto;

      button {
        @include text_default;
        border: none;
        cursor: pointer;

        &.accept {
          padding: 24px 24px;
          background-color: lightgrey;
        }
        &.delete {
          padding: 24px 6px;
          background-color: #aaaaaa;
        }


        &:hover { background-color: grey; }

        .asset {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
