@import '../fonts';

.DamageSource {
  // background-color: #eeeeee;
  padding: 8px 0 8px 8px;
  border-radius: 2px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;

  transition: margin .05s ease-out, background-color .075s ease-out;

  &:hover { background-color: $parchment_dark; }

  &.editing {
    background-color: $parchment_dark;

    cursor: auto;
    padding-bottom: 0;
    margin: 10px 0;

    .numbers-container .asset { background-color: $parchment_dark; }
  }

  input[type=checkbox] {
    width: 24px;
    height: 24px;
    margin: 0 10px 0 0 ;
    flex-shrink: 0;
    z-index: 100;
  }

  .stats-container {
    display: flex;
    align-items: center;
    width: 100%;
  }

  // SUMMARY MODE
  .summary {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 36px;

    .roll-numbers {
      margin-right: 8px;
      min-width: 66px;
    }

    .asset {
      height: 26px;
      width: 26px;
      margin-right: 2px;
    }

    .name {
      font-style: italic;
      min-width: 120px;
      margin-right: 12px;
    }

    .tags {
      max-width: 280px;
    }
  }

  // EDIT MODE
  .edit-mode {
    display: flex;
    align-items: center;
    width: 100%;

    > * {
      margin-right: 10px;
    }

    input[type=number] {
      @include text_default;
      background-color: $parchment;
      border: none;
      border-radius: 4px;
      padding-left: 8px;
      width: 36px;
      min-height: 30px;

      &:hover { background-color: $parchment_mid; }
    }

    input.damage-name {
      @include text_default;
      background-color: $parchment;
      border: none;
      border-radius: 4px;
      padding-left: 8px;
      min-height: 30px;
      max-width: 120px;

      &:hover { background-color: $parchment_mid; }
    }

    .asset {
      height: 26px;
      width: 26px;

      // border: 2px solid darkgrey;
      // border-radius: 50%;
      // padding: 8px;

      &.clickable {
        cursor: pointer;
        &:hover { background-color: $parchment_dark; }
      }
    }

    .die-type {
      width: 30px;
    }
    .flat-damage { white-space: nowrap; }

    .tag-select {
      position: relative;
      width: 100%;

      label {
        @include text_input;

        position: absolute;
        top: 8px;
        left: 8px;
        pointer-events: none;
      }

      #multiselectContainerReact {
        cursor: pointer;
        background-color: $parchment;
        border-radius: 4px;

        &:hover { background-color: $parchment_mid; }

        // the unnamed immediate container
        > div {
          padding: 0;
          min-height: 32px;
          border: 0;
        }

        .chip {
          margin: 4px;
          padding-right: 4px;
        }

        input {
          position: absolute;
          left: -99999999px;
        }
      }
    }
  }


  // saving throw & applied conditions
  .additional-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 12px 0 4px;

    > * { margin-right: 10px; }

    .saving-throw {
      display: flex;

      .saving-throw-dc, .saving-throw-type {
        margin: 0 3px;
        font-weight: bold;
        cursor: pointer;

        &:hover {
          background-color: $rust;
        }
      }
    }

    .condition-select {
      select {
        @include text_default;
        margin: 0 6px;
      }
    }
  }
}
