@import '../fonts';

.DamageSource {
  display: flex;
  padding: 8px 0 8px 8px;
  border-radius: 2px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;

  transition: margin .05s ease-out, background-color .075s ease-out;
  &:hover { background-color: $parchment_dark; }

  &.editing {
    padding-bottom: 0;
    margin: 10px 0;
    background-color: $parchment_dark;
    cursor: auto;

    // .numbers-container .asset { background-color: $parchment_dark; }
  }

  input[type=checkbox] {
    width: 24px;
    height: 24px;
    margin: 5px 10px 0 0 ;
    flex-shrink: 0;
    z-index: 100;
  }

  // SUMMARY MODE
  .summary-mode {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 36px;

    .roll-numbers {
      margin-right: 8px;
      min-width: 66px;
    }

    .asset {
      height: 26px;
      width: 26px;
      margin-right: 2px;
    }

    .name {
      font-style: italic;
      min-width: 120px;
      margin-right: 12px;
    }

    .tags {
      max-width: 280px;
    }
  }

  // EDIT MODE
  .edit-mode {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;

    > * {
      margin-bottom: 10px;
      // flex: 0 0 33.333%;

    }

    .DamageEditNumbers {
      display: flex;
      align-items: center;
      margin-right: 10px;

      input[type=number] {
        @include text_default;
        background-color: $parchment;
        border: none;
        border-radius: 4px;
        padding-left: 8px;
        margin-right: 10px;
        width: 36px;
        min-height: 30px;

        &:hover { background-color: $parchment_mid; }
      }

      .die-button, .damage-button {
        display: flex;
        align-items: center;
        background-color: $parchment;
        cursor: pointer;

        border-radius: 4px;
        padding: 3px 5px;

        &:hover { background-color: $pink; }
        .die-type { width: 30px; margin-left: 2px;}
        .flat-damage { white-space: nowrap; }
      }

      .plus { margin: 0 8px; }
    }


    input.damage-name {
      @include text_default;
      background-color: $parchment;
      border: none;
      border-radius: 4px;
      padding-left: 8px;
      margin-right: 10px;
      min-height: 30px;
      // max-width: 120px;
      min-width: 126px;
      flex: 1 0 auto;


      &:hover { background-color: $parchment_mid; }
    }

    .asset {
      height: 26px;
      width: 26px;

      &.clickable {
        cursor: pointer;
        &:hover { background-color: $parchment_dark; }
      }
    }



    .tag-select {
      position: relative;
      min-width: 200px;
      margin-right: 10px;
      flex: 1 0 auto;

      label {
        @include text_input;
        color: $grey_mid;
        font-style: normal;

        position: absolute;
        top: 7px;
        left: 8px;
        pointer-events: none;
      }

      #multiselectContainerReact {
        cursor: pointer;
        background-color: $parchment;
        border-radius: 4px;

        &:hover { background-color: $parchment_mid; }

        // the unnamed immediate container
        > div {
          padding: 0 4px;
          min-height: 32px;
          border: 0;
        }

        .chip {
          // margin: 4px;
          margin: 0 4px;
          border-radius: 0;
          padding: 8px 4px 9px 8px;
          background-color: $olive_light;
          color: $soft_black;

          .icon_cancel {
            border-radius: 2px;

            &:hover {
              background-color: salmon;
            }
          }
        }

        input {
          position: absolute;
          left: -99999999px;
        }
      }
    }
  }


  // saving throw & applied conditions
  .additional-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;

    > * {
      margin: 0 10px 10px 0;
      text-align: center;
    }

    .saving-throw {
      display: flex;

      .saving-throw-dc, .saving-throw-type {
        padding: 0 3px;
        border-radius: 2px;
        font-weight: bold;
        cursor: pointer;

        &:hover { background-color: $pink; }
      }
    }

    .condition-select {
      select {
        @include text_default;
        margin: 0 6px;
      }
    }
  }

  .buttons-container {
    display: flex;
    width: 100%;
    margin: 0;

    button {
      @include text_default;
      border: none;
      width: 50%;
      padding: 4px 0;
      cursor: pointer;

      &.accept {
        background-color: $olive_light;
      }
      &.delete {
        background-color: $rust_light;
      }

      &:hover { background-color: $pink; }

      .asset {
        width: 24px;
        height: 24px;
        margin: auto;
      }
    }
  }
}
