@import '../fonts';

.DiceBag {
  width: 100%;
  max-width: 340px;
  // margin: 30px 20px 30px 80px;
  margin: 10px 10px;
  flex-shrink: 100;

  h2 {
    @include text_title_heavy;
    color: $rust_dark;
    margin-bottom: 8px;
    margin-left: 12px;
  }

  .bag-container {
    @include shadow;
    @include nouveau_border;
    border-image-source: url('/assets/border_nouveau_dicebag.svg');
    background-image: url('/assets/bg_parchment.png');
    background-color: $parchment;

    display: flex;
    flex-direction: column;
    padding: 12px 0 ;

    .die-button-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      padding: 6px;

      .DieButton {
        @include shadow;
        @include text_dicebag_count;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        width: 128px;
        height: 80px;
        margin: 6px 6px;
        padding: 4px 16px;
        cursor: pointer;

        // background-color: $parchment_dark;
        background-color: #fff6e6; // almost-white tan
        border: none;
        border-radius: 40px;

        &:hover { background-color: $parchment_mid; }

        &.will-roll {
          justify-content: center;
          background-color: $rust;
          // background-color: #c56047; // lighter rust
          // background-color: #8e594c; // crushed earth

          // background-color: #d7c9dd; // violet

          color: $pink;
          input { color: $pink; }

          // turn black to white
          // .asset { filter: invert(100%) sepia(100%) saturate(19%) hue-rotate(347deg) brightness(106%) contrast(104%); }

          // black to pink
          .asset { filter: invert(82%) sepia(3%) saturate(3828%) hue-rotate(319deg) brightness(96%) contrast(78%); }

          // black to rust
          // .asset { filter: invert(19%) sepia(35%) saturate(2526%) hue-rotate(342deg) brightness(89%) contrast(96%); }

          &:hover {
            background-color: #9d371f; // rust, but highlighted a little (not as much as rust_light)
          }
        }



        &.last { justify-content: flex-start; }

        .roll-count { min-width: 30px; }

        .asset {
          width: 46px; height: 46px;
          margin-right: 2px;

          &.plus {
            // width: 46px; height: 46px;
            margin-left: 2px;
            order: -1;
          }
        }

        .die-type-label {
          font-size: 28px;
          .dee { margin-right: 1px; }
        }

        // for entering a modifier
        input {
          @include text_dicebag_count;
          // text-align: center;
          width: 80px;
          background-color: transparent;
          border: none;
        }
      }
    }

    .rolling-surface {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 16px;

      .starting-roll {
        min-height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;

        .asset {
          width: 128px;
          height: 128px;
          opacity: .2;
        }
      }

      .pre-roll {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        min-height: 200px;

        .action {
          @include text_title_action;
          font-style: normal;
          text-align: center;
          margin-top: 10px;

          .percentile-option {
            display: flex;
            align-items: center;

            input {
              margin: 0 10px;
              width: 24px;
              height: 24px;
            }
          }

          .to-roll-summary {
            &.complex {
              @include text_dicebag_summary;
              line-height: 36px;
            }

            .verb { margin-right: 4px; }
          }
        }

        button.roll {
          width: 128px;
          height: 128px;
          border-radius: 50%;
          border: none;
          background-color: $rust;
          cursor: pointer;

          &:hover { background-color: $rust_light; }

          .asset {
            margin: auto;
            width: 100px;
            height: 100px;

            // black to pink
            filter: invert(82%) sepia(3%) saturate(3828%) hue-rotate(319deg) brightness(96%) contrast(78%);

            // black to white
            // filter: invert(100%) sepia(0%) saturate(3221%) hue-rotate(231deg) brightness(125%) contrast(110%);
          }
        }

        button.reset {
          position: absolute;
          top: 6px;
          right: 18px;
          width: 32px;
          height: 32px;
          background-color: transparent;
          border: none;
          border-radius: 50%;
          padding: 0;
          cursor: pointer;

          .asset {
            width: 32px;
            height: 32px;

            // black to rust
            filter: invert(19%) sepia(35%) saturate(2526%) hue-rotate(342deg) brightness(89%) contrast(96%);

            &:hover {
              filter: none;
            }
          }
        }
      }

      .post-roll {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        min-height: 200px;

        button.result-total {
          @include text_total;
          display: flex;
          align-items: center;

          background-color: transparent;
          border: none;
          border-radius: 8px;
          cursor: pointer;

          &:hover {
            background-color: $parchment_dark;
          }

          .asset { margin-right: 6px;}
        }

        .result-summary {
          @include text_dicebag_summary;
          padding-top: 20px;
          text-align: center;
        }
      }
    }

    .summary-mode {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 6px auto 12px;

      .mode-container {
        position: relative;
        border-radius: 4px;
        padding: 2px 6px;

        cursor: pointer;
        // background-color: $parchment_mid;

        &:hover {
          background-color: $parchment_dark;
          color: $soft_black;
        }
        &.selected {
          background-color: $rust;
          color: white;
        }

        input {
          position: absolute;
          left: -99999999px;
          top: 0;
        }
      }
    }
  }
}
