@import '../fonts';

.DiceBag {
  max-width: 300px;
  margin: 30px 20px;
  flex-shrink: 0;

  h2 {
    @include text_attack_name;
    color: $rust;
    margin-bottom: 8px;
    margin-left: 12px;
  }

  .bag-container {
    display: flex;
    flex-direction: column;
    background-color: $parchment;

    .die-button-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      padding: 6px;

      .DieButton {
        @include text_dicebag_count;
        display: flex;
        align-items: center;
        margin: 6px 6px;
        padding: 4px 18px;
        width: 128px;
        height: 80px;
        cursor: pointer;

        background-color: $parchment_dark;
        transition: background-color .075s ease-out;
        border: none;
        border-radius: 40px;

        &.will-roll { background-color: $pink; }
        &:hover { background-color: $pink; }
        .asset { margin: auto; }

        .roll-count {
          min-width: 30px;
        }
      }
    }

    .rolling-surface {
      display: flex;
      align-items: center;
      max-width: 150px;
      margin: auto;

      .pre-roll {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        min-height: 200px;

        .action {
          @include text_roll_attacks;
        }

        button.roll {
          width: 128px;
          height: 128px;
          border-radius: 50%;
          border: none;
          background-color: $rust;
          transition: background-color .075s ease-out;
          cursor: pointer;

          &:hover { background-color: $rust_light; }

          .asset {
            margin: auto;
            width: 100px;
            height: 100px;

            // black to pink
            filter: invert(82%) sepia(3%) saturate(3828%) hue-rotate(319deg) brightness(96%) contrast(78%);
          }
        }
      }

      .post-roll {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        min-height: 200px;

        .result-total {
          @include text_total;
          display: flex;
          align-items: center;

          .asset { margin-right: 6px;}
        }

        .result-summary {
          @include text_dicebag_summary;
          padding-top: 20px;
          text-align: center;
        }
      }
    }
  }
}
