@import '../fonts';

.DiceBag {
  width: 810px;
  margin-bottom: 60px;

  h2 {
    @include text_attack_name;
    margin-bottom: 8px;
    margin-left: 12px;
  }

  button {
    @include text_default;
    cursor: pointer;
  }

  .bag-container {
    border: 1px solid black;
    display: flex;

    .button-container {
      max-width: 450px;
      display: flex;
      flex-wrap: wrap;

      .DieButton {
        @include text_dicebag_count;
        display: flex;
        align-items: center;
        margin: 16px 10px;
        width: 128px;

        .asset {
          margin-right: 8px;
        }
      }
    }

    .roll {
      @include text_dicebag_count;
      margin: 10px;
      padding: 0 14px;
      flex-shrink: 0;
      font-weight: bold;
    }

    .result-container {
      display: flex;
      margin: auto;
      flex-direction: column;
      align-items: center;
      padding: 10px 10px;
      max-width: 150px;

      .result-total {
        @include text_total;
        padding-top: 20px;
        display: flex;
        align-items: center;

        .asset { margin-right: 6px;}
      }

      .result-summary {
        @include text_dicebag_summary;
        padding-top: 20px;
      }
    }
  }
}
