@import '../fonts';


.Main {
  width: 100%;

  .dicebag-and-history {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 26px 0 20px;

    .history-and-room {
      width: 100%;
    	max-width: 340px;
    	margin: 10px 10px;
    	flex-shrink: 100;

      .room-and-xcard {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
