@import '../fonts';


.NumberInput {
  box-sizing: border-box;
  border-radius: 2px;
  padding: 3px;

  cursor: pointer;
  background-color: transparent;

  &:hover {
    background-color: $parchment_dark;
  }
}
