@import '../fonts';

.PartyPanel {
	max-width: 300px;

	h2 {
    @include text_attack_name;
    color: $rust;
    margin-bottom: 8px;
    margin-left: 12px;
  }

	.party-container {
		background-color: $parchment;
		padding: 10px 20px;
	}

	.party-room-container, .party-name-container {
    @include text_character_list;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 10px 0;

		input {
			@include text_default;
			width: 70%;
		}

		button {
			cursor: pointer;
		}
	}


	.PartyAction {
		width: 100%;
		margin: 0 0 18px;

		.title {
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
			padding-bottom: 1px;
			border-bottom: 1px solid $rust_light;
			margin-bottom: 6px;

			.name { @include text_party_roll_sum; }
			.conditions { @include text_party_roll_condition; }
		}

		.dicebag-container {
			display: flex;
			justify-content: space-between;
			padding-right: 4px;

			.dicebag-single {
				@include text_party_roll_sum;
				display: flex;
				align-items: center;
				margin-left: auto;

				.asset {
					width: 28px;
					height: 28px;
					margin-right: 3px;
				}
			}

			.dicebag-rolls {
				display: flex;
				flex-wrap: wrap;

				.PartyRollDicebag {
					@include text_party_roll_number;
					display: flex;
					align-items: center;
					margin-right: 8px;

					.asset {
						width: 24px;
						height: 24px;
						margin-right: 3px;
					}

					.result { width: 18px; }
				}
			}

			.dicebag-sum { @include text_party_roll_sum; }
		}

		.attack-container {
			display: flex;
			flex-direction: column;

			.PartyRollAttack {
				display: flex;
				align-items: center;

				.asset.d20 {
					width: 24px;
					height: 24px;
					margin-right: 3px;
				}

				.attack-roll { width: 22px; }

				.attack-name { @include text_party_roll_attackname; }

				.damage {
					@include text_party_roll_sum;
					display: flex;
					align-items: center;
					margin-left: auto;

					.asset {
						width: 28px;
						height: 28px;
						margin-left: 3px;
					}
				}


			}
		}
	}
}
