@import '../fonts';

.PartyPanel {
	// width: 300px;
	width: 100%;
	max-width: 500px;
	margin: 30px 80px 30px 20px;
	flex-shrink: 100;

	h2 {
    @include text_attack_name;
    color: $rust;
    margin-bottom: 8px;
    margin-right: 12px;
		text-align: right;
  }



	.party-room-container, .party-name-container {
    @include text_character_list;
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 0 0;

		input {
			@include text_default;
			width: 70%;
		}

		.generate-new-room {
			position: absolute;
			right: 0;
			top: 10px;
			background: none;
			border: none;
			font-size: 20px;
			color: $grey_mid;
			transition: color .075s ease-out;
			cursor: pointer;

			&:hover { color: $soft_black; }
		}
	}

	button.party-connect {
		@include text_connect_button;
		display: block;
		margin: 15px auto 5px;
		padding: 5px 80px;
		border: none;
		border-radius: 8px;
		background-color: $parchment_dark;
		transition: background-color .075s ease-out;
		cursor: pointer;

		&:hover { background-color: $pink; }
		&:disabled {
			cursor: auto;
			background-color: $grey_light;
			color: $grey_mid;
		}
	}


	.party-container {
		background-color: $parchment;
		margin: 2px 0;
		padding: 10px 20px;
		min-height: 100px;
		max-height: 500px;
		overflow-y: auto;

		.PartyAction {
			width: 100%;
			margin: 0 0 18px;
			animation: .75s ease-out 0s 1 flashIn;

			.title {
				display: flex;
				align-items: flex-end;
				padding-bottom: 1px;
				border-bottom: 1px solid $rust_light;
				margin-bottom: 2px;

				.name { @include text_party_roll_sum; }
				.party-name {
					@include text_party_roll_attackname;
					margin: 0 12px 1px 6px;
				}
				.conditions {
					@include text_party_roll_condition;
					margin: 0 4px 1px auto;
				}
			}

			.dicebag-container {
				display: flex;
				justify-content: space-between;
				padding-right: 4px;

				.dicebag-single {
					@include text_party_roll_sum;
					display: flex;
					align-items: center;
					margin-left: auto;

					.asset {
						width: 28px;
						height: 28px;
						margin-right: 3px;
					}
				}

				.dicebag-rolls {
					display: flex;
					flex-wrap: wrap;

					.PartyRollDicebag {
						@include text_party_roll_number;
						display: flex;
						align-items: center;
						margin-right: 8px;

						.asset {
							width: 24px;
							height: 24px;
							margin-right: 3px;
						}

						.result { width: 18px; }
					}
				}

				.dicebag-sum { @include text_party_roll_sum; }
			}

			.attack-container {
				display: flex;
				flex-direction: column;

				.PartyRollAttack {
					display: flex;
					align-items: center;
					min-height: 30px;
					margin: 4px 0;

					.asset.d20 {
						width: 24px;
						height: 24px;
						margin-right: 4px;
						margin-bottom: 1px;
						flex-shrink: 0;
					}

					.attack-roll {
						@include text_party_roll_number;
						width: 26px;
						flex-shrink: 0;
					}

					.save {
						display: flex;
						align-items: center;
						flex-shrink: 0;
						margin-right: 10px;

						.asset {
							width: 16px;
							height: 16px;
							margin: 0 6px 1px 4px;

							// turns black to $rust
							&.x { filter: invert(19%) sepia(35%) saturate(2526%) hue-rotate(342deg) brightness(89%) contrast(96%); }

							// turns black to an olive
							&.checkmark { filter: invert(29%) sepia(15%) saturate(3839%) hue-rotate(39deg) brightness(98%) contrast(101%); }
						}
					}

					.attack-name {
						@include text_party_roll_attackname;
						max-width: 45%;
						margin-right: 10px;
					}

					.ability-name {
						@include text_party_roll_attackname;
						margin-right: 10px;
					}

					.damage-container {
						display: flex;
						margin-left: auto;
						align-items: center;
						flex-wrap: wrap;
						justify-content: flex-end;

						.damage {
							@include text_party_roll_sum;
							display: flex;
							align-items: center;
							margin-left: 14px;

							.asset {
								width: 28px;
								height: 28px;
								margin-left: 2px;
								margin-bottom: 2px;
							}
						}
					}
				}
			}
		}
	}
}


@keyframes growMargin {
	0% {
		margin-bottom: 0;
  }
  100% {
		margin-bottom: 18px;
  }
}

@keyframes flashIn {
  0% {
    background-color: $pink;
		outline: 8px solid $pink;
  }
  100% {
    background-color: transparent;
		outline: 8px solid transparent;
  }
}
