@import '../fonts';

.Roller {
  // min-height: 400px;
  max-width: 800px;
  margin: auto;
  // margin: 0 100px;

  .controls-and-results {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0 20px;

    border-top: 1px solid $rust;
    border-bottom: 1px solid $rust;

    > * { width: 30%; }

    .conditions {
      display: flex;
      flex-direction: column;
      padding: 10px 14px;

      @media screen and (max-width: 600px) {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 6px;
        border-bottom: 1px solid $rust;
      }

      label {
        display: flex;
        align-items: center;
        margin: 0 0 6px;
        cursor: pointer;

        &.has-evasion { margin-top: auto; }
      }

      input[type=checkbox] {
        width: 20px;
        height: 20px;
        margin: 0 6px 0 0;
      }

      input[type=number] {
        @include text_default;
        width: 40px;
        margin: 0 6px 0 0;
      }
    }


    .new-roll-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 10px 0;

      button.new-roll {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: none;
        background-color: $rust;
        cursor: pointer;

        &:hover { background-color: $rust_light; }

        .asset {
          margin: auto;
          width: 80px;
          height: 80px;

          // black to pink
          filter: invert(82%) sepia(3%) saturate(3828%) hue-rotate(319deg) brightness(96%) contrast(78%);
        }
      }
    }

    .results {
      display: flex;
      justify-content: flex-end;
      // flex-wrap: wrap-reverse;
      margin-right: 14px;

      .type-breakdown {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap-reverse;
        max-height: 120px;

        margin: 0 18px 0 0;

        .damage-type {
          display: flex;
          align-items: center;
          margin: 0 0 10px 2px;

          .amount {
            text-align: right;
            min-width: 28px;
          }

          .asset {
            width: 26px;
            height: 26px;
            margin-left: 4px;
          }
        }
      }

      .total {
        text-align: center;
        white-space: nowrap;
        padding-top: 6px;

        .count { @include text_total; }
      }
    }
  }

  .rolls {

    .roll-container {
      position: relative;

      h4 {
        margin: 12px 0 0 12px;
        font-size: 18px;
      }

      .roll-type-hint {
        display: none;
        position: absolute;
        right: 100%; // causes them to be right-aligned
        top: 47px;
      }
    }
  }

  .clear-roll-container {
    border-top: 1px solid $parchment_dark;
    margin: 40px auto 0 0;

    button.clear-rolls {
      @include text_clear_rolls;
      display: block;
      margin: auto;
      padding: 5px 80px;
      border: none;
      background-color: $parchment_dark;
      cursor: pointer;

      &:hover { background-color: $pink; }
    }
  }
}
