@import '../fonts';

.RollHistory {
	@include shadow;
	@include parchment_background;
  border-radius: 14px;

	max-height: 650px;
	overflow-y: auto;

  .nouveau-border {
    @include nouveau_border('nouveau_party.svg');
    padding: 12px 12px 18px;
    min-height: 256px;
  }

  .no-rolls-container {
    font-size: 32px;
    font-style: normal;
    font-weight: normal;
    color: $rust_light;
    padding: 0 20px 0;
    margin: 72px auto 0;
    text-align: center;

    .asset {
      display: inline-block;
      width: 24px; height:24px;
      margin-left: 8px;
    }
  }
}
