@import '../fonts';

.Roller {
  padding: 8px 20px;

  .controls-and-results {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }

  .controls {
    display: flex;

    button.new-roll {
      @include text_roll_button;
      width: 100px;
      height: 100px;
      border-radius: 50%;

      margin: 0 20px;
      cursor: pointer;

      &:hover {
        color: #505050;
      }
    }

    .conditions {
      display: flex;
      flex-direction: column;

      label {
        display: flex;
        align-items: center;
        margin: 0 0 4px;

        &.armor-class {
          margin-top: auto;
        }
      }

      input[type=checkbox] {
        width: 20px;
        height: 20px;
        margin: 0 6px 0 0;
      }

      input[type=number] {
        @include text_default;
        width: 40px;
        margin: 0 6px 0 0;
      }
    }
  }

  .results {
    display: flex;

    ul.type-breakdown {
      margin: 0 30px 0 0;
      list-style: none;

      li {
        display: flex;
        align-items: center;
        margin: 10px 0;

        .asset {
          width: 20px;
          height: 20px;
          margin-left: 8px;
        }
      }
    }

    .total {
      text-align: center;
      .count { @include text_total; }
    }
  }

  .rolls {
    .hit-label {
      padding-left: 12px;
    }
  }

}
