@import '../fonts';

.Roll {

  .damage-line {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    min-height: 50px;
  }

  input[type=checkbox] {
    width: 28px;
    height: 28px;
    margin-right: 12px;
    flex-shrink: 0;
  }

  .asset.d20 {
    width: 36px;
    height: 36px;
    flex-shrink: 0;
  }

  .d20-results {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 30px;
    margin: 0 40px 0 4px;

    &.reverse { flex-direction: column-reverse; }

    .roll-use { @include text_roll_used; }
    .roll-discard { @include text_roll_discarded; }
  }

  .damage-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 30px;
    width: 100%;

    .damage-roll {
      display: flex;
      align-items: center;

      .asset {
        width: 26px;
        height: 26px;
        margin-right: 6px;
      }

      .amount {
        width: 36px;
      }

      &.disabled {
        .asset { opacity: 25%; }
        .amount { visibility: hidden; }
      }
      &.crit {
        // turn black to red
        filter: invert(17%) sepia(62%) saturate(5292%) hue-rotate(339deg) brightness(87%) contrast(98%);
        color: crimson;
      }
      &.rerolled { background-color: lightblue; }
      &.halved { color: steelblue; font-style: italic;}
    }

    hr.miss {
      width: 100px;
      height: 2px;
      border: none;
      background-color: darkgrey;
      margin-right: auto;
      margin-left: 0;
    }
  }

  .subtotal-container {
    margin-left: auto;
    display: flex;

    .subtotal {
      @include text_roll_subtotal;
      display: flex;
      margin-left: 8px;

      .asset {
        width: 36px;
        height: 36px;
        margin: 0 2px;
      }
    }
  }

  .crit-container {
    @include text_critical_hit;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    color: crimson;

    .asset {
      width: 20px;
      height: 20px;
      margin: auto 12px;
      opacity: 35%;

      // turn black to red
      filter: invert(17%) sepia(62%) saturate(5292%) hue-rotate(339deg) brightness(87%) contrast(98%);
    }

    hr {
      opacity: 35%;
      width: 100%;
      height: 1px;
      border: none;
      background-color: crimson;
      margin: 10px 14px;
      // margin: 0;
      // margin-right: auto;
      // margin-left: 0;
    }
  }

}
