@import '../fonts';

.Roll {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  min-height: 50px;

  input[type=checkbox] {
    width: 28px;
    height: 28px;
    margin-right: 12px;
    flex-shrink: 0;
  }

  .asset.d20 {
    width: 36px;
    height: 36px;
    flex-shrink: 0;
  }

  .d20-results {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 30px;
    margin: 0 40px 0 4px;

    &.reverse { flex-direction: column-reverse; }

    .roll-use { @include text_roll_used; }
    .roll-discard { @include text_roll_discarded; }
  }

  .damage-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .damage-roll {
      display: flex;
      align-items: center;

      .asset {
        width: 26px;
        height: 26px;
        margin-right: 6px;
      }

      .amount {
        width: 36px;
      }

      &.disabled {
        .asset { opacity: 25%; }
        .amount { visibility: hidden; }
      }

      &.hidden { display: none; }

      &.rerolled {
        background-color: lightblue;
      }
    }

    // miss
    hr {
      width: 100px;
      height: 2px;
      border: none;
      background-color: darkgrey;
    }
  }

  .crit-container {
    @include text_critical_hit;
    margin-left: auto;
    flex-shrink: 0;
  }

}
