@import '../fonts';

.RoomConnect {
  @include shadow;
  @include parchment_background;
  padding: 16px 22px 18px;
  margin-top: 22px;
  box-sizing: border-box;
  width: 100%;
  z-index: 2; // in front of XCard

  &.disconnected {
    @include nouveau_border('nouveau_room_disconnected.svg');
  }
  &.connected {
    @include nouveau_border('nouveau_room_connected.svg');
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .party-room-container, .party-name-container, .x-card-container {
    @include text_label;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0 0;

    label {
      width: 66px;
      flex-shrink: 0;
    }

    .TextInput { padding: 0; }

    &.disconnected {
      input {
        @include text_default;
        width: 74%;
        background-color: $parchment;
        border: 1px solid $faded_grey;
        border-radius: 4px;
        padding: 4px 4px;
      }
    }

    &.connected {
      .TextInput input {
        @include text_label;
      }
    }
  }

  .party-room-container {
    &.disconnected input {
      padding-right: 30px;
    }

    .generate-new-room {
      position: absolute;
      right: 4px;
      top: 12px;
      background: none;
      border: none;
      font-size: 20px;
      color: $grey_mid;
      transition: color .075s ease-out;
      cursor: pointer;

      &:hover { color: $soft_black; }
    }

    .copy-on-click {
      @include text_label;
      display: flex;
      border-radius: 4px;
      margin-top: 1px;
      padding: 0;
      text-align: left;
      overflow: hidden;
      cursor: pointer;

      &:hover { background-color: $pink; }

      .name {
        max-width: 88%;
        box-sizing: border-box;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .copy-symbol { margin-left: 4px; }
    }

    .copied-message {
      color: $olive_dark;
      font-size: 18px;
      padding-top: 2px;
    }
  }

  // either a disabled span or a clickable Link
  .party-connect {
    @include text_connect_button;
    text-decoration: none;
    text-align: center;
    width: fit-content;
    display: block;
    margin: 15px auto 5px;
    padding: 5px 80px;
    border: none;
    border-radius: 8px;
    background-color: $rust;
    cursor: pointer;

    &:hover {
      background-color: $rust_light;
      color: white;
    }
    &.disabled {
      cursor: auto;
      background-color: $parchment_dark;
      color: $grey_mid;
    }
  }

}
