@import '../fonts';


.TextInput {
  box-sizing: border-box;
  border-radius: 2px;

  cursor: pointer;
  background-color: transparent;

  &:hover { background-color: $parchment_dark; }
  &.not-editing { padding: 3px; }

  .placeholder { font-style: italic; }

  input, textarea {
    box-sizing: border-box;
    width: 100%;
  }

  p {
    margin-top: 0;
  }
}
