@import '../fonts';

.XCard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  border-radius: 14px;
  background-color: $rust;
  color: white;
  padding: 10px 50px 4px;

  margin-top: -104px;
  -webkit-transition: margin-top .2s;
  -moz-transition: margin-top .2s;
  -ms-transition: margin-top .2s;
  -o-transition: margin-top .2s;
  transition: margin-top .2s;

  &:hover { margin-top: 0; }

  button {
    padding: 24px 40px;
    margin-bottom: 16px;
    border-radius: 24px;
    font-size: 28px;
    color: white;
    background-color: $rust_light;

    &:hover { background-color: $pink; }
  }


  a {
    display: block;
    width: 24px;
    height: 24px;
    line-height: 24px;

    position: absolute;
    right: 12px;
    top: 12px;

    font-size: 18px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: $rust_light;
    border-radius: 50%;
    text-decoration: none;

    &:hover {
      background-color: $pink;
      color: white;
    }
  }

  .x-card {
    font-size: 18px;
    text-align: center;
  }
}

// To meet accessibility standards, this is rendered at the bottom of the page, outside of the main App.
// This means that no global styles will apply. We're on our own.
.XCardModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  transform: translateZ(0); // "Force the browser to create a new layer and send rendering to the GPU."

  background-color: rgba(#000, 0.75);

  display: flex;
  justify-content: center;
  align-items: center;


  .popup {
    @include text_default;
    @include shadow;
    @include nouveau_border;
    border-image-source: url('/assets/borders/nouveau_roller.svg');
    background-image: url('/assets/bg_parchment.png');
    background-color: $parchment;

    font-size: 20px;
    padding: 70px 64px 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // pointer-events: none;

    button {
      @include text_default;
      background-color: $rust;
      font-size: 26px;
      color: white;
      margin: 36px 0 10px;
      padding: 15px 70px;
      border: none;
      border-radius: 4px;
      cursor: pointer;

      &:hover { background-color: $pink; }
    }

  }
}
