@import '../../fonts';

button.DraftCard {
  @include red_button;
  width: 100%;
  margin: 0 auto;

  &.selected {
    background-color: $periwinkle;
    &:hover {
      background-color: $periwinkle_light;
    }
  }
}
