@import '../../fonts';
@import '../../assets_lancer';

.DraftDecks {

  .central-pool {
    display: flex;
    justify-content: flex-start;
    gap: 20px;

    .undrawn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 8px;
      text-align: center;

      button {
        @include red_button;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center top;
        padding: 10px 8px;
        width: 80px;
        height: 110px;
        margin: 0 auto;

        display: flex;
        align-items: flex-end;
        justify-content: center;

        font-weight: bold;
        color: $parchment;
        font-size: 18px;
      }
    }

    .current-picks {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 16px;
      row-gap: 8px;
    }
  }

  .NouveauDivider {
    margin: 34px auto;
  }
}
