@import '../../fonts';

button.DraftCard {
  // @include text_connect_button;
  color: white;
  text-decoration: none;
  text-align: center;
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 8px;
  border: none;
  border-radius: 8px;
  background-color: $rust;
  cursor: pointer;

  &:hover {
    background-color: $rust_light;
    color: white;
  }
  &:disabled {
    cursor: auto;
    background-color: $parchment_dark;
    color: $grey_mid;
  }

  &.selected {
    background-color: $periwinkle;
    &:hover {
      background-color: $periwinkle_light;
    }
  }

}
