@import '../../fonts';

.MainDraft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 20px;

  .panel {
    @include shadow;
    @include parchment_background;
    @include nouveau_border('nouveau_roller.svg');

    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
    padding: 0 30px 20px;
    margin: 0 20px 20px;

    h3 {
      @include text_title_heavy;
      text-align: center;
    }
  }

  .controls button {
    // @include text_connect_button;
    color: white;
    text-decoration: none;
    text-align: center;
    width: fit-content;
    display: block;
    margin: 30px auto 10px;
    padding: 8px 70px;
    border: none;
    border-radius: 8px;
    background-color: $rust;
    cursor: pointer;

    &:hover {
      background-color: $rust_light;
      color: white;
    }
    &.disabled {
      cursor: auto;
      background-color: $parchment_dark;
      color: $grey_mid;
    }
  }


  // h2 {
  //   text-align: center;
  // }


}
