@import '../../fonts';

.OpponentTeams {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  .SpecificOpponent {
    // display: flex;

    > p {
      @include text_title_light;
      margin: 0;
      text-align: center;
      padding: 8px 0;
      margin: 0 0 6px;
      border-top: 2px solid $parchment_dark;
      border-bottom: 2px solid $parchment_dark;
    }

    .opponent-cards-container {
      // width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 16px;
      row-gap: 2px;
    }
  }


}
