@import '../../fonts';

.PlayerTeam {
  display: grid;
  grid-template-columns: 150px 1fr;
  column-gap: 20px;

  > p {
    @include text_title_light;
    margin: 0;
    text-align: center;
    padding: 8px 0;
    border-top: 2px solid $parchment_dark;
    border-bottom: 2px solid $parchment_dark;
  }

  .unallocated {
    background-color: $parchment_dark;
    padding: 8px;

    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }

  .slots {
    margin-top: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 18px;
    column-gap: 18px;
  }
}
