@import '../../fonts';

.TeamSlot {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // gap: 6px;
  background-color: $parchment_dark;
  border-radius: 8px;

  button.slot-section {
    @include red_button;
    width: 100%;
    margin: 0 auto;
    padding: 8px;
    // border-radius: 0;

    background-color: $olive_light;
    color: $grey_very_dark;
    &:hover {
      background-color: $olive_dark;
      color: white;
    }

    &:disabled {
      cursor: auto;
      background-color: $parchment_dark;
      color: $grey_mid;
    }
  }

  .npcs, .upgrades {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 4px;
  }
}
