@import '../../fonts';

.LancerTacticsBanner {

  p {
    font-size: 10px;
    text-align: center;
    margin: 1px 0 0;
  }

  a div.asset {
    width: 100%;
    height: 80px;
    background-size: cover;
    background-position: center;
  }

}
