@import '../../fonts';
@import './PageModeSwitcher';

$subwindow_height: 690px;

.MainOwlbear {

  // need to put a resize listener on the whole frame if we want to do this
  // .scrollable-container {
  // 	overflow-y: auto;
  //   max-height: $subwindow_height;
  // }

  .page-mode-content {

    &.expanded {
      display: flex;
      justify-content: space-around;
    }


    .roll-history-container {

      &.expanded {
        max-width: 400px;
      }

      &.hidden {
        visibility: hidden;
        height: 0px;
        position: absolute;
        top: 0;
        z-index: -10;
      }
    }

    .DiceBag {
      margin: 12px auto 0;
    }

    // this can get a little taller in our context
    .RollHistory {
      max-height: $subwindow_height;

      margin-top: 12px;
    }

    .MainLancer {
      flex-direction: column-reverse; // stick mode switcher and LCPs at end
    }

    // need to be positioned below the pagemode switcher
    .JumplinkPanel {
      top: $page_switcher_height;
      margin-top: 0;

      // to the left of the pagemode switcher
      @include expanded_width {
        position: fixed;
        top: 0;
        left: 0;
        width: 50vw;
        margin: 0;
      }
    }
  }
}
