@import '../../fonts';

.MarkedIntegration {
  @include nouveau_border('nouveau_lancer_mech.svg');
  @include shadow;
  @include parchment_background;
  padding: 16px 22px 18px;
  margin: 6px 0;
  box-sizing: border-box;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    margin-top: 2px;
    text-align: center;
    color: $rust;
  }

  p {
    margin: 0 auto 5px;
    text-align: center;
  }

  span.small {
    font-size: 10px;
    margin-top: -18px;
    margin-bottom: 12px;
  }

  hr {
    width: 100%;
    border-color: $pink;
    margin: 18px 0;
  }

  button {
    // @include text_connect_button;
    color: white;
    text-decoration: none;
    text-align: center;
    width: fit-content;
    display: block;
    margin: 0 auto 5px;
    padding: 8px 70px;
    border: none;
    border-radius: 8px;
    background-color: $rust;
    cursor: pointer;

    &:hover {
      background-color: $rust_light;
      color: white;
    }
    &.disabled {
      cursor: auto;
      background-color: $parchment_dark;
      color: $grey_mid;
    }
  }
}
