@import '../../fonts';

.OwlbearSettings {
  @include nouveau_border('nouveau_lancer_mech.svg');
  @include shadow;
  @include parchment_background;
  padding: 16px 22px 18px;
  margin: 6px 0;
  box-sizing: border-box;
  width: 100%;


  label {
    @include text_label;
    margin: 6px 0;
    padding: 6px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover { background-color: $parchment_dark; }

    input {
      margin-right: 16px;
      width: 24px;
      height: 24px;
      flex-shrink: 0;
    }

    .asset {
      width: 28px;
      height: 28px;
      margin-right: 12px;
      // turns black to $rust
      filter: invert(19%) sepia(35%) saturate(2526%) hue-rotate(342deg) brightness(89%) contrast(96%);
    }
  }
}
