@import './fonts5E';

.ActiveAttackList {
  // @include shadow;
  // @include nouveau_border;
  // border-image-source: url('/assets/borders/nouveau_room_connected.svg');
  // background-image: url('/assets/bg_parchment.png');
  // background-color: $parchment;

  // margin: 20px auto 20px;
  // padding: 16px 16px;
  // box-sizing: border-box;
  // max-width: 800px;

  h2.roll-attacks {
    @include text_title_action;
    text-align: center;
    margin: 10px 0;
  }

  .all-attacks-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .attack-container {
      // @include shadow;
      display: flex;
      align-items: center;
      justify-content: center;

      box-sizing: border-box;
      margin: 8px 10px;
      width: 30%;
      min-height: 40px;

      .attack {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        border-radius: 6px 0 0 6px;
        font-size: 18px;

        box-sizing: border-box;
        padding: 6px;
        width: 100%;
        height: 100%;
        cursor: pointer;

        color: white;
        background-color: #9e9e9e;
        &:hover { background-color: #aeaeae; }

        input { margin: 0 10px 0 0; }
      }

      button.attack-count {
        @include text_attack_roll_count;
        background-color: #d2806e;
        border-radius: 0 6px 6px 0;

        height: 100%;
        min-width: 40px;
        padding: 0;
        display: block;
        white-space: nowrap;

        color: $soft_white;
        background-color: #7a7a7a;
        &:hover { background-color: #8a8a8a; }
      }

      &.active {

        .attack {
          font-weight: bold;
          color: $soft_black;
          background-color: $pink;
          &:hover { background-color: $pink_logo_light; }
        }

        button.attack-count {
          color: white;
          background-color: $pink_logo_dark;
          &:hover { background-color: $rust_light; }
        }
      }
    }
  }
}
