@import './fonts5E';

.ActiveAttackList {
  max-width: 810px;
  margin: 20px auto 0;

  h2.roll-attacks {
    @include text_title_action;
    text-align: center;
    margin: 40px 0 0;
  }

  .all-attacks-container {
    display: flex;
    flex-wrap: wrap;

    .attack-container {
      display: flex;
      margin: 6px 4px;
      width: 30%;
      align-items: center;
      justify-content: center;
      min-height: 40px;

      .attack {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        width: 100%;
        height: 100%;
        padding: 6px;
        box-sizing: border-box;
        background-color: $grey_light;
        cursor: pointer;

        &.active { background-color: $parchment_dark; }
        &:hover { background-color: $pink; }

        input { margin: 0 10px 0 0; }
        .name { @include text_active_attack_name; }
      }

      button.attack-count {
        @include text_attack_roll_count;
        background-color: $rust;
        border: none;
        height: 100%;
        min-width: 40px;
        padding: 0;
        display: block;
        white-space: nowrap;
        cursor: pointer;

        &:hover { background-color: $rust_light; }
      }
    }
  }
}
