@import './fonts5E';

.Character {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin: 20px 20px 0;

  .character-sheet {
    @include shadow;
    @include parchment_background;
    @include nouveau_border("nouveau_character.svg");

    position: relative;
    box-sizing: border-box;
    padding: 8px 4% 8px;
    width: 100%;
    max-width: 800px;

    .character-name {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;

      overflow: hidden;
      max-width: 764px;

      margin-right: auto;
      margin-top: 16px;
      // padding-bottom: 16px;
      // border-bottom: 4px solid $rust_light;
      // margin-bottom: 34px;

      .display { @include text_character_name; }

      input { @include text_character_name; }
    }

    .attack-container {

      &.hidden { visibility: hidden; }

      .add-attack-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 8px;

        >:first-child { margin-right: 24px; }

        .add-button {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          padding: 8px 2px 0;
          margin-bottom: 8px;
          width: max-content;
          opacity: 0.4;
          transition: opacity .075s ease-out;
          cursor: pointer;

          &:hover { opacity: 0.9; }

          .asset {
            width: 40px;
            height: 40px;
            margin-right: 4px;
          }
        }

        .add-spell-container {
          display: flex;
          align-items: center;
          width: 100%;
          max-width: 400px;

          .select-spell-dropdown {
            width: 100%;
          }
        }
      }
    }

    .character-preset-container {
      margin-bottom: 8px;
      margin-left: 12px;

      select {
        @include text_label;
        color: $soft_black;
        padding: 4px 100px 4px 4px;
        cursor: pointer;
      }
    }
  }
}
