@import './fonts5E';

$damagesource_rearrange_threshold: 600px;

.DamageEdit {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;

  padding-bottom: 0;
  margin: 10px 0;
  background-color: $parchment_dark;
  border-radius: 6px;
  cursor: auto;

  > * {
    margin-bottom: 10px;
  }

  .row {
    display: flex;
    align-items: center;

    &.full { width: 100%; }
  }


  // .DamageEditNumbers {
  //   display: flex;
  //   align-items: center;
  //   margin-right: 8px;
  //   // order: 1;

    input[type=number] {
      @include text_default;
      font-size: 22px;
      background-color: $parchment;
      border: none;
      border-radius: 4px;
      padding-left: 8px;
      margin-right: 8px;
      width: 36px;
      min-height: 30px;

      &:hover { background-color: $parchment_mid; }
    }

    .die-container, .damage-type {
      display: flex;
      align-items: center;
      // margin: 3px 5px;
      margin: 0 5px;

      .die-type { width: 30px; margin-left: 2px;}
    }

    .flat-damage {
      white-space: nowrap;
      margin-right: 20px;
    }

    .asset {
      height: 30px;
      width: 30px;
    }

    .plus {
      font-size: 20px;
      margin: 0 8px;
    }
  // }

  .DamageEditDieType {
    // order: 3;
    // flex-grow: 1;

    // @media screen and (min-width: $damagesource_rearrange_threshold) {
      // width: 45%;
      // border-right: 1px solid darkgrey;
      // margin-right: 18px;

      // .IconMenu {
      //   max-width: 220px;
      //   margin: auto;
      // }
    // }

    .IconMenu label { min-width: 60px;}
  }

  .DamageEditDamageType {
    // order: 4;
    // flex-grow: 1;

    // @media screen and (min-width: $damagesource_rearrange_threshold) {
    //   width: 45%;
    //
    //   .IconMenu {
    //     margin: auto;
    //   }
    // }
  }

  .DamageEditDieType {
    max-width: 220px;
  }

  .DamageEditDamageType {
    max-width: 280px;
  }

  .IconMenu {
    display: flex;
    flex-wrap: wrap;

    label {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px;
      border-radius: 4px;
      cursor: pointer;

      .asset {
        width: 32px;
        height: 32px;
      }
    }

    input[type="radio"] {
      position: absolute;
      left: -99999999px;

      &:focus+label { background-color: $pink; }
      &:checked+label { background-color: $olive_light; }
      &:hover+label { background-color: $pink; }
    }
  }

  // DamageEditMetadata
  input.damage-name {
    @include text_default;
    background-color: $parchment;
    border: none;
    border-radius: 4px;
    padding-left: 8px;
    margin-right: 10px;
    min-height: 30px;
    min-width: 126px;
    flex: 1 0 auto;
    // order: 5;

    // @media screen and (min-width: $damagesource_rearrange_threshold) {
    //   order: 2
    // }

    &:hover { background-color: $parchment_mid; }
  }

  // DamageEditMetadata
  .tag-select {
    position: relative;
    width: 100%;
    // min-width: 200px;
    // margin-right: 10px;
    // flex: 1 0 auto;
    // order: 6;

    label {
      @include text_input;
      color: $grey_mid;
      font-style: normal;

      position: absolute;
      top: 7px;
      left: 8px;
      pointer-events: none;
    }

    #multiselectContainerReact {
      cursor: pointer;
      background-color: $parchment;
      border-radius: 4px;

      &:hover { background-color: $parchment_mid; }

      // the unnamed immediate container
      > div {
        padding: 0 4px;
        min-height: 32px;
        border: 0;
      }

      .chip {
        // margin: 4px;
        margin: 0 4px;
        border-radius: 0;
        padding: 8px 4px 9px 8px;
        background-color: $olive_light;
        color: $soft_black;

        .icon_cancel {
          border-radius: 2px;

          &:hover {
            background-color: salmon;
          }
        }
      }

      input {
        position: absolute;
        left: -99999999px;
      }
    }
  }


  // DamageEditMetadata (saving throw & applied conditions)
  .additional-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    // order: 6;

    > * {
      margin: 0 10px 10px 0;
      text-align: center;
    }

    .saving-throw {
      display: flex;

      .saving-throw-dc, .saving-throw-type {
        padding: 0 3px;
        border-radius: 2px;
        font-weight: bold;
        cursor: pointer;

        &:hover { background-color: $pink; }
      }
    }

    .condition-select {
      select {
        @include text_default;
        margin: 0 6px;
      }
    }
  }


  button.delete {
    @include text_default;
    border: none;
    width: 60px;
    padding: 4px 0;
    background-color: transparent;
    cursor: pointer;

    .asset {
      width: 24px;
      height: 24px;
      margin: auto;
      opacity: 0.6;

      // turns black to $rust
      filter: invert(19%) sepia(35%) saturate(2526%) hue-rotate(342deg) brightness(89%) contrast(96%);
    }

    &:hover .asset { opacity: 1.0; }
  }
}
