@import './fonts5E';

.DamageSource {
  display: flex;
  align-items: center;
  min-height: 36px;

  padding: 4px 12px 4px 0;
  margin-right: 32px;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer;

  transition: margin .05s ease-out, background-color .075s ease-out;

  &.editing { background-color: $pink; }
  &:hover { background-color: $parchment_dark; }

  input[type=checkbox] {
    width: 24px;
    height: 24px;
    margin: 5px 10px 0 0 ;
    flex-shrink: 0;
    z-index: 100;
  }

  .roll-numbers {
    font-size: 20px;
    margin: 0 8px;
    white-space: nowrap;
  }

  .asset {
    height: 26px;
    width: 26px;
    margin-right: 10px;
  }

  .name {
    font-style: italic;
    margin-right: 12px;
  }

  .tags {
    max-width: 280px;
  }
}
