@import '../../fonts';

@mixin text_character_name {
  font-size: 56px;
  color: $rust;
}

@mixin text_attack_roll_count {
  font-family: 'Bitter';
  font-size: 16px;
  // color: white;
  font-weight: bold;
}

@mixin text_critical_hit {
  font-size: 22px;
  color: crimson;
}

@mixin text_fumble {
  font-size: 18px;
  color: darkgrey;
  font-style: italic;
}

@mixin text_clear_rolls {
  font-family: 'Bitter';
  font-weight: bold;
  font-size: 16px;
  color: $rust;
}

@mixin text_initiative_header {
  font-family: 'Bitter';
  font-size: 22px;
  font-style: italic;
  color: $rust;
  text-align: center;
}
