@import '../../fonts';
@import './fonts5E';

.InitiativeList {
  @include shadow;
  @include nouveau_border;
  border-image-width: 92px;
  border-image-outset: 0;
  border-image-source: url('/assets/border_nouveau_initiative_list.svg');
  background-color: $parchment;
  background-image: url('/assets/bg_parchment.png');
  padding: 12px 12px 16px;
  margin: 30px auto;
  box-sizing: border-box;
	width: 100%;
	max-width: 400px;
  min-height: 224px;

  button {
    border: none;
    background-color: transparent;
  }

  h3 {
    font-family: 'Bitter';
    font-size: 22px;
    font-style: italic;
    color: $rust;
    text-align: center;
    margin: 14px 0 20px;
  }

  .list-container {
    margin-bottom: 22px;
    padding: 0 26px;

    &.empty { margin-bottom: 36px; }

    .InitiativeEntry {
      display: flex;
      align-items: center;
      padding: 0 8px;
      box-sizing: border-box;

			&.highlighted { background-color: $parchment_dark; }

      .handle.asset {
        width: 28px;
        height: 28px;
				padding: 2px;
        margin-right: 4px;
        margin-left: -8px;
				border-radius: 50%;
				cursor: pointer;

				&:hover { background-color: $pink; }
      }

      .character-name {
        font-size: 18px;
      }

      .initiative-count {
				display: flex;
				align-items: center;
        margin-left: auto;
        padding: 0 12px;
        font-size: 22px;

				.NumberInput {
					font-size: 18px;
					font-style: italic;
					padding: 5px 6px;
					margin-right: 6px;
					&:hover { background-color: $pink; }
				}
      }

      .delete-button.asset {
        width: 28px;
        height: 28px;
        opacity: 0.4;
        &:hover { opacity: 1.0; }
      }
    }
  }

  .InitiativeAdder {
    display: flex;
    margin: 0 0 15px;

    input.character-name {
      width: 60%;
      margin-left: 16px;
      padding: 4px 0 4px 6px;
      font-size: 22px;
    }

    input.initiative-count {
      width: 42px;
      margin: 0 8px;
      padding: 4px 0 4px 6px;
      font-size: 22px;
      // text-align: center;
    }

    button.confirm-entry {
      padding: 0 2px;
      opacity: 1.0;
      border-radius: 4px;
      background-color: $olive_light;
      &:hover { background-color: $pink; }

      .asset {
        width: 34px;
        height: 34px;
      }
    }
  }

  .add-button-container {
    display: flex;
    justify-content: space-around;

    label {
      @include text_default;
      display: flex;
      align-items: center;
      cursor: pointer;

      opacity: 0.65;
      &:hover { opacity: 1.0; }

      button {
        display: block;
        width: 36px;
        height: 36px;
        margin: 4px 4px;
      }
    }
  }

  .clear-roll-container {
    margin: auto;

    button.clear-rolls {
      @include button_clear_rolls;
			background-color: transparent;
			padding: 6px 32px;
    }

		.DeleteConfirmation {
			height: 30px;
			margin: 12px 0 0;
			background-color: transparent;
			justify-content: center;

			.delete-title { display: none; }

			button {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 0;
				width: 40%;

				.asset {
					width: 24px;
		      height: 24px;
		      margin: 0 4px;
				}

				&.cancel { border-radius: 0 6px 0 0; }
		    &.delete { border-radius: 6px 0 0 0; }
				&:hover { background-color: $grey_mid_light; }
			}
		}
  }
}
