@import '../../fonts';
@import './fonts5E';

.InitiativeRoller {
  margin: 26px 0 18px;

	input.character-name {
		@include text_default;
		font-size: 22px;

		display: block;
		width: 85%;
		box-sizing: border-box;
		margin: 12px auto 8px;
		padding: 2px 8px;
	}

	.dice-container {
		display: flex;
		align-items: center;
		justify-content: center;

		.bonus-container {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			font-size: 14px;

			input {
				@include text_default;
				font-size: 24px;
				width: 44px;
				margin-bottom: 16px;
			}
		}

		.BigRollButton {
			margin: 0 12px 0 20px;

			button.new-roll {
				width: 80px;
				height: 80px;
			}
		}

		.advantage-container {
			display: flex;
			justify-content: flex-start;
			flex-direction: column;
			font-size: 14px;

			label {
				display: flex;
				align-items: center;
				cursor: pointer;
			}

			input {
				width: 18px;
				height: 18px;
				margin-right: 4px;
			}
		}
	}
}
