@import '../../fonts';

.Main5E {

  .roller-i-hardly-even-knower-container {
    @include shadow;
    @include parchment_background;
    @include nouveau_border('nouveau_roller.svg');

    box-sizing: border-box;
    padding: 20px 12px 10px;
    margin: 30px auto;
    width: 100%;
    max-width: 800px;
    flex-shrink: 0;
  }

  // smaller screens start to have to tweak things
  @media screen and (max-width: 800px) {
    .CharacterList, .MonsterList {
      width: 100%;
      margin: 10px 10px;
    }

    .Character {
      margin: 20px 10px;
    }

    .ActiveAttackList .attack-container {
      width: 100%;
      margin: 4px 10px;
    }

    // .roller-i-hardly-even-knower-container {
    //   margin: 30px 0;
    // }
  }

}
