@import '../../fonts';

.Main5E {
  .roller-i-hardly-even-knower-container {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }

  // smaller screens start to have to tweak things
  @media screen and (max-width: 800px) {
    .CharacterList, .MonsterList {
      width: 100%;
    }

    .ActiveAttackList .attack-container {
      width: 100%;
    }

    .Roller {
      margin: 0;
    }
  }
}
