@import '../../fonts';

.Roll {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  min-height: 54px;

  input[type=checkbox] {
    width: 28px;
    height: 28px;
    margin-right: 12px;
    flex-shrink: 0;
  }

  .asset.d20 {
    width: 36px;
    height: 36px;
    flex-shrink: 0;
  }

  .result-roll {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 30px;
    padding: 0 24px 0 4px;
    margin-right: 16px;

    &.reverse { flex-direction: column-reverse; }

    .roll-discard { @include text_roll_discarded; }
    .roll-use {
      @include text_roll_used;
      position: relative;

      .total {
        pointer-events: none;

        opacity: 1.0;
        transition: opacity .075s ease-out .15s;
      }

      .sum {
        @include text_roll_used_summation;
        position: absolute;
        top: 4px;
        left: 0;
        pointer-events: none;

        opacity: 0.0;
        transition: opacity .075s ease-out .15s;
      }
    }

    &:hover .roll-use {
      .total { opacity: 0.0; }
      .sum { opacity: 1.0; }
    }
  }

  .result-crit-container {
    display: flex;
    align-items: center;

    .asset.result-crit {
      width: 36px;
      height: 36px;

      .asset {
        width: 20px;
        height: 20px;
        margin: 9px auto;

        // turn black to white
        filter: invert(100%) sepia(100%) saturate(19%) hue-rotate(347deg) brightness(106%) contrast(104%);

        // turn black to red
        // filter: invert(17%) sepia(62%) saturate(5292%) hue-rotate(339deg) brightness(87%) contrast(98%);
      }
    }

    .crit-label {
      @include text_critical_hit;
      margin: 0 18px 0 6px;
    }
  }

  .ability-controls {
    display: flex;
    align-items: center;
    width: 138px;

    button.ability-crit-button {
      border: 0;
      background: none;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      opacity: .15;
      transition: opacity .075s ease-out;
      &:hover { opacity: .4; }

      &.toggled {
        opacity: 1.0;
        &:hover { opacity: .6; }
      }

      .asset.d20_frame {
        width: 36px;
        height: 36px;

        .asset.necrotic {
          width: 20px;
          height: 20px;
          margin: 9px auto;

          // turn black to white
          filter: invert(100%) sepia(100%) saturate(19%) hue-rotate(347deg) brightness(106%) contrast(104%);
        }
      }
    }
  }

  .damage-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .damage-container {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      // margin-right: 30px;
      // width: 100%;

      .damage-roll {
        display: flex;
        align-items: center;

        .asset {
          width: 26px;
          height: 26px;
          margin-right: 6px;
        }

        .amount {
          width: 32px;
        }

        &.disabled {
          .asset { opacity: 25%; }
          .amount { visibility: hidden; }
        }
        &.crit {
          // turn black to red
          filter: invert(17%) sepia(62%) saturate(5292%) hue-rotate(339deg) brightness(87%) contrast(98%);
          color: crimson;
        }
        &.rerolled { background-color: $rust; }
        &.halved { color: steelblue; font-style: italic;}
      }

      hr.miss {
        width: 100px;
        height: 2px;
        border: none;
        background-color: darkgrey;
        margin-right: auto;
        margin-left: 0;
      }

      .fumble { @include text_fumble; }
    }


    .crit-container {
      @include text_critical_hit;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
      color: crimson;

      .asset {
        width: 20px;
        height: 20px;
        margin: auto 12px;
        opacity: 35%;

        // turn black to red
        filter: invert(17%) sepia(62%) saturate(5292%) hue-rotate(339deg) brightness(87%) contrast(98%);
      }
    }

    .subtotal-container {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      &.crit {
        color: crimson;

        .asset {
          // turn black to red
          filter: invert(17%) sepia(62%) saturate(5292%) hue-rotate(339deg) brightness(87%) contrast(98%);
        }
      }

      .subtotal {
        @include text_roll_subtotal;
        display: flex;
        margin-left: 8px;

        .asset {
          width: 36px;
          height: 36px;
          margin: 0 2px;
        }
      }

      .applied-condition {
        order: -100;
        font-weight: bold;
        margin-right: 6px;

        a {
          text-decoration: none;

          &:hover {
            color: olive;
          }
        }
      }
    }
  }
}
