@import './fonts5E';

.Roller {
  .controls-and-results {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 6px 0;
    margin: 10px 0 0;

    border-top: 3px solid $faded_gold;

    > * {
      width: 30%;
      box-sizing: border-box;
    }

    .conditions {
      display: flex;
      flex-direction: column;
      padding: 6px 14px;

      @media screen and (max-width: 800px) {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 14px 14px 8px;
        border-bottom: 3px solid $faded_gold;
      }

      label {
        display: flex;
        align-items: center;
        margin: 0 0 6px;
        cursor: pointer;

        &.has-evasion { margin-top: auto; }
      }

      input[type=checkbox] {
        width: 20px;
        height: 20px;
        margin: 0 6px 0 0;
      }

      input[type=number] {
        @include text_default;
        width: 40px;
        margin: 0 6px 0 0;
      }
    }

    .BigRollButton {
      @media screen and (max-width: 800px) {
        margin: 20px 20px;
      }
    }

    .results {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 30px;

      .type-breakdown {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap-reverse;
        max-height: 120px;

        @media screen and (max-width: 500px) {
          display: none;
        }

        .damage-type {
          display: flex;
          align-items: center;
          margin: 0 0 10px 2px;

          .amount {
            text-align: right;
            min-width: 28px;
          }

          .asset {
            width: 26px;
            height: 26px;
            margin-left: 4px;
          }
        }
      }

      .total {
        text-align: center;
        white-space: nowrap;
        padding-top: 6px;
        margin: 0 0 0 34px;

        .count { @include text_total; }
      }
    }
  }

  .rolls {
    padding-top: 16px;
    border-top: 3px solid $faded_gold;

    @media screen and (max-width: 800px) {
      padding-left: 10px;
    }

    .roll-container {
      position: relative;

      h4 {
        margin: 12px 0 0 12px;
        font-size: 22px;
      }

      .roll-type-hint {
        display: none;
        position: absolute;
        right: 100%; // causes them to be right-aligned
        top: 47px;
      }
    }
  }

  .clear-roll-container {
    margin: 40px auto 0 0;

    button.clear-rolls {
      @include button_clear_rolls;
    }
  }
}
