@import '../../../fonts';

@keyframes annotation_flashin {
  from {
    background-color: $rust;
    color: white;
  }

  to {
    background-color: transparent;
    color: $soft_black;
  }
}

@keyframes dicebag_rollin {
  from {
    transform: rotate(-360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

$bookmark_breakpoint: 575px;

.bookmarks-and-bag {
  display: flex;
  margin: 10px 10px;

  @media screen and (max-width: $bookmark_breakpoint) {
    flex-direction: column-reverse;
  }
}

.DiceBag {
  width: 100%;
  max-width: 340px;
  flex-shrink: 100;
  z-index: 2; // in front of bookmarks

  .bag-container {
    @include shadow;
    @include parchment_background;
    @include nouveau_border('nouveau_dicebag.svg');

    display: flex;
    flex-direction: column;
    padding: 12px 0 18px;

    .die-button-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      padding: 6px;

      // (DieButton elements go in here)
    }

    .rolling-surface {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 20px;

      .starting-roll {
        min-height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;

        .asset {
          width: 128px;
          height: 128px;
          opacity: .2;
        }
      }

      .pre-roll {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        min-height: 200px;

        .action {
          @include text_title_action;
          font-style: normal;
          text-align: center;
          margin-top: 10px;

          .to-roll-summary {
            &.complex {
              @include text_dicebag_summary;
              line-height: 36px;
            }

            .verb { margin-right: 4px; }
          }
        }

        button.roll {
          width: 128px;
          height: 128px;
          border-radius: 50%;
          border: none;
          background-color: $rust;
          cursor: pointer;

          &:hover { background-color: $rust_light; }

          &:hover .asset {
            transform: rotate(180deg);
          }

          &:active .asset {
            transform: rotate(360deg);
          }

          .asset {
            margin: auto;
            width: 100px;
            height: 100px;

            // black to pink
            filter: invert(82%) sepia(3%) saturate(3828%) hue-rotate(319deg) brightness(96%) contrast(78%);

            transform: rotate(0deg);
            transition: transform .2s;
          }
        }
      }

      .post-roll {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        min-height: 200px;

        button.result-total {
          @include text_total;
          display: flex;
          align-items: center;

          background-color: transparent;
          border: none;
          border-radius: 8px;
          cursor: pointer;

          &:hover {
            background-color: $parchment_dark;
          }

          > * {
            animation-duration: .2s;
            animation-name: dicebag_rollin;
          }

          .asset { margin-right: 6px;}
        }

        .result-summary {
          @include text_dicebag_summary;
          padding-top: 20px;
          text-align: center;
        }
      }

      button.reset {
        position: absolute;
        top: 6px;
        right: 18px;
        width: 32px;
        height: 32px;
        background-color: transparent;
        border: none;
        border-radius: 50%;
        padding: 0;
        cursor: pointer;

        .asset {
          width: 32px;
          height: 32px;

          // black to rust
          filter: invert(19%) sepia(35%) saturate(2526%) hue-rotate(342deg) brightness(89%) contrast(96%);

          &:hover {
            filter: none;
          }
        }
      }

      .TextInput {
        box-sizing: border-box;
        width: 100%;
        margin: 0 16px;
        border-radius: 4px;
        margin-top: -10px;

        animation-duration: 1.0s;
        animation-name: annotation_flashin;
        animation-timing-function: ease-out;

        .display, input {
          @include text_dicebag_summary;
          font-weight: bold;
          text-align: center;
        }

        .placeholder {
          color: $mud;
        }
      }
    }

    .annotation-and-summary-mode {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 22px;

      label.activate-annotation {
        position: relative;
        border-radius: 2px;
        padding: 2px;
        cursor: pointer;

        &:hover {
          background-color: $rust_light;
          .asset { filter: invert(100%); }
        }

        &.toggled {
          background-color: $rust;
          .asset { filter: invert(100%); }
        }

        &:active { background-color: $pink; }

        &:focus-within { outline: 2px solid $periwinkle; }

        input {
          position: absolute;
          left: -5000px;
        }

        .asset {
          width: 18px;
          height: 18px;
        }
      }

      .placeholder {
        width: 22px;
        height: 22px;
      }
    }

    .roll-description {
      margin: 4px auto;
      font-style: italic;
    }
  }
}
