@import '../../../fonts';

@mixin mobile_only {
  @media (max-width: 575px) {
    @content;
  }
}

.DiceBookmarks {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 0;

  @include mobile_only {
    width: 100%;
    max-width: 340px;
    flex-direction: column;
    // flex-direction: row-reverse;
    // flex-wrap: wrap;
  }
}
