@import '../../../fonts';

@mixin mobile_only {
  @media (max-width: 575px) {
    @content;
  }
}

.DiceBookmarks {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 0;

  @include mobile_only {
    width: 100%;
    max-width: 340px;
    flex-direction: column;
    // flex-direction: row-reverse;
    // flex-wrap: wrap;
  }

  .Bookmark {
    @include shadow;
    width: 120px;
    font-size: 18px;
    color: $grey_light;
    background-color: $rust;
    border-radius: 6px 0 0 6px;
    padding: 4px 4px 4px 6px;
    margin: 10px 0;

    @include mobile_only {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
      margin-bottom: 0;
      padding: 4px 8px;
    }

    .asset.bookmark {
      width: 18px;
      height: 18px;
      margin-right: 6px;

      // black to pink
      filter: invert(82%) sepia(3%) saturate(3828%) hue-rotate(319deg) brightness(96%) contrast(78%);

      display: none;
      @include mobile_only { display: block; }
    }

    &:hover {
      background-color: #9d371f; // rust, but highlighted a little (not as much as rust_light)
    }

    &:disabled {
      background-color: $crushed_velvet;
      color: $grey_mid_light;
      cursor: auto;
    }

    &.selected {
      color: $grey_light;
      background-color: $crushed_velvet; // rust, but more saturated
    }

    &.new {
      z-index: 1;
      text-align: left;
      transform: translateX(100px);
      transition: transform .2s;

      // background-color: $rust;

      @include mobile_only {
        transform: none;
        transition: none;
      }

      .desktop-only {
        @include mobile_only { display: none; }

        .hover-string { display: none; }
        .tucked-string { display: inline; }

        .two-lines {
          display: inline-block;
          margin-top: 12px;
          margin-bottom: 10px;
        }
      }

      &:hover, &:focus {
        text-align: center;
        transform: translateX(0);

        .hover-string { display: inline; }
        .tucked-string { display: none; }
      }

      .mobile-only {
        text-align: center;
        display: none;
        @include mobile_only { display: block; }

      }
    }
  }
}
