@import '../../../fonts';

.PercentileOption {
  @include text_title_action;
  font-style: normal;
  display: flex;
  align-items: center;

  label {
    cursor: pointer;
  }

  input {
    margin: 0 10px;
    width: 24px;
    height: 24px;
  }
}
