@import '../../../fonts';


.SummaryModeSwitcher {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 6px auto;

  .mode-container {
    position: relative;
    border-radius: 4px;
    padding: 2px 6px;

    cursor: pointer;
    // background-color: $parchment_mid;

    &:hover {
      background-color: $parchment_dark;
      color: $soft_black;
    }
    &.selected {
      background-color: $rust;
      color: white;
    }

    input {
      position: absolute;
      left: -99999999px;
      top: 0;
    }
  }
}
