@import '../../../../fonts';

.SquadPanel {
	@include standard_side_margin;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;

  .squad-container {
    @include shadow;
    // @include parchment_background;
    // @include nouveau_border("nouveau_lancer_mech.svg");
		border-radius: 14px;
		background-color: $parchment_dark;

		position: relative;
    box-sizing: border-box;
    padding: 90px 38px;
    width: 100%;
    max-width: 800px;

    @include below_max_width {
      padding: 90px 26px;
    }

		.mechs-container {
			margin: auto;
			width: fit-content;

			display: grid;
			grid-template-columns: 150px 150px;
			grid-auto-rows: 150px;
			column-gap: 15px;
			row-gap: 15px;

			@include constricted {
				grid-template-columns: 150px;
				row-gap: 150px;

				.filler { display: none; }
			}

			button.add-mech {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				transform: rotate(45deg);
				opacity: .8;





			}
		}
	}
}
