@import '../../../../fonts';

$diamond_size: 210px;
$border_external: 4px;
$border_internal: 4px;
$icon_size: 15px;

.SquadMech {
	// @include text_monospace;
	// margin: 30px;

	&:nth-child(odd) {
		.diamond-and-statuses {
			grid-template-columns: 80px $diamond_size;
			grid-template-rows: $diamond_size 80px;

			.summary-diamond {
				grid-column: 2; grid-row: 1;
			}

			.statuses.external {
				grid-column: 1; grid-row: 1;
				writing-mode: sideways-lr;
				max-height: 100%;
				margin-left: auto;
				padding-top: 20px;
			}

			.statuses.internal {
				grid-column: 2; grid-row: 2;
				padding-right: 20px;
			}
		}
	}

	&:nth-child(even) {
		.diamond-and-statuses {
			grid-template-columns: $diamond_size 80px;
			grid-template-rows: 80px $diamond_size;

			.summary-diamond {
				grid-column: 1; grid-row: 2;
			}

			.statuses.external {
				grid-column: 1; grid-row: 1;
				text-align: right;
				align-self: end;
				padding-left: 20px;
			}

			.statuses.internal {
				grid-column: 2; grid-row: 2;
				writing-mode: sideways-lr;
				max-height: 100%;
				text-align: right;
				padding-bottom: 20px;
			}
		}
	}

	.diamond-and-statuses {
		display: grid;
		column-gap: 6px;
		row-gap: 6px;

		width: fit-content;
		transform: rotate(45deg);

		@include constricted { margin: auto; }

		.summary-diamond {
			display: grid;
			grid-template-columns: 50% 50%;
			grid-template-rows: 50% 50%;
			column-gap: $border_internal;
			row-gap: $border_internal;

			box-sizing: border-box;
			width: $diamond_size;
			height: $diamond_size;

			background-color: $rust_dark;
			border: $border_external solid $rust_dark;
			padding-right: $border_internal;
			padding-bottom: $border_internal;


			.portrait-container {
				clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

				box-sizing: border-box;
				width: 100%;
				height: 100%;
				background-color: $parchment_dark;

				.mech-portrait, .pilot-portrait {
					transform: rotate(-45deg) scale(140%);

					box-sizing: border-box;
					width: 100%;
					height: 100%;

					object-fit: cover;
					background-size: cover;
					background-position: top;
					object-position: top;
					background-repeat: no-repeat;
				}

				.mech-portrait {
					// transform: rotate(-45deg) scale(140%);
					// object-fit: cover;
					// background-size: cover;
					// background-position: top;
					// object-position: top;
					background-color: $grey_very_light;
				}

				// .pilot-portrait {
				// 	transform: rotate(-45deg) scale(140%);
				// 	object-fit: cover;
				// 	background-size: cover;
				// 	background-position: top;
				// 	object-position: top;
				// }

				.empty-portrait {
					transform: rotate(-45deg) scale(140%);
					background-size: 50px;
					width: 100%;
					height: 100%;
					// filter: invert(19%) sepia(35%) saturate(2526%) hue-rotate(342deg) brightness(89%) contrast(96%);
					// filter: brightness(70%);
				}
			}

			.SmallStatDiamond {
				@include text_monospace;
				color: $faded_pink;
				background-color: $rust;

				box-sizing: border-box;
				width: 100%;
				height: 100%;

				.stats-container {
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;

					box-sizing: border-box;
					width: 100%;
					height: 100%;
					padding-top: 16px;

					transform: rotate(-45deg);

					.label {
						font-size: 16px;
					}

					.numerical-count {
						font-size: 32px;
						margin: 6px 0 2px;
					}

					.icon-container {
						display: flex;
						flex-wrap: wrap;
						justify-content: center;
						align-items: center;
						max-width: 80px;

						.asset {
							width: $icon_size; height: $icon_size;
							margin: 4px;

							// turns black to $rust
							// filter: invert(19%) sepia(35%) saturate(2526%) hue-rotate(342deg) brightness(89%) contrast(96%);
							filter: invert(70%);

							// turns black to a light grey
							&.spent { filter: invert(10%); }
						}
					}
				}
			}
		}


		.statuses {
			@include text_monospace;

			font-size: 14px;
			color: $rust_dark;
			// color: $rust;
			// writing-mode: vertical-rl;

			// &.internal {
			// 	grid-row: 2 / span 3;
			// 	grid-column: 3;
			// 	margin-right: auto;
			// }
			//
			// &.external {
			// 	grid-row: 2 / span 3;
			// 	grid-column: 1;
			// 	margin-left: auto;
			// }
		}
	}
}
