@import '../../../fonts';

button.DestroySystemButton, button.BroadcastSystemButton {
  display: flex;
  align-items: center;
  padding: 0;
  flex-direction: column;

  max-height: 22px;
  transition: max-height .15s linear .15s;
  overflow: hidden;

  &:hover:not(:disabled) {
    background-color: $parchment_dark;
    max-height: 132px;
  }

  .hover-text {
    color: $rust;
    padding: 8px 0;
    writing-mode: vertical-rl;
  }

  .asset {
    width: 22px; height: 22px;

    // turns black to $rust
    &.x, &.sensor { filter: invert(19%) sepia(35%) saturate(2526%) hue-rotate(342deg) brightness(89%) contrast(96%); }
  }

  &:disabled {
    .asset { filter: invert(50%); }
  }
}
