@import '../../../fonts';

.MechTraits, .MechCoreSystem, .MechSystemActions {
  margin-top: 0;

  .label {
    @include text_monospace;
    font-size: 20px;
    color: $grey_mid;
    margin: 10px 0 10px;
  }

  .traits-container {
    display: grid;
    column-gap: 20px;
    // grid-auto-flow: dense;
    grid-template-columns: 1fr 1fr;

    @include below_max_width { grid-template-columns: 1fr; }
  }

  .TraitBlock {
    padding: 0 0 12px;
  }
}
