@import '../../../fonts';

.MechMount, .TechAttack {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  text-align: left;
  border: 2px solid $rust;

  width: 45%;
  box-sizing: border-box;
  @include constricted { width: 100%; }

  &.TechAttack { border-color: $periwinkle; }
  &.empty { border-color: $faded_grey; }

  &.baseline {
    .MechWeapon button.select-weapon .weapon-name-container {
      margin-top: 0;
      @include max_width { font-size: 22px; }
    }
  }

  .DestroySystemButton {
    position: absolute;
    left: calc(100% + 2px);
    top: -2px;
  }

  .MechWeapon {
    position: relative;
    height: 100%;
  }

  button.select-weapon, button.select-tech {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 8px 14px 10px;

    &:hover {
      background-color: $parchment_dark;
    }

    &.active {
      background-color: $rust;
      border-color: $parchment_dark;
      color: white;

      &.select-tech { background-color: $periwinkle; }
    }

    &:disabled {
      background-color: transparent;

      .mount-type {
        color: $grey_mid;
      }
    }

    .mount-type {
      @include text_monospace;
      font-size: 20px;

      @include below_max_width { font-size: 16px; }
      @include constricted { font-size: 12px; }
    }

    .bonus-effect, .mod {
      @include text_monospace;
      font-size: 12px;
    }

    .weapon-name-container {
      margin-top: 12px;
      text-align: left;
      font-size: 30px;
      text-transform: capitalize;

      @include below_max_width {
        margin-top: 6px;
        font-size: 22px;
      }

      @include constricted {
        margin-top: 2px;
        font-size: 18px;
      }

      &.destroyed {
        font-style: italic;
      }
    }

    .i-have-no-weapon {
      font-size: 24px;
      font-style: italic;
      color: $grey_mid_light;
      margin: 12px auto 0;
    }
  }
}
