@import '../../../fonts';

.MechTraits, .MechCoreSystem, .MechSystemActions {
  margin-top: 0;

  button.label {
    @include text_monospace;
    font-size: 20px;
    color: $grey_mid;
    margin: 8px 0;
    padding: 2px 4px;
    border-radius: 4px;

    &:hover {
      background-color: $parchment_dark;
      color: $soft_black;
    }
  }

  .traits-container {
    display: flex;
    flex-wrap: wrap;

    > .TraitBlock {
      // sort the open ones to the end
      order: 1;
      &.collapsed { order: 0; }

      @include max_width {
        &:not(.collapsed) {
          width: 48%;
          margin-left: auto;

          &.wide, &:only-child {
            width: 100%;
          }
        }
      }
    }
  }

  .TraitBlock { padding: 0 12px 12px 0; }
}
