@import '../../../fonts';

label.RechargeBar {
  @include text_monospace;
  display: flex;
  align-items: center;
  padding: 2px 12px;

  cursor: pointer;

  input {
    width: 24px;
    height: 24px;
    margin: 4px 12px 4px 0;
  }
}
