@import '../../../fonts';

.TraitBlock {
  display: flex;
  align-items: flex-start;

  .card-container {
    width: 100%;


    button.name {
      display: block;
      width: 100%;
      text-align: left;
      background-color: $rust;
      color: white;
      padding: 6px 12px;
      border-radius: 0 14px 0 0;

      &.title-case { text-transform: capitalize; }
      &.action, &.reaction { background-color: $crushed_velvet; }
      &.core-power { background-color: $rust_dark; }

      &:hover { background-color: #9b371e; } // SLIGHTLY lighter rust

      &.collapsed {
        background-color: $parchment_dark;
        color: $soft_black;
        border-radius: 0 14px 0 7px;

        &:hover { background-color: $mud_light; }

        .detail .range-icon .asset { filter: none; }
      }

      .title {
        &.destroyed {
          font-style: italic;
        }
      }

      .detail {
        @include text_monospace;
        font-size: 12px;

        display: flex;
        align-items: center;

        > * { margin-top: 4px; }

        .range-icon {
          display: flex;
          align-items: center;
          margin-left: 10px;

          .asset {
            width: 18px; height: 18px;
            margin-top: -2px;
            filter: invert(100%);
          }
        }

        .limited {
          margin-left: auto;
          padding-left: 12px;
        }

         .recharge {
           margin-left: auto;
           padding-left: 12px;
           display: flex;
           align-items: center;
           min-height: 16.5px;

           input {
             margin: 0;
           }
         }
      }
    }

    .recharge-bar {
      @include text_monospace;
      background-color: $pink;
      display: flex;
      align-items: center;
      padding: 2px 12px;

      input {
        width: 24px;
        height: 24px;
        margin: 4px 12px 4px 0;
      }
    }

    .MechNumberBar {
      .ticks-container button.tick {

        &:hover {
          background-color: $pink;
          .number { color: $soft_black; }
        }

        .asset:not(.dot) {
          width: 20px; height: 20px;
        }
      }
    }

    .statblock-bar {
      @include text_monospace;
      padding: 0 12px;
      display: flex;
      justify-content: space-between;
      background-color: $parchment_dark;

      .stat {
        display: flex;
        align-items: center;

        span.asset {
          display: inline-block;
          width: 24px;
          height: 24px;
        }
      }
    }

    .description {
      padding: 8px 12px 10px;
      background-color: $parchment;
      border-radius: 0 0 0 14px;
      line-height: 1.3;

      p:first-child { margin-top: 0; }

      ul { margin: 4px 0; }

      br {
        content: "";
        display: block;
        margin: 10px 0;
      }

      .DestroySystemButton {
        margin: -6px -6px 0 6px;
        float: right;

      }
    }
  }
}
