@import '../../fonts';

// Overrides for CharacterAndMonsterList.scss
.FileList {
  @include standard_side_margin;

  .CharacterList {
    margin: auto;
    width: 100%;
    box-sizing: border-box;
    max-width: 800px;
    min-width: 320px;
    min-height: 178px;

    ul.EntryList li {
      font-size: 24px;

      @include constricted { width: 100%; }
    }
  }
}

.PlainList {
  display: flex;
  justify-content: center;
  width: 100%;

  .panel {
    @include shadow;
    @include parchment_background;
    @include nouveau_border('nouveau_list_characters.svg');
    @include standard_side_margin;

    width: 100%;
    box-sizing: border-box;
    max-width: 800px;
    min-width: 320px;
    min-height: 178px;

    padding: 10px 11px;

    ul.EntryList li {
      width: 100%;
      font-size: 24px;
    }

    .title-bar {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      background-color: $parchment_dark;
      border-radius: 6px 6px 0 0;

      h2 {
        @include text_card_label;
        margin: 0 14px 0 0;
        padding: 6px 0 6px 12px;
      }
    }
  }

  &.new-file {

    .list-container {
      margin: 16px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .instructions {
        font-size: 18px;
        text-align: center;
        margin-bottom: 18px;
        padding: 0 20px;

        a { margin-left: 4px; }
      }

      .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        position: relative;

        .inputs-container {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
        }

        button, label, input {
          display: block;
          width: 240px;
          box-sizing: border-box;
          padding: 4px 16px;
          margin: 12px 12px;
          text-align: center;
        }

        button, label {
          font-size: 26px;

          background-color: $parchment_dark;
          cursor: pointer;

          &:hover { background-color: $rust_light; }

          &:disabled {
            background-color: $rust_light;
            color: white;
            cursor: auto;
          }
        }

        input[type='text'] {
          @include text_monospace;
          height: 40px;
        }


        input[type='file'] {
          position: absolute;
          top: 0;
          left: 0;
          visibility: hidden;
        }

      }
    }
  }
}
