@import '../../fonts';

.FullRepairButton {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: transparent;

  &.animating {
    transition: background-color .2s;
    background-color: $soft_black;
  }

  .pseudo-panel-container {
    @include standard_side_margin;
    width: 100%;

    .pseudo-panel {
      max-width: 800px;
      margin: auto;
      position: relative;

      button.unclicked {
        display: block;
        margin: 0 20px 0 auto;
        padding: 6px 20px;
        border-radius: 6px 6px 0 0;
        background-color: $rust;
        font-size: 18px;
        color: $pink;
        transform: translateY(0);
        transition: transform .3s;

        &:hover:not(:disabled) {
          background-color: $rust_light;
          color: white;
        }

        &:disabled {
          position: absolute;
          margin-right: 0;
          right: 20px;
          bottom: 0;
          transform: translateY(100%);
        }
      }
    }
  }

  .status-text-container {
    background-color: $soft_black;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    border-bottom: 8px solid $crushed_velvet;
    transition: clip-path .25s .5s, border-width .25s .5s;

    &.unclicked {
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      border-width: 0;
    }

    .status-text {
      @include text_monospace;
      padding: 6px 20px;
      font-size: 18px;
      color: $periwinkle_light;
      text-align: center;
    }

    .confirm-cancel-container {
      display: flex;
      max-width: 800px;
      margin: auto;
    }

    button {
      @include text_monospace;
      display: block;
      padding: 6px 20px;
      font-size: 18px;
      text-align: center;
      // background-color: $rust;
      background-color: $soft_black;
      color: $electric_orange;

      box-sizing: border-box;
      width: 100%;

      &:hover {
        background-color: $electric_orange;
        color: white;
      }

      &.completed {
        animation: flash_brightness .5s ease-out;
      }
    }
  }

}

@keyframes flash_brightness {
  0% { filter: brightness(100%); }
	20% { filter: brightness(300%); }
  100% { filter: brightness(100%); }
}
