@import '../../fonts';

.jumplink-anchor {
  display: block !important;
  position: relative;
  top: -30px;
  visibility: hidden;

  height: 350px;
  margin-bottom: -350px;

  // # when inside a collapsed section, we don't want this blocking the ones below it
  &.collapsed {
    height: 0;
    margin-bottom: 0;
  }
}

.JumplinkPanel {
	// @include standard_side_margin;
  margin-top: 20px;
  margin-bottom: 6px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 100;

  background-color: $crushed_velvet;

  .jumplinks {
    @include shadow;
    // @include parchment_background;
    // @include nouveau_border("nouveau_lancer_squad.svg");

    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;

    display: flex;

    .link-container {
      width: 100%;
      display: flex;
      justify-content: space-between;

      a {
        display: block;
        color: $pink;
        text-decoration: none;
        text-align: center;
        padding: 8px;

        box-sizing: border-box;
        width: 100%;

        &:hover {
          background-color: $pink_logo_dark;
          color: white;
        }

        &.current {
          background-color: $rust;
          color: white;
        }
      }
    }
  }
}
