@import '../../fonts';


.MainLancer {
  display: flex;
  flex-direction: column;
  width: 100%;

  .game-mode-and-lcp-container {
    // @include standard_side_margin;
    max-width: 800px;
    width: 100%;
    margin: 10px auto;
    // margin-top: 20px;
    // margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .game-mode-switcher {
      // margin: auto;
      margin: 10px 0;
      height: fit-content;
      display: flex;
      justify-content: center;
      border-radius: 6px;
      background-color: $crushed_velvet;

      button {
        font-size: 20px;
        padding: 4px;
        width: 120px;
        border-radius: 6px;
        color: $pink_logo_light;
        background-color: $crushed_velvet;

        &:hover { background-color: $pink_logo_dark; }

        &.active {
          background-color: $rust;
          color: white;
        }
      }
    }
  }

  .lcp-container {
    margin: 10px 0;
    &.expanded { width: 100%; }

    button.lcp-list-collapsed {
      margin: auto;
      padding: 4px 12px;
      font-size: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      color: $pink_logo_light;
      background-color: $crushed_velvet;
      border-radius: 6px;
      max-width: 800px;

      &:hover { background-color: $pink_logo_dark; }

      span { margin-left: 4px; }
    }

    .FileList.content-packs {
      margin: 0;
      .id-core .DeleteButton { display: none; }
    }
  }

}
