@import '../../fonts';


.MainLancer {

  .wip-container {
    margin: 12px auto 20px;
    width: 100%;
    max-width: 800px;
    text-align: center;
    color: $rust_dark;
    // font-size: 20px;

    a {
      margin: 0 4px;
      color: $olive_dark;

      &:hover { color: $crushed_velvet; }
    }
  }

  .game-mode-switcher-container {
    @include standard_side_margin;
    display: flex;
    justify-content: center;

    .game-mode-switcher {
      margin: auto;
      display: flex;
      justify-content: center;
      border-radius: 6px;
      background-color: $crushed_velvet;

      button {
        font-size: 20px;
        padding: 4px;
        width: 120px;
        border-radius: 6px;
        color: $pink_logo_light;
        background-color: $crushed_velvet;

        &:hover { background-color: $pink_logo_dark; }

        &.active {
          background-color: $rust;
          color: white;
        }
      }
    }
  }

  .lcp-container {
    margin: 12px auto 20px;

    button.lcp-list-collapsed {
      margin: auto;
      padding: 2px 12px 2px 8px;
      font-size: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      color: $pink_logo_light;
      background-color: $crushed_velvet;
      border-radius: 6px;
      max-width: 800px;

      &:hover { background-color: $pink_logo_dark; }

      span {
        margin-left: 4px;
      }
    }

    .FileList.content-packs {
      // .title { color: $crushed_velvet; }

      .id-core .DeleteButton { display: none; }
    }
  }

}
