@import '../../fonts';


.MainLancer {

  .lcp-container {
    margin: 12px auto 20px;
    // width: 100%;

    button.lcp-list-collapsed {
      margin: auto;
      padding: 2px 12px 2px 8px;
      font-size: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      color: $pink_logo_light;
      background-color: $crushed_velvet;
      border-radius: 6px;
      max-width: 800px;

      &:hover { background-color: $pink_logo_dark; }

      span {
        margin-left: 4px;
      }
    }

    .FileList.content-packs {


      // .title { color: $crushed_velvet; }

      .id-core .DeleteButton { display: none; }
    }
  }

}
