@import '../../fonts';

.MechanicsList {
  @include text_monospace;

  .label {
    margin-top: 4px;
    margin-left: 4px;
    font-size: 14px;
    color: $grey_mid;
  }

  .entry {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    margin: 0 4px;

    cursor: help;

    &:hover {
      color: $rust;
    }

    &.clickable {
      border-radius: 2px;
      cursor: pointer;

      &:hover {
        background-color: $rust;
        color: white;

        .bracket { color: white; }
      }
    }

    .bracket {
      top: -1px;
      position: relative;
      color: $grey_mid;

      &.left { margin-right: 4px; }
      &.right { margin-left: 4px; }
    }

    .name {
      display: inline-block;
      text-transform: capitalize;
    }

    .number { margin-left: 6px; }
  }
}
