@import '../../fonts';

.MechTraits, .MechCoreSystem {
  margin-top: 26px;

  .label {
    @include text_monospace;
    font-size: 20px;
    color: $grey_mid;
    margin: 10px 0 4px;
  }

  .traits-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;

    @include below_max_width {
      grid-template-columns: 1fr;
    }
  }

  .trait {
    padding: 0 0 12px;

    .name {
      background-color: $rust;
      color: white;
      padding: 6px 6px;

      &.title-case { text-transform: capitalize; }

      .detail {
        @include text_monospace;
        font-size: 12px;
        margin-top: 4px;
      }
    }

    .description {
      padding: 2px 6px;

      ul { margin: 4px 0; }
    }
  }
}
