@import '../../fonts';

.MechanicsList {
  @include text_monospace;

  .label {
    margin-top: 4px;
    margin-left: 4px;
    font-size: 14px;
    color: $grey_mid;
  }

  .entry {
    position: relative;
    display: inline-block;
    white-space: nowrap;

    cursor: help;

    &:hover {
      color: $rust;
    }

    .bracket {
      margin: 0 4px;
      color: $grey_mid;
    }

    .name {
      display: inline-block;
      text-transform: capitalize;
    }

    .number { margin-left: 6px; }
  }
}
