@import '../../fonts';

.MechSheet {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  margin: 20px 20px 0;

  h2 {
    @include text_title_action;
    // text-align: center;
    margin: 16px 0;
  }

  .mech-container {
    @include shadow;
    @include parchment_background;
    @include nouveau_border("nouveau_character.svg");

    position: relative;
    box-sizing: border-box;
    padding: 8px 4% 8px;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;


    .mounts-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 20px;
    }
  }
}

button.MechMount {
  display: flex;
  flex-direction: column;

  width: 45%;
  min-width: 200px;
  padding: 8px 14px 10px;
  margin-bottom: 20px;
  text-align: left;

  border: 2px solid $parchment_dark;



  &:hover {
    background-color: $rust_light;
  }

  &.active {
    background-color: $rust;
    color: white;
  }

  &:disabled { background-color: transparent; }

  &.empty {
    border-color: $faded_grey;

    .mount-type {
      color: $grey_mid_light;
    }
  }

  .mount-type {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 4px;
  }

  .weapons-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;

    .mech-weapon {
      margin-top: 12px;
      text-align: left;
      font-size: 30px;
      text-transform: capitalize;
    }

    .i-have-no-weapon {
      font-size: 24px;
      font-style: italic;
      color: $grey_mid_light;
      margin: 12px auto 0;
    }
  }
}
