@import '../../fonts';

.MechTraits {
  margin-top: 26px;

  .label {
    @include text_monospace;
    font-size: 20px;
    color: $grey_mid;
    margin: 10px 0 4px;
  }

  .traits-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;

    @include below_max_width {
      grid-template-columns: 1fr;
    }

		.trait {
      padding: 0 0 12px;

      .name {
        background-color: $rust;
        color: white;
        padding: 4px 6px;
      }

      .description {
        // @include text_monospace;
        padding: 2px 6px;

      }
		}
  }


}
