@import '../../fonts';

.MechTraits, .MechCoreSystem {
  margin-top: 0;

  .label {
    @include text_monospace;
    font-size: 20px;
    color: $grey_mid_lighter;
    margin: 10px 0 4px;
  }

  .traits-container {
    display: grid;
    column-gap: 20px;
    grid-auto-flow: dense;
    grid-template-columns: 1fr 1fr;

    @include below_max_width { grid-template-columns: 1fr; }
  }

  .TraitBlock {
    padding: 0 0 12px;

    @include max_width {
      &.tall { grid-row: span 2; }
      &.wide, &:only-child { grid-column: span 2; }
    }

    button.name {
      display: block;
      width: 100%;
      text-align: left;
      background-color: $rust;
      color: white;
      padding: 6px 6px;

      &.title-case { text-transform: capitalize; }
      &.action { background-color: $crushed_velvet; }
      &.core-power { background-color: $rust_dark; }

      &:hover { filter: brightness(115%); }

      &.collapsed {
        background-color: $parchment_dark;
        color: $soft_black;

        &:hover { filter: brightness(85%); }
      }

      .detail {
        @include text_monospace;
        font-size: 12px;
        margin-top: 4px;
      }
    }

    .description {
      padding: 2px 6px;

      ul { margin: 4px 0; }
    }
  }
}
