@import '../../fonts';

.PilotAndMechList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  width: 100%;
  margin: auto;
}

// Overrides for CharacterAndMonsterList.scss
.CharacterList {
  width: 50%;
}


.MechList {
  @include shadow;
  @include parchment_background;
  @include nouveau_border('nouveau_list_characters.svg');

  width: 50%;
  min-width: 320px;
  min-height: 178px;
  margin: 20px 0;
  padding: 10px 11px;
  box-sizing: border-box;


  .title-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: $faded_grey;
    border-radius: 6px 6px 0 0;

    h2 {
      @include text_card_label;
      margin: 0 14px 0 0;
      padding: 6px 0 6px 12px;
    }
  }
}
