@import '../../fonts';

.PilotList, .MechList {
  margin: auto;
  width: 100%;
  max-width: 800px;
  min-width: 320px;
  min-height: 178px;
  box-sizing: border-box;

  // ul.EntryList li {
  //   width: 30%;
  // }
}

// Overrides for CharacterAndMonsterList.scss
.PilotList {
  .CharacterList {
    width: 100%;
    box-sizing: border-box;
  }
}


// this is the pilotlist too.... just roll with it
.MechList {
  @include shadow;
  @include parchment_background;
  @include nouveau_border('nouveau_list_characters.svg');

  padding: 10px 11px;

  ul.EntryList li {
    width: 100%;
    font-size: 24px;
  }

  .title-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: $parchment_dark;
    border-radius: 6px 6px 0 0;

    h2 {
      @include text_card_label;
      margin: 0 14px 0 0;
      padding: 6px 0 6px 12px;
    }
  }

  &.new-pilot {
    margin: 20px 0;

    .title-and-input {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      margin: 12px 6px 0;

      .title {
        color: $rust;
        font-size: 24px;
        width: 200px;
        text-align: center;
      }

      input {
        margin: 0;
        width: 200px;
      }
    }

    .instructions {
      margin-top: 12px;
      text-align: center;

      a { margin-left: 4px; }
    }

    button.cancel {
      display: block;
      margin: 18px auto 0;
      padding: 4px 16px;

      background-color: $parchment_dark;

      &:hover { background-color: $rust_light; }
    }
  }
}
