@import '../../fonts';

.WeaponRoller {
  @include shadow;
  @include parchment_background;
  @include nouveau_border("nouveau_character.svg");

  position: relative;
  box-sizing: border-box;
  margin-top: 20px;
  padding: 8px 4% 8px;
  width: 100%;
  max-width: 800px;


  .mounts-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .Mount {
      width: 30%;
      min-width: 200px;

      .Weapon {
        &:hover {
          background-color: $rust_light;
          cursor: pointer;
        }
      }
    }
  }
}
