@import '../../fonts';
@import '../../assets_lancer';

.WeaponRoller {
  @include shadow;
  @include parchment_background;
  @include nouveau_border("nouveau_character.svg");

  display: flex;
  flex-direction: column;

  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  // min-height: 500px;

  margin-top: 20px;
  padding: 8px 4% 8px;

  &.finished {
    min-height: unset;
  }

  .top-bar {
    .name-and-tags {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 12px;

      h3 {
        @include text_title_action;
        flex-shrink: 0;
        margin-bottom: 0;
        margin-right: 20px;
      }

      .tags {
        text-align: right;
      }
    }

    .damage-row {
      display: flex;
      margin-bottom: 12px;
    }

    .effect-row {
      padding: 16px 0;
      border-top: 2px solid $parchment_dark;
    }
  }

  .attacks-bar {
    button.add-target {
      display: flex;
      align-items: center;
      color: $rust;
      margin: 16px 0 36px;

      opacity: 0.5;
      transition: opacity .075s ease-out;

      &:hover { opacity: 1.0; }

      .asset.plus {
        width: 36px;
        height: 36px;
        margin-right: 8px;

        // turns black to $rust
        filter: invert(19%) sepia(35%) saturate(2526%) hue-rotate(342deg) brightness(89%) contrast(96%);
      }
    }
  }

  .status-bar {
    margin-top: auto;
    margin-bottom: 20px;
    font-style: italic;
    text-align: center;

    .action-buttons-container {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;

      button {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 30%;
        font-weight: bold;
        padding: 8px;
        // background-color: $parchment_dark;

        &:hover { background-color: $parchment_dark; }

        &.active {
          background-color: $parchment_dark;

          &:hover { background-color: $pink; }
        }

        .asset {
          width: 24px;
          height: 24px;
          margin-right: 6px;

          // turns black to an olive
          &.checkmark { filter: invert(29%) sepia(15%) saturate(3839%) hue-rotate(39deg) brightness(98%) contrast(101%); }

          // turns black to $crushed_velvet
          &.plus { filter: invert(20%) sepia(24%) saturate(879%) hue-rotate(287deg) brightness(97%) contrast(92%); }

          // turns black to $rust
          &.x { filter: invert(19%) sepia(35%) saturate(2526%) hue-rotate(342deg) brightness(89%) contrast(96%); }
        }

        &.finished {
          color: $olive_dark;
        }

        &.add-target {
          color: $crushed_velvet;
        }

        &.clear-attacks {
          color: $rust;
        }
      }
    }
  }
}
