@import '../../fonts';
@import '../../assets_lancer';

.WeaponAttack {
  margin-bottom: 16px;

  .damage-container {
    display: flex;
    align-items: center;
    min-height: 54px;

    .die-icon.asset {
      width: 36px;
      height: 36px;
      margin: 6px 0;
      flex-shrink: 0;

      // for crits
      .necrotic {
        width: 20px;
        height: 20px;
        margin: 9px auto;

        // turn black to white
        filter: invert(100%) sepia(100%) saturate(19%) hue-rotate(347deg) brightness(106%) contrast(104%);
      }
    }

    .result-roll {
      display: inline-block;
      width: 50px;
      padding: 0 24px 0 4px;
      font-size: 30px;
      position: relative;
    }

    .miss-line {
      border-top: 3px solid $parchment_dark;
      width: 100%;
      flex-grow: 0;
      margin-right: 30px;
    }

    .damage-line {
      display: flex;
      align-items: center;

      .damage-roll {
        display: flex;
        align-items: center;
        border-radius: 4px;
        margin-right: 16px;
        min-width: 34px;

        &.bonus {
          color: $rust;

          .asset-lancer {
            // turns black to $rust
            filter: invert(19%) sepia(35%) saturate(2526%) hue-rotate(342deg) brightness(89%) contrast(96%);
          }
        }

        .asset-lancer {
          width: 30px;
          height: 30px;
          margin-right: 2px;
        }

        .amount {
          font-size: 18px;
          &.discarded {
            color: $grey_mid;
            margin-right: 3px;
          }
        }
      }
    }

    .subtotal-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-left: auto;

      .subtotal {
        font-size: 50px;
        display: flex;
        align-items: center;
        margin-left: 8px;

        .asset-lancer {
          width: 36px;
          height: 36px;
          margin: 0 2px;
        }
      }
    }

  }

  .effects-container {
    margin-right: 10px;
    text-align: right;
    font-size: 18px;
    color: $rust;
  }
}
