@import '../../fonts';

.WeaponRoller {
  @include shadow;
  @include parchment_background;
  @include nouveau_border("nouveau_character.svg");

  position: relative;
  box-sizing: border-box;
  margin-top: 20px;
  padding: 8px 4% 8px;
  width: 100%;
  max-width: 800px;

  .top-bar {
    .name-and-tags {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      h3 {
        @include text_title_action;
        flex-shrink: 0;
        margin-bottom: 0;
        margin-right: 20px;
      }
    }

    .damage-row {
      display: flex;
      padding: 12px 0;

      .base-damage-container {
        padding: 0 30px;
      }

      .bonus-damage-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        > * {
          display: flex;
          align-items: center;
        }

        .bonus-damage-other {
          button {
            width: 30px;
            height: 18px;
            margin-right: 8px;
            background-color: $parchment_dark;
          }
        }
      }
    }
  }
}
