@import '../../fonts';


.WeaponRollerBonusDamage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;

  button {
    padding: 0;

    &:hover { background-color: $pink; }

    &.active {
      background-color: $rust;

      .amount-container {
        // turn black to white
        .asset-lancer, .asset { filter: invert(100%); }
        .amount { color: white; }
      }

      .label { color: white; }

      &:hover { background-color: $rust_light; }
    }
  }

  button.bonus-source, .generic-source-container, .multipliers-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 36px;

    .amount-container {
      display: flex;
      align-items: center;
      justify-content: center;

      .amount {
        min-width: 30px;
      }

      .asset { width: 24px; height: 24px; }
      .asset-lancer { width: 24px; height: 24px; }
    }

    .label {
      margin-left: 8px;
      padding-right: 8px;
      text-transform: capitalize;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .generic-source-container {
    .generic-source {
      min-width: 54px;
      height: 100%;

      .amount-container .amount { text-align: center; }

      &:hover { background-color: $pink; }

      &.active {
        background-color: $rust;
        color: white;
        &:hover { background-color: $rust_light; }
      }
    }

    .generic-reset {
      width: 100%;
      height: 100%;
      background-color: transparent;

      text-align: left;

      &.active {
        background-color: $rust;

        &:hover { background-color: $rust_light; }

        .label { color: white; }
      }

      &:disabled { cursor: auto; }
    }
  }

  .multipliers-container {
    display: flex;
    justify-content: space-between;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;

      &:hover { background-color: $parchment_dark; }
      .asset {
        width: 14px;
        height: 14px;
        margin-right: 4px;
      }

      &.active {
        background-color: $rust;
        color: white;

        &:hover { background-color: $rust_light; }
        .asset { filter: invert(100%); }
      }
    }
  }
}
