@import '../../fonts';


.WeaponRollerBaseDamage {
  min-width: 100px;
  margin-right: 20px;
  flex-shrink: 0;

  .base-damage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    font-size: 24px;
    margin-bottom: 2px;

    .damage-dice {
      display: flex;
      align-items: center;
      margin-left: 4px;

      .asset-lancer {
        display: inline-block;
        width: 28px;
        height: 28px;
      }
    }
  }

  .multipliers {
    display: flex;
    justify-content: space-between;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30%;

      > div { opacity: 0.5; }
      &:hover { background-color: $parchment_dark; }
      .asset {
        width: 12px;
        height: 12px;
      }

      &.active {
        background-color: $rust;
        color: white;

        > div { opacity: 1.0; }
        &:hover { background-color: $rust_light; }
        .asset { filter: invert(100%); }
      }
    }
  }
}
