@import '../../../fonts';

.Ideals {
  margin-bottom: 24px;

  ul {
    margin: 12px 0 0;
    padding-inline-start: 18px;

    li {
      font-size: 18px;
      margin-bottom: 14px;
    }
  }

  input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;

    background-color: $parchment_dark;
    border: none;
  }
}
