@import '../../../fonts';

.Ideals {
  margin-bottom: 24px;

  h4 {

    button {
      color: $rust;
      margin-top: 8px;
      margin-left: 4px;
      padding: 0 4px;
      border-radius: 2px;
      height: fit-content;

      &:hover { background-color: $parchment_dark; }
    }
  }



  ul {
    margin: 12px 0 0;
    padding-inline-start: 18px;

    li {
      font-size: 18px;
      margin-bottom: 14px;

      &.minor-ideal {
        .TextInput {
          margin-left: -4px;

          .display, input {
            color: $rust;
            font-size: 18px;
            text-align: left;
            // font-style: normal;
            width: 100%;
          }
        }
      }
    }
  }
}
