@import '../../../fonts';

.QAndA {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 14px;

  .question {
    color: $rust;
    font-style: italic;
    margin-bottom: 4px;
  }

  .answer {
    // font-weight: bold;
    font-size: 18px;
  }
}
