@import '../../../fonts';

.SquadClockPanel {
	@include standard_side_margin;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
	overflow: hidden;

  .panel {
    @include shadow;
		background-color: $concrete_violet_dark;

		border: 8px double $crushed_velvet;
		border-left: none;
		border-right: none;
		border-radius: 14px;

		position: relative;
    box-sizing: border-box;
    padding: 16px 0;
    width: 100%;
    max-width: 800px;

		h3.squad-label {
			font-size: 46px;
			font-weight: normal;

			text-align: center;
			color: $crushed_velvet;
			margin: 0 0 12px;
		}

		.clocks-container {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			.Clock { margin-bottom: 16px; }
		}
	}
}

.AddSquadClockButton {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin: auto;

	border: 6px double $crushed_velvet;
	border-left: none;
	border-right: none;
	border-radius: 14px;

	.asset {
		width: 42px;
		height: 42px;
		margin-right: 2px;
		margin-left: 40px;

		// black to $crushed_velvet_dark
		filter: invert(9%) sepia(58%) saturate(2075%) hue-rotate(288deg) brightness(95%) contrast(104%);
	}

	.TextInput {
		// background-color: $crushed_velvet;
		width: 164px;
		margin-right: 12px;
		// height: 124px;

		&:hover {
			background-color: $concrete_violet;
		}

		.display, input {
			@include text_monospace;
			width: 100%;
			height: 100%;

			font-style: normal;
			font-size: 22px;
			color: $crushed_velvet_dark;
		}

		input {
			background-color: $concrete_violet;
		}
	}


}
