@import 'assets';
@import 'fonts';

.App {
  @include text_default;
  -webkit-font-smoothing: antialiased;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  * {
    transition: background-color .075s ease-out;
  }

  h1.site-title {
    @include text_h1;
    margin: 26px 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    // to get it to wrap in the right order
    div {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .beta-label {
    text-align: center;
    font-style: italic;
    margin-bottom: 10px;
    color: $grey_mid;
    font-size: 14px;
  }

  @media screen and (max-width: 430px) {
    h1.site-title { font-size: 28px; margin-top: 36px;}
  }


  a {
    color: seagreen;

    &:hover { color: olive }
  }

  input[type=checkbox], input[type=radio] {
    cursor: pointer;

    &:disabled {
      cursor: auto;
    }
  }

  input[type=text] {
    @include text_input;
  }

  .unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  hr.pumpkin-bar {
    outline: 2px solid $soft_black;
    background-color: $pumpkin;
    height: 7px;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
  }

  .roll-mode {
    input, label { cursor: pointer; }
    h2 { display: inline; }

    .mode-title {
      display: flex;
      align-items: center;
    }

    &.full {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 20px auto 100px;

      .mode-container {
        width: 300px;
        border-radius: 40px;
        padding: 40px 10px 30px;
        margin: 30px;
        // border: 2px solid $rust;

        background-color: $pink;
        &:hover { background-color: $rust_light; }

        .mode-title h2 {
          font-size: 34px;
          margin: 10px auto 16px;
        }

        p.mode-desc {
          font-size: 20px;
          text-align: center;
          margin: 0 40px 20px;
          line-height: 1.5;

        }

        input { display: none; }
      }
    }

    &.minimized {
      position: absolute;
      left: 20px;
      top: 20px;

      display: flex;
      flex-direction: column;

      .mode-container {
        border-radius: 4px;

        background-color: $parchment;
        &:hover {
          background-color: $parchment_dark;
          color: $soft_black;
        }
        &.selected {
          background-color: $rust;
          color: white;
        }

        .mode-title {
          display: flex;
          align-items: center;

          h2 {
            margin: 2px 6px;
            font-size: 16px;
            font-weight: normal;
          }
          input { display: none;}
        }

        .mode-desc { display: none; }
      }
    }
  }
}
