@import 'assets';
@import 'fonts';

.App {
  @include text_default;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  input[type=checkbox], input[type=radio] {
    cursor: pointer;

    &:disabled {
      cursor: auto;
    }
  }

  .unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
