
.asset {
  width: 64px;
  height: 64px;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;

  &.d4 { background-image: url('/assets/dice/d4.svg'); }
  &.d6 { background-image: url('/assets/dice/d6.svg'); }
  &.d8 { background-image: url('/assets/dice/d8.svg'); }
  &.d10 { background-image: url('/assets/dice/d10.svg'); }
  &.d12 { background-image: url('/assets/dice/d12.svg'); }
  &.d20 { background-image: url('/assets/dice/d20.svg'); }
  &.d0 { background-image: url('/assets/dice/d0.svg'); }

  &.acid { background-image: url('/assets/types/acid.svg'); }
  &.bludgeoning { background-image: url('/assets/types/bludgeoning.svg'); }
  &.cold { background-image: url('/assets/types/cold.svg'); }
  &.fire { background-image: url('/assets/types/fire.svg'); }
  &.force { background-image: url('/assets/types/force.svg'); }
  &.lightning { background-image: url('/assets/types/lightning.svg'); }
  &.necrotic { background-image: url('/assets/types/necrotic.svg'); }
  &.piercing { background-image: url('/assets/types/piercing.svg'); }
  &.psychic { background-image: url('/assets/types/psychic.svg'); }
  &.poison { background-image: url('/assets/types/poison.svg'); }
  &.radiant { background-image: url('/assets/types/radiant.svg'); }
  &.slashing { background-image: url('/assets/types/slashing.svg'); }
  &.thunder { background-image: url('/assets/types/thunder.svg'); }

  &.plus { background-image: url('/assets/plus.svg'); }
  &.checkmark { background-image: url('/assets/checkmark.svg'); }
  &.x { background-image: url('/assets/x.svg'); }
  &.trash { background-image: url('/assets/trash.svg'); }
  &.d20_frame { background-image: url('/assets/d20_frame.svg'); }

  &.list_dot { background-image: url('/assets/list_dot.svg'); }
  &.list_check { background-image: url('/assets/list_check.svg'); }
  &.list_x { background-image: url('/assets/list_x.svg'); }

  &.trans_pride { background-image: url('/assets/trans_pride.svg'); }
  &.olive_portrait { background-image: url('/assets/olive.png'); }

  &.logo { background-image: url('/assets/logo.svg'); }
  &.site_banner { background-image: url('/assets/banner.svg'); }
  &.witchcraft_banner { background-image: url('/assets/witchcraft_banner.jpg'); }
}
