.asset {
  // width: 64px;
  // height: 64px;
  // background-size: cover;
  // background-position: center;
  // flex-shrink: 0;

  // WHEN ADDING NEW ICONS:
  // ALL lancer icons have a weird -64 in their viewport. Change to 0 to fix them.

  &.burn { background-image: url('./assets/lancer/damage_burn.svg'); }
  &.energy { background-image: url('./assets/lancer/damage_energy.svg'); }
  &.explosive { background-image: url('./assets/lancer/damage_explosive.svg'); }
  &.heat { background-image: url('./assets/lancer/damage_heat.svg'); }
  &.kinetic { background-image: url('./assets/lancer/damage_kinetic.svg'); }
  &.variable { background-image: url('./assets/lancer/damage_variable.svg'); }

  &.accuracy { background-image: url('./assets/lancer/accuracy.svg'); }
  &.difficulty { background-image: url('./assets/lancer/difficulty.svg'); }

  &.threat { background-image: url('./assets/lancer/threat.svg'); }
  &.range { background-image: url('./assets/lancer/range.svg'); }
  &.blast { background-image: url('./assets/lancer/aoe_blast.svg'); }
  &.burst { background-image: url('./assets/lancer/aoe_burst.svg'); }
  &.cone { background-image: url('./assets/lancer/aoe_cone.svg'); }
  &.line { background-image: url('./assets/lancer/aoe_line.svg'); }

  &.repair { background-image: url('./assets/lancer/repair.svg'); }
  &.core-power-empty { background-image: url('./assets/lancer/core_power_empty.svg'); }
  &.core-power-full { background-image: url('./assets/lancer/core_power_full.svg'); }
  &.overshield-outline { background-image: url('./assets/lancer/overshield_outline.svg'); }
  &.overshield { background-image: url('./assets/lancer/overshield.svg'); }
  &.armor { background-image: url('./assets/lancer/shield_outline.svg'); }

  &.size-half { background-image: url('./assets/lancer/size_half.svg'); }
  &.size-1 { background-image: url('./assets/lancer/size_1.svg'); }
  &.size-2 { background-image: url('./assets/lancer/size_2.svg'); }
  &.size-3 { background-image: url('./assets/lancer/size_3.svg'); }
  &.size-4 { background-image: url('./assets/lancer/size_4.svg'); }


  &.albatross { background-image: url('./assets/lancer/faction_logos/albatross.svg'); }
  &.aun { background-image: url('./assets/lancer/faction_logos/aun.svg'); }
  &.barony { background-image: url('./assets/lancer/faction_logos/barony.svg'); }
  &.gms { background-image: url('./assets/lancer/faction_logos/gms.svg'); }
  &.ha { background-image: url('./assets/lancer/faction_logos/ha.svg'); }
  &.horus { background-image: url('./assets/lancer/faction_logos/horus.svg'); }
  &.ips-n { background-image: url('./assets/lancer/faction_logos/ips-n.svg'); }
  &.sparri { background-image: url('./assets/lancer/faction_logos/sparri.svg'); }
  &.ssc { background-image: url('./assets/lancer/faction_logos/ssc.svg'); }
  &.union { background-image: url('./assets/lancer/faction_logos/union.svg'); }
  &.voladores { background-image: url('./assets/lancer/faction_logos/voladores.svg'); }

  &.ssc-watermark { background-image: url('./assets/lancer/faction_logos/ssc-watermark.svg'); }
  &.butterfly-watermark { background-image: url('./assets/bg_butterfly.webp'); }
}
