

$rust: #872f1b;
$rust_light: #ce7a67;
$pink: #daafa4;

$olive_light: #a1c27c;
$olive_dark: #455800;

$parchment: #fbf1de;
$parchment_mid: #fae5be;
$parchment_dark: #dec9a3;
$pumpkin: #dc9c43;



$grey_light: #dedede;
$grey_mid: #777;
$grey_dark: #505050;
$soft_black: #0f0a03;
