

@mixin text_default {
  font-size: 16px;
}

@mixin text_character_name {
  font-size: 38px;
}

@mixin text_attack_name {
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
}

@mixin text_attack_roll_count {
  font-size: 22px;
  color: white;
  font-weight: bold;
}
//
// @mixin text_roll_button {
//   font-size: 30px;
// }

@mixin text_total {
  font-size: 80px;
}

@mixin text_roll_used {
  font-size: 30px;
}

@mixin text_roll_discarded {
  font-size: 12px;
  font-style: italic;
  color: steelblue;
}

@mixin text_critical_hit {
  font-size: 28px;
}
