@import './colors';

@import url('https://fonts.googleapis.com/css?family=Bitter:regular,bold,italic&subset=latin,latin-ext');


@mixin text_default {
  font-family: 'Bitter';
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  color: $soft_black;
}

@mixin text_h1 {
  font-size: 40px;
}

@mixin text_character_list {
  font-size: 18px;
  font-weight: normal;
  color: $rust;
}

@mixin text_character_name {
  font-size: 56px;
  color: $rust;
}

@mixin text_attack_name {
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
}

@mixin text_input {
  font-family: 'Bitter';
  font-size: 16px;
  font-style: italic;
  color: grey;
}

@mixin text_active_attack_name {
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}

@mixin text_roll_attacks {
  font-family: 'Bitter';
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  color: $rust;
}

@mixin text_attack_roll_count {
  font-family: 'Bitter';
  font-size: 16px;
  color: white;
  font-weight: bold;
}

@mixin text_total {
  font-size: 80px;
}

@mixin text_roll_used {
  font-size: 30px;
}

@mixin text_roll_used_summation {
  font-size: 22px;
}

@mixin text_roll_discarded {
  font-size: 12px;
  font-style: italic;
  color: steelblue;
}

@mixin text_critical_hit {
  font-size: 22px;
  color: crimson;
}

@mixin text_fumble {
  font-size: 18px;
  color: darkgrey;
  font-style: italic;
}

@mixin text_roll_subtotal {
  font-size: 30px;
}

@mixin text_clear_rolls {
  font-family: 'Bitter';
  font-size: 20px;
}

@mixin text_dicebag_summary {
  font-size: 22px;
}

@mixin text_dicebag_count {
  font-family: 'Bitter';
  font-size: 36px;
}

@mixin text_party_roll_number {
  font-size: 16px;
}

@mixin text_party_roll_sum {
  font-size: 18px;
  font-weight: bold;
}

@mixin text_party_roll_condition {
  font-size: 14px;
  font-style: italic;
}

@mixin text_party_roll_attackname {
  font-size: 14px;
  font-style: italic;
  color: $grey_mid;
}

@mixin text_license {
  font-size: 12px;
}

@mixin text_legalese {
  font-size: 8px;
}
