@import '../../../fonts';

.AttackRollOutput {
  margin-right: 20px;

  .final-result-container {
    display: flex;
    align-items: center;

    button.die-and-result {
      position: relative;
      padding: 0;

      > * { transition: opacity .1s .5s; }

      &:disabled {
        pointer-events: none;
      }

      &:hover { background-color: $parchment_dark; }

      &.expanded {
        > * { transition: opacity 0s 0s; }

        background-color: $parchment_dark;
        &:hover { background-color: $rust_light; }
      }

      // SWAP TO SOURCE ROLLS ON HOVER
      &.condensed:not(.manual) {

        &:hover {
          .current-result-container { opacity: 0.0; }
          .to-hit-container { opacity: 1.0; }
        }
      }

      .current-result-container {
        display: flex;
        align-items: center;

        .die-icon.asset {
          width: 36px;
          height: 36px;
          margin: 6px;

          // for crits
          .necrotic {
            width: 20px;
            height: 20px;
            margin: 9px auto;

            // turn black to white
            filter: invert(100%);
          }
        }

        .result {
          width: 60px;
          padding: 0 4px;
          position: relative;
          display: inline-block;
          font-size: 30px;
          text-align: left;
        }
      }

      .to-hit-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.0;

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 18px;

        span {
          display: inline-block;

          &.asset {
            width: 16px;
            height: 16px;
          }

          &.plus {
            padding: 0 2px;
          }

        }
      }
    }

    input.manual-result {
      font-family: 'Bitter';
      padding: 2px 0;
      width: 60px;
      border: 4px solid $parchment_dark;
      background-color: $parchment_mid;
      text-align: center;
      font-size: 30px;

    }
  }

  .expanded-container {
    display: flex;
    justify-content: space-between;

    > * {
      margin: 4px 0 0 0;
      padding: 4px 0;
    }

    button {
      width: 48%;
      background-color: $parchment_dark;
      // &:first-child { margin-right: 6px; }

      &.active {
        background-color: $rust;

        .asset {
          // turn black to white
          filter: invert(100%);
        }
      }

      &:hover {
        background-color: $rust_light;
      }

      .asset {
        width: 18px;
        height: 18px;
        margin: auto;
      }
    }

    // input {
    //   width: 106px;
    //   border: 0;
    //   padding-top: 7px;
    //   text-align: center;
    //   font-size: 16px;
    //   box-sizing: border-box;
    // }
  }

}
