@import '../../../fonts';

.WeaponAttack {

  &:first-child { border-top: 2px solid $parchment_dark; }
  &:not(:last-child) { margin-bottom: 16px; }

  .damage-container {
    display: flex;
    align-items: center;
    min-height: 78px;

    > * { flex-shrink: 0; }

    .finished-miss {
      margin-left: auto;
      margin-right: 6px;
      font-size: 18px;
      font-weight: bold;
      color: $rust;
    }

    .damage-line {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      flex-shrink: 1;
    }
  }

  .effects-container {
    display: flex;
    flex-direction: column;
    margin-right: 6px;
    font-size: 18px;
    color: $rust;

    > div {
      margin-bottom: 8px;
      margin-left: auto;
    }
  }
}
