@import '../../../fonts';

.WeaponAttack {

  &:first-child { border-top: 2px solid $parchment_dark; }
  &:not(:last-child) { margin-bottom: 16px; }

  .damage-container {
    display: flex;
    align-items: center;
    min-height: 78px;

    > * { flex-shrink: 0; }

    .miss-line {
      border-top: 3px solid $parchment_dark;
      width: 100%;
      box-sizing: border-box;
      flex-shrink: 100000;
      margin-right: 30px;
    }

    .damage-line {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      flex-shrink: 1;
    }
  }

  .effects-container {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    font-size: 18px;
    color: $rust;

    > div {
      margin-bottom: 8px;
      margin-left: auto;
    }
  }
}
