@import '../../fonts';

button.DeleteLocalContentButton {
  display: block;
  padding: 6px 40px;
  margin: 10px auto;
  background-color: $rust;
  border-radius: 6px;
  color: white;

  &:hover {
    background-color: $rust_light;
    // color: black;
  }
}
