@import '../../fonts' ;

.MainSettings {

  margin: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;

  .settings-and-about {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .tips-tricks-container {
    margin: 30px 10px 10px;
  }

  // used by several panels.
  .settings-section {
    padding: 0 35px;
  }

  h2 {
    text-align: center;
  }

  h3 {
    @include text_title_heavy;
    text-align: center;
    margin: 24px 15px 0;
    padding: 20px 0;
    border-top: 2px solid $faded_gold;

    &.no-top-border {
      border: none;
      margin-top: 0;
    }
  }

  p {
    line-height: 1.4;
  }
}
