@import '../../fonts';

.SiteAbout {
  @include shadow;
  @include parchment_background;
  @include nouveau_border('nouveau_roller.svg');

  // width: 100%;
  max-width: 480px;
  box-sizing: border-box;

  padding: 30px 0 30px;
  margin: 30px 10px 0;

  p {
    margin-top: 0;
  }

  a {
    text-decoration: none;
  }

  p.tipjar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

    a {
      display: inherit; // ???

      .asset.kofi {
        display: inline-block;
        width: 26px;
        height: 26px;
        margin-left: 6px;
      }
    }
  }
}
