@import '../../fonts';

.SiteSettings {
  @include shadow;
  @include parchment_background;
  @include nouveau_border('nouveau_roller.svg');

  width: 100%;
  max-width: 480px;
  box-sizing: border-box;

  padding: 30px 35px 80px;
  margin: 30px auto 0;

  // h2 {
  //   text-align: center;
  // }

  h3 {
    @include text_title_heavy;
    text-align: center;
  }

  .navbar-settings-container {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    // flex-wrap: wrap;

    border: 4px double #eebf88; // darker faded gold
    border-radius: 16px;
    padding: 8px 12px;
    margin: auto;

    label {
      margin: 6px 0;
      padding: 6px;
      border-radius: 6px;
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover { background-color: $parchment_dark; }

      &.unavailable {
        background: none;
        cursor: auto;
      }

      input {
        margin-right: 16px;
        width: 24px;
        height: 24px;
      }

      .title-and-desc {
        display: flex;
        flex-direction: column;
        .title {
          @include text_label;
        }

        .desc {

        }
      }
    }
  }

}
