@import '../../../fonts';

.LancerPlayerMode {
  display: flex;
  flex-direction: column;
  row-gap: 12px;

  > .LoadinDots {
    margin: 80px auto;
  }

  .mechlist-or-bonds {
    @include standard_side_margin;
    display: flex;
    max-width: 800px;
    margin: auto;

    @include below_max_width {
      flex-direction: column-reverse;
    }

    .PlainList .panel {
      margin: 0;
      max-width: unset;
    }
  }
}
