@import '../../../fonts';

$right_column_wid: 370px;

.PilotDossier {
  @include standard_side_margin;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;

  .dossier-container {
    @include shadow;
    @include parchment_background;
    @include nouveau_border("nouveau_character.svg");
    @include text_monospace;

    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;

    padding: 16px;
    @include below_max_width { padding: 18px 12px 30px; }


    .watermark-container {
      width: 100%;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .diamond {
      position: relative;

      @include below_max_width { margin: 20px 8px 0; }

      @include constricted {
        margin-left: calc(50% - 106px;)
      }

      .portrait {
        width: 200px;
        height: 200px;
        margin: 6px;

        float: left;
        shape-outside: polygon(50% 0,100% 50%,50% 100%,0 50%);
        clip-path: polygon(50% 0,100% 50%,50% 100%,0 50%);

        background-color: $parchment_dark;
        background-size: 104px;

        color: transparent; // hide alt text

        display: flex;
        justify-content: center;
        align-items: center;

        @include constricted {
          float: none;
        }

        img { height: 100%; }
      }

      .ll-tab {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        position: absolute;
        top: 2px;
        left: 2px;
        width: 60px;
        height: 60px;
        text-align: center;

        transform: rotate(-45deg);

        .label {
          white-space: nowrap;
          font-size: 14px;
          color: $grey_mid;
        }

        .license-level {
          font-size: 50px;
          line-height: 1;
          color: $rust;
        }
      }

      .gene-tab {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        position: absolute;
        top: 148px;
        left: 4px;
        width: 60px;
        height: 60px;
        text-align: center;
        transform: rotate(45deg);

        opacity: 0.5;

        .label {
          font-size: 14px;
          color: $grey_mid;
        }

        .gene {
          font-size: 40px;

          &.LC, &.NT { color: $pink; }
          &.VU, &.EN { color: $rust_light; }
          &.CR, &.EW { color: $crushed_velvet; }
          &.EX       { color: $green_witch; }
        }
      }
    }

    .NameAndCallsign {
      padding-top: 6px;

      &.desktop-only {
        height: 100px;
        @include below_max_width { display: none; }
      }

      &.mobile-only {
        display: flex;
        flex-direction: column;
        margin: 0 16px;
        @include max_width { display: none; }
      }

      .callsign {
        font-size: 42px;
        color: $rust;
        line-height: 50px;
        position: relative;

        @include max_width { height: 50px; }

        &.sliced::after {
          content: '⋮';
        }
      }

      .name {
        font-size: 20px;
        line-height: 24px;
      }

      .hase {
        display: flex;
        float: right;
        font-size: 16px;
        text-transform: capitalize;
        margin-top: 6px;
        order: 10; // bottom of mobile-only;

        > div {
          margin-right: 36px;

          .attribute { color: $grey_mid; }
        }


        @include max_width {
          width: $right_column_wid - 4px;
        }

        @include constricted {
          justify-content: space-around;
          flex-wrap: wrap;
          margin-top: 12px;

          > div {
            text-align: center;
            margin-right: 0;
            width: 50%;
          }
        }

      }

      .background {
        text-transform: capitalize;
        margin-top: 6px;
        font-size: 14px;
        color: $grey_mid;
      }
    }


    .lists-of-things {
      &.primary {
        @include constricted { margin-top: 20px; }
      }

      &.secondary {
        padding-bottom: 8px;
      }

      &.tertiary {
        @include max_width {
          display: flex;
          justify-content: space-between;
          width: 100%;
          box-sizing: border-box;
          padding: 6px 0px 16px 12px;
          border-top: 3px solid $faded_gold;
        }

        .gear-and-sharecode {
          display: flex;
          flex-direction: column;

          .share-code {
            // text-align: right;
            font-size: 14px;
            color: $grey_mid;
            margin: 4px 12px 0;
          }
        }
      }

      .MechanicsList {
        @include constricted { margin-left: 8px; }

        &.core-bonuses {
          margin-left: 8px;
          margin-bottom: 4px;

          @include max_width {
            float: right;
            width: $right_column_wid;
          }

          .label { margin-top: 0; }
        }

        &.gear {
          flex-shrink: 0;
          margin-left: 8px;

          @include max_width {
            width: $right_column_wid;
          }
        }
      }
    }
  }
}
